In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv(r"C:\Users\i\Downloads\fear-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

         Id                                              tweet emotion  score
0     20000  I feel like I am drowning. #depression #anxiet...    fear  0.979
1     20001  I get so nervous even thinking about talking t...    fear  0.979
2     20002                     I lost my blinders .... #panic    fear  0.975
3     20003  I feel like I am drowning. #depression  #falur...    fear  0.938
4     20004  This is the scariest American Horror Story out...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142     Pull over #tonight and make your car #shake ðŸ˜‹ðŸ’¦    fear  0.104
1143  21143  @Melanie_Pierce @HunterHayes awe ain't he a sw...    fear  0.083
1144  21144         @FraserKeegan just had a steak pie supper     fear  0.083
1145  21145      @annalisewrobel_ awe thank you so much love ðŸ’•    fear  0.062
1146  21146                             Omg he kissed herðŸ™ˆ  #w    fear  0.062

[1147 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text) 
    text = re.sub(r'\d+', '', text)  
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

         Id                                              tweet emotion  score
0     20000  i feel like i am drowning #depression #anxiety...    fear  0.979
1     20001  i get so nervous even thinking about talking t...    fear  0.979
2     20002                          i lost my blinders #panic    fear  0.975
3     20003  i feel like i am drowning #depression #falure ...    fear  0.938
4     20004  this is the scariest american horror story out...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142        pull over #tonight and make your car #shake    fear  0.104
1143  21143              awe aint he a sweetheart hes adorable    fear  0.083
1144  21144                        just had a steak pie supper    fear  0.083
1145  21145                         awe thank you so much love    fear  0.062
1146  21146                               omg he kissed her #w    fear  0.062

[1147 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

         Id                                              tweet emotion  score
0     20000  [i, feel, like, i, am, drowning, #depression, ...    fear  0.979
1     20001  [i, get, so, nervous, even, thinking, about, t...    fear  0.979
2     20002                    [i, lost, my, blinders, #panic]    fear  0.975
3     20003  [i, feel, like, i, am, drowning, #depression, ...    fear  0.938
4     20004  [this, is, the, scariest, american, horror, st...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142  [pull, over, #tonight, and, make, your, car, #...    fear  0.104
1143  21143      [awe, aint, he, a, sweetheart, hes, adorable]    fear  0.083
1144  21144                 [just, had, a, steak, pie, supper]    fear  0.083
1145  21145                  [awe, thank, you, so, much, love]    fear  0.062
1146  21146                       [omg, he, kissed, her, #, w]    fear  0.062

[1147 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']
def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

         Id                                              tweet emotion  score
0     20000  [feel, like, drowning, #depression, #anxiety, ...    fear  0.979
1     20001  [get, nervous, even, thinking, talking, wanna,...    fear  0.979
2     20002                           [lost, blinders, #panic]    fear  0.975
3     20003  [feel, like, drowning, #depression, #falure, #...    fear  0.938
4     20004  [scariest, american, horror, story, im, gonna,...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142                [pull, #tonight, make, car, #shake]    fear  0.104
1143  21143             [awe, aint, sweetheart, hes, adorable]    fear  0.083
1144  21144                               [steak, pie, supper]    fear  0.083
1145  21145                           [awe, thank, much, love]    fear  0.062
1146  21146                                      [omg, kissed]    fear  0.062

[1147 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features

df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
from sklearn.utils import shuffle
df1 = shuffle(df1)
df1

,Id,tweet,emotion,score,features
481,20481,"[peoples, deepest, passions, often, scare, muc...",fear,0.521,"[[-0.10522045, 0.3467327, -0.115954235, 0.0466..."
779,20779,"[worry, emphasis, keeping, family, together, g...",fear,0.396,"[[0.02802974, 0.16173235, -0.29791534, -0.2053..."
1111,21111,"[mattmilne, thank, letting, us, know, please, ...",fear,0.146,"[[-0.44774464, 0.15478161, 0.22762844, -0.2787..."
713,20713,"[says, teufel, reassigned, within, organizatio...",fear,0.417,"[[-0.993639, -0.15127987, -0.2219348, -0.25596..."
753,20753,"[follow, amazing, australian, author, #fiction...",fear,0.396,"[[-0.003132152, 0.0018000547, -0.03818727, 0.2..."
...,...,...,...,...,...
147,20147,"[go, back, weeks, start, seriously, dreadful]",fear,0.729,"[[0.18815905, 0.42615047, -0.043639872, 0.1192..."
327,20327,"[overtime, #teamna, #wch, #nervous]",fear,0.604,"[[-0.74993813, -0.17208055, -0.07791391, -0.13..."
432,20432,"[terrorism, intimidate, populace, case, held, ...",fear,0.562,"[[0.16953777, 0.2876624, -0.24679744, -0.06413..."
885,20885,"[ending, met, mother, dreadful]",fear,0.333,"[[-0.22394809, -0.0057124486, -0.115094736, -0..."
1000,21000,"[everywhere, go, air, breathe, tastes, like, h...",fear,0.271,"[[-0.25973818, 0.3977982, 0.30027336, -0.37580..."

In [17]:
df1.features[0].shape

(15, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
481,20481,"[peoples, deepest, passions, often, scare, muc...",fear,0.521,"[[-0.10522045, 0.3467327, -0.115954235, 0.0466..."
779,20779,"[worry, emphasis, keeping, family, together, g...",fear,0.396,"[[0.02802974, 0.16173235, -0.29791534, -0.2053..."
1111,21111,"[mattmilne, thank, letting, us, know, please, ...",fear,0.146,"[[-0.44774464, 0.15478161, 0.22762844, -0.2787..."
713,20713,"[says, teufel, reassigned, within, organizatio...",fear,0.417,"[[-0.993639, -0.15127987, -0.2219348, -0.25596..."
753,20753,"[follow, amazing, australian, author, #fiction...",fear,0.396,"[[-0.003132152, 0.0018000547, -0.03818727, 0.2..."
125,20125,"[focal, points, war, lie, #terrorism, #un, nee...",fear,0.750,"[[-0.3313101, 0.19597748, -0.13628939, -0.1737..."
939,20939,"[walk, right, see, way, past, dont, even, hesi...",fear,0.312,"[[-0.12020782, 0.26181188, -0.15412205, -0.371..."
320,20320,"[first, take, room, wanna, beat, #bully]",fear,0.604,"[[-0.29258454, -0.11945913, 0.15943666, -0.004..."
358,20358,"[im, shy, girl]",fear,0.583,"[[-0.39446625, 0.20099491, -0.23982096, -0.095..."
274,20274,"[librarians, scare]",fear,0.646,"[[-0.3052356, 0.12111623, -0.3220107, -0.06530..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = df1['features'].tolist()
padded_features = pad_sequences(features, padding='post')
padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
x = np.stack(padded_df['features'])

In [21]:
y = np.array(padded_df['score'])    
print("Input shape:", x.shape)
print("Output shape:", y.shape)

Input shape: (1147, 41, 768)
Output shape: (1147,)

In [24]:
x = np.reshape(x, (1147, 41 * 768))  
y = np.reshape(y, (1147,))

In [25]:
y

array([0.521, 0.396, 0.146, ..., 0.562, 0.333, 0.271])

In [26]:
X=x.copy()  
Y=y.copy()

In [27]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

alpha = 2000
model = Ridge(alpha=alpha)
model.fit(X, Y)

Ridge(alpha=2000)

In [28]:
y_pred = model.predict(X)
mse = mean_squared_error(Y, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.024659146675577955

In [29]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.12857036427267948

In [30]:
import joblib
save_path = 'regression_model.pkl'
joblib.dump(model, save_path)

['regression_model.pkl']

In [31]:
df2= pd.read_csv(r"C:\Users\i\Downloads\fear-ratings-0to1.dev.gold.txt", delimiter='\t', header=None)
df2.columns = ['Id', 'tweet', 'emotion', 'score']

In [32]:
df2

        Id                                              tweet emotion  score
0    21147  I know this is going to be one of those nights...    fear  0.771
1    21148  This is #horrible: Lewis Dunk has begun networ...    fear  0.479
2    21149  @JeffersonLake speaking of ex cobblers, saw Ri...    fear  0.417
3    21150  @1johndes ball watching &amp; Rojo'd header wa...    fear  0.475
4    21151  Really.....#Jumanji 2....w/ The Rock, Jack Bla...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  Staff on @ryainair FR1005. Asked for info and ...    fear  0.312
106  21253  Staff on @ryainair FR1005. Asked for info and ...    fear  0.271
107  21254  An adviser to the #European #Unionâ€™s top #cour...    fear  0.500
108  21255  So about 18mths ago i signed up to @Lumo_Energ...    fear  0.479
109  21256  So about 18mths ago i signed up to @Lumo_Energ...    fear  0.271

[110 rows x 4 columns]

In [33]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df2['tweet'] = df2['tweet'].apply(preprocess_tweet)

In [34]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df2['tweet'] = df2['tweet'].apply(remove_mentions)

In [35]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df2['tweet'] = df2['tweet'].apply(clean_text)

In [36]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text
df2['tweet'] = df2['tweet'].apply(convert_emoji)

In [37]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df2['tweet'] = df2['tweet'].apply(tokenize_tweets)

In [38]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens
df2['tweet'] = df2['tweet'].apply(remove_stopwords)

In [39]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features
df2['features'] = df2['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [40]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features2 = df2['features'].tolist()
padded_features2 = pad_sequences(features2, padding='post')
padded_df2 = df2.copy()
padded_df2['features'] = padded_features2.tolist()

In [41]:
X = np.stack(padded_df2['features'])
print('Input feature shape:', X.shape)

Input feature shape: (110, 40, 768)

In [42]:
print('Input feature shape:', X.shape)

Input feature shape: (110, 40, 768)

In [43]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
max_sequence_length=41
X_=pad_sequences(X,maxlen=max_sequence_length,padding="post",truncating='post')

In [44]:
X_ = np.reshape(X_, (110, 41 * 768))

In [45]:
saved_model_path = 'regression_model.pkl'
loaded_model = joblib.load(saved_model_path)

In [46]:
predictions = loaded_model.predict(X_)
predictions

array([0.47317431, 0.51554596, 0.51838605, 0.48937823, 0.46480545,
       0.4940073 , 0.46339023, 0.46041275, 0.51100973, 0.57354942,
       0.54629037, 0.50375776, 0.54503522, 0.51344387, 0.51606033,
       0.50013619, 0.5203113 , 0.49215348, 0.47690336, 0.53233144,
       0.45409032, 0.40398657, 0.53771556, 0.51697993, 0.5133957 ,
       0.49163083, 0.5535666 , 0.52349757, 0.48908679, 0.49028713,
       0.46914896, 0.49873005, 0.4455776 , 0.53374283, 0.52689141,
       0.49410597, 0.53443457, 0.49314568, 0.50862165, 0.53405874,
       0.49104613, 0.52270607, 0.47841745, 0.51828496, 0.45073503,
       0.53704695, 0.50829522, 0.53490113, 0.49431941, 0.48801483,
       0.50556369, 0.52735146, 0.50163971, 0.4270643 , 0.47559902,
       0.48699087, 0.48636851, 0.48628448, 0.52353165, 0.50077538,
       0.48705047, 0.4627847 , 0.38544998, 0.48306581, 0.50358646,
       0.48745773, 0.47107445, 0.52047463, 0.49071267, 0.49484818,
       0.51687043, 0.48300814, 0.49893933, 0.50645369, 0.51864361,
       0.49968753, 0.4821455 , 0.53310495, 0.54176448, 0.53988291,
       0.49361399, 0.46678334, 0.44554089, 0.4311031 , 0.4549834 ,
       0.4869882 , 0.49041997, 0.52003413, 0.49285958, 0.54860168,
       0.51854803, 0.45184422, 0.44934447, 0.48457573, 0.43779447,
       0.40676456, 0.51076593, 0.42498079, 0.52562442, 0.51577312,
       0.48155861, 0.45256486, 0.4126057 , 0.44393082, 0.48735081,
       0.47311135, 0.49690663, 0.52656458, 0.50519151, 0.46255246])

In [47]:
df2['predict']=pd.DataFrame(predictions)

In [48]:
mse=mean_squared_error(df2['score'],df2['predict'])
print("mean_square_error:",mse)

mean_square_error: 0.030899198410693333

In [49]:
mae = mean_absolute_error(df2['score'],df2['predict'])
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.1430721146543378

In [50]:
df2

,Id,tweet,emotion,score,features,predict
0,21147,"[know, going, one, nights, takes, act, god, fa...",fear,0.771,"[[-0.3144856, 0.15769926, 0.43722436, -0.39113...",0.473174
1,21148,"[#horrible, lewis, dunk, begun, networking, ne...",fear,0.479,"[[-0.25642213, 0.11772158, 0.17571282, -0.0315...",0.515546
2,21149,"[speaking, ex, cobblers, saw, ricky, holmes, c...",fear,0.417,"[[-0.11143019, 0.11400332, 0.12179603, -0.3693...",0.518386
3,21150,"[ball, watching, amp, rojod, header, equally, ...",fear,0.475,"[[-0.43671992, 0.057505384, -0.19090268, -0.25...",0.489378
4,21151,"[really, #jumanji, rock, jack, black, kevin, h...",fear,0.542,"[[-0.3343676, 0.090099744, -0.1592446, -0.0180...",0.464805
...,...,...,...,...,...,...
105,21252,"[staff, fr, asked, info, told, look, online, g...",fear,0.312,"[[-0.1450364, 0.06649841, 0.24776919, -0.07256...",0.473111
106,21253,"[staff, fr, asked, info, told, look, online, g...",fear,0.271,"[[-0.14554901, 0.13766387, 0.14240709, -0.0481...",0.496907
107,21254,"[adviser, #european, #unions, top, #court, sai...",fear,0.500,"[[-0.66618294, 0.1709193, -0.10170758, -0.2963...",0.526565
108,21255,"[mths, ago, signed, velocity, ff, deal, months...",fear,0.479,"[[-0.97019094, -0.03449127, 0.4789242, -0.0327...",0.505192
109,21256,"[mths, ago, signed, velocity, ff, deal, months...",fear,0.271,"[[-0.9431952, 0.07778479, 0.43429676, -0.16182...",0.462552

In [51]:
df3= pd.read_csv(r"C:\Users\i\Downloads\fear-ratings-0to1.test.target.txt", delimiter='\t', header=None)
df3.columns = ['Id', 'tweet', 'emotion', 'score']

In [52]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df3['tweet'] = df3['tweet'].apply(preprocess_tweet)

In [53]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df3['tweet'] = df3['tweet'].apply(remove_mentions)

In [54]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df3['tweet'] = df3['tweet'].apply(clean_text)

In [55]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text
df3['tweet'] = df3['tweet'].apply(convert_emoji)

In [56]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df3['tweet'] = df3['tweet'].apply(tokenize_tweets)

In [57]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens
df3['tweet'] = df3['tweet'].apply(remove_stopwords)

In [58]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features
df3['features'] = df3['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [59]:
df3['features'][713].shape

(7, 768)

In [60]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features3 = df3['features'].tolist()
padded_features3 = pad_sequences(features3, padding='post')
padded_df3 = df3.copy()
padded_df3['features'] = padded_features3.tolist()

In [61]:
X = np.stack(padded_df3['features'])
print('Input feature shape:', X.shape)

Input feature shape: (995, 38, 768)

In [62]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
max_sequence_length=41
X_=pad_sequences(X,maxlen=max_sequence_length,padding="post",truncating='post')

In [63]:
X_ = np.reshape(X_, (995, 41 * 768))

In [64]:
saved_model_path = 'regression_model.pkl'
loaded_model = joblib.load(saved_model_path)

In [65]:
predicttest = loaded_model.predict(X_)
predicttest

array([0.56163864, 0.51306322, 0.4911582 , 0.48265492, 0.50799626,
       0.48488318, 0.55193031, 0.49922372, 0.53275937, 0.59387914,
       0.53834522, 0.50110795, 0.51439792, 0.53761572, 0.5607375 ,
       0.52954809, 0.49246717, 0.50880134, 0.44178479, 0.49924436,
       0.46037391, 0.44879661, 0.49210093, 0.49768345, 0.5224496 ,
       0.50648248, 0.51934193, 0.52158265, 0.47562154, 0.48426472,
       0.43132165, 0.55888839, 0.52327494, 0.47467362, 0.45285242,
       0.52749383, 0.48436272, 0.53138231, 0.58127494, 0.55932536,
       0.4564952 , 0.5140102 , 0.51263206, 0.55578844, 0.51086681,
       0.56617973, 0.45498749, 0.48492568, 0.51306675, 0.44088841,
       0.51016353, 0.5084152 , 0.51109518, 0.52650817, 0.5334673 ,
       0.53578055, 0.50776358, 0.48758918, 0.50693228, 0.45353677,
       0.40191551, 0.53343769, 0.51720829, 0.52467952, 0.56076556,
       0.53943856, 0.51978126, 0.45764097, 0.50910672, 0.483982  ,
       0.43510129, 0.51312987, 0.5722104 , 0.45628035, 0.47976659,
       0.53524626, 0.53075662, 0.50267277, 0.4973227 , 0.45018345,
       0.51777441, 0.49338075, 0.55325229, 0.50707393, 0.48075   ,
       0.4737537 , 0.54379244, 0.50932785, 0.52023865, 0.49244802,
       0.52520396, 0.48736971, 0.46142068, 0.48824055, 0.55912246,
       0.48605705, 0.49310732, 0.47365206, 0.50761612, 0.48323526,
       0.45232599, 0.52982556, 0.52212095, 0.46828817, 0.52499717,
       0.524043  , 0.46664758, 0.44291427, 0.43111212, 0.48807366,
       0.55226571, 0.52385018, 0.50353889, 0.50975708, 0.52169316,
       0.46530754, 0.50176679, 0.53283624, 0.52021458, 0.45815375,
       0.47417938, 0.4978642 , 0.51208833, 0.50052679, 0.4232982 ,
       0.4282966 , 0.49445907, 0.50079817, 0.42518884, 0.49043469,
       0.43155749, 0.51330533, 0.45841242, 0.43801862, 0.54952743,
       0.49849507, 0.53196331, 0.5310362 , 0.51637984, 0.45929461,
       0.47334808, 0.49435268, 0.50108129, 0.49341716, 0.50512049,
       0.48161142, 0.51906137, 0.46614066, 0.53378287, 0.49234184,
       0.48133407, 0.49692095, 0.50275234, 0.56152742, 0.49959889,
       0.46569052, 0.42218085, 0.46338492, 0.4632208 , 0.5407026 ,
       0.45251425, 0.47940524, 0.49768281, 0.55649534, 0.56267679,
       0.52907195, 0.50060098, 0.52036075, 0.49589067, 0.47062866,
       0.52292353, 0.48653066, 0.48575353, 0.50461378, 0.47397405,
       0.40672807, 0.53309255, 0.55182925, 0.55013198, 0.5126413 ,
       0.45646392, 0.50495422, 0.49471868, 0.56504353, 0.52568782,
       0.50509945, 0.49677825, 0.44536392, 0.4568178 , 0.47207411,
       0.47560197, 0.47778573, 0.48055215, 0.48575973, 0.51319265,
       0.55892095, 0.44769567, 0.49102117, 0.47247142, 0.5049696 ,
       0.49373616, 0.52549376, 0.55885633, 0.5788833 , 0.50550848,
       0.50376519, 0.51949631, 0.49490605, 0.48829348, 0.47778464,
       0.53522635, 0.52277664, 0.50262056, 0.51275759, 0.52371356,
       0.4990559 , 0.50374571, 0.47366192, 0.42493385, 0.46054843,
       0.54111168, 0.52555752, 0.51415259, 0.47677078, 0.52380772,
       0.48427148, 0.52405939, 0.58022642, 0.51598056, 0.60947929,
       0.56256784, 0.55558485, 0.56104501, 0.50394897, 0.47889971,
       0.47548034, 0.49320582, 0.49053095, 0.49013636, 0.42070479,
       0.52108381, 0.49947751, 0.45878533, 0.50609935, 0.4896492 ,
       0.49410082, 0.45637338, 0.56035213, 0.45560264, 0.51973394,
       0.52359716, 0.52031205, 0.4753918 , 0.50934542, 0.46292228,
       0.52627743, 0.51195742, 0.5162183 , 0.53455758, 0.48578459,
       0.44053853, 0.53913944, 0.50550077, 0.51440335, 0.53876618,
       0.45351423, 0.52607672, 0.40958118, 0.41098752, 0.45549235,
       0.50749323, 0.4451647 , 0.45911591, 0.49338289, 0.45390738,
       0.51871376, 0.53034609, 0.49173107, 0.53598925, 0.47158392,
       0.5030401 , 0.48723984, 0.44338141, 0.53075164, 0.50757708,
       0.51468417, 0.51396707, 0.52596024, 0.48741256, 0.49036923,
       0.52387059, 0.53455828, 0.4947924 , 0.45016305, 0.53118004,
       0.52196838, 0.51318185, 0.55897448, 0.46502086, 0.43231628,
       0.54536509, 0.5223502 , 0.51650724, 0.41068844, 0.47236611,
       0.53216991, 0.54103894, 0.39996296, 0.50535868, 0.48730406,
       0.50121021, 0.51576104, 0.5102989 , 0.48644021, 0.4831572 ,
       0.45349937, 0.5402849 , 0.48613086, 0.52615794, 0.46785591,
       0.46719739, 0.51356963, 0.48516225, 0.4975397 , 0.51105304,
       0.46204746, 0.463877  , 0.46629468, 0.48221207, 0.53469727,
       0.52126947, 0.51523393, 0.52423008, 0.51384928, 0.54781382,
       0.48851089, 0.45599203, 0.50133779, 0.46837227, 0.40068329,
       0.43508141, 0.46528117, 0.45013912, 0.51679443, 0.54115949,
       0.55007047, 0.47603173, 0.50172472, 0.44905809, 0.48895378,
       0.54369825, 0.51205049, 0.41222227, 0.48280559, 0.49348297,
       0.49499559, 0.48700982, 0.50189654, 0.49121491, 0.50595562,
       0.53140834, 0.52523361, 0.49798643, 0.5016031 , 0.51482316,
       0.54543522, 0.50776108, 0.4310623 , 0.45358327, 0.49157691,
       0.48815667, 0.48902833, 0.54374538, 0.54219567, 0.51825011,
       0.47368456, 0.51574469, 0.51842484, 0.49967735, 0.50996724,
       0.51676445, 0.44632074, 0.50793832, 0.51176797, 0.47755086,
       0.46207152, 0.54890715, 0.51405904, 0.54324747, 0.47854476,
       0.48258635, 0.52840679, 0.43016399, 0.50765046, 0.45681461,
       0.50463548, 0.50742055, 0.47979851, 0.50385574, 0.51807792,
       0.52747385, 0.53252299, 0.51694479, 0.56469667, 0.54458227,
       0.48451304, 0.52018703, 0.49812963, 0.52286422, 0.51158132,
       0.49809491, 0.52540856, 0.5269335 , 0.52868267, 0.49666223,
       0.45872257, 0.46291975, 0.49535077, 0.45119133, 0.48311824,
       0.5062309 , 0.47926698, 0.48892352, 0.45630809, 0.52207452,
       0.46511231, 0.46213288, 0.47314311, 0.52893101, 0.53424614,
       0.516797  , 0.58581483, 0.53358147, 0.4660685 , 0.43178291,
       0.48352836, 0.52884399, 0.47356961, 0.43433456, 0.43728885,
       0.44123633, 0.52775304, 0.51298097, 0.48046325, 0.47882313,
       0.51294882, 0.56182084, 0.55389572, 0.46444048, 0.44631363,
       0.47507248, 0.46295449, 0.46498232, 0.48566821, 0.46525782,
       0.46428028, 0.44801024, 0.50463513, 0.51257386, 0.49000902,
       0.51913356, 0.52296977, 0.52191083, 0.49948518, 0.47253085,
       0.45841283, 0.47752156, 0.48244236, 0.54874885, 0.46444693,
       0.56615615, 0.47454449, 0.4895925 , 0.48554176, 0.48598155,
       0.4255879 , 0.4664662 , 0.49264438, 0.46322048, 0.5892081 ,
       0.49806489, 0.42049308, 0.48506053, 0.47029556, 0.49879505,
       0.53934758, 0.43599811, 0.47258378, 0.50050501, 0.42619511,
       0.48730159, 0.50117827, 0.50217208, 0.49807479, 0.50074378,
       0.50463155, 0.5075278 , 0.41521929, 0.48199896, 0.45635435,
       0.41728605, 0.53185542, 0.58832834, 0.52905833, 0.52682296,
       0.41891317, 0.48387572, 0.46918406, 0.48441141, 0.43289089,
       0.48560092, 0.52009266, 0.48352461, 0.5240511 , 0.50001299,
       0.49429769, 0.50709059, 0.52885514, 0.5362569 , 0.55972024,
       0.55695989, 0.52172911, 0.49108322, 0.53153632, 0.51456382,
       0.46517802, 0.50563575, 0.46681839, 0.48839777, 0.5239305 ,
       0.54102993, 0.52516697, 0.4710856 , 0.41968333, 0.50255534,
       0.50152261, 0.47821467, 0.46245123, 0.51121297, 0.46475715,
       0.55176137, 0.48621066, 0.4959162 , 0.49494913, 0.54988658,
       0.54476148, 0.49005367, 0.44226332, 0.48488642, 0.50804787,
       0.5372424 , 0.52327618, 0.48401366, 0.47914303, 0.47656809,
       0.45609958, 0.44291257, 0.47897098, 0.49949326, 0.51917741,
       0.54508459, 0.44461709, 0.4491088 , 0.48760116, 0.50884811,
       0.52643125, 0.53759403, 0.48519546, 0.55075937, 0.51520982,
       0.47567291, 0.43696902, 0.53171178, 0.49268529, 0.53446233,
       0.46998379, 0.55282873, 0.5337631 , 0.45015074, 0.52338558,
       0.49369943, 0.49488426, 0.41303237, 0.46810496, 0.52409366,
       0.56527651, 0.55058   , 0.48278873, 0.48571038, 0.47417233,
       0.48850641, 0.48185111, 0.54113722, 0.49710536, 0.4922782 ,
       0.4860753 , 0.48418783, 0.53739175, 0.52406222, 0.53601031,
       0.54228961, 0.51721304, 0.51405028, 0.49210911, 0.50424849,
       0.53150276, 0.53687994, 0.44425604, 0.56590567, 0.45114501,
       0.50144823, 0.48773344, 0.52892042, 0.51280565, 0.54121959,
       0.47658288, 0.50389948, 0.48137557, 0.53680117, 0.52089133,
       0.48606991, 0.49045008, 0.52295234, 0.52541091, 0.47776082,
       0.46697598, 0.49224448, 0.47760976, 0.52578403, 0.51498263,
       0.479851  , 0.49531565, 0.52789847, 0.54952743, 0.4815557 ,
       0.46664465, 0.48621313, 0.51019456, 0.47852705, 0.49579671,
       0.48125486, 0.56115102, 0.49553226, 0.51325698, 0.49332085,
       0.45680133, 0.50145984, 0.48109296, 0.47227467, 0.51805983,
       0.53204132, 0.44822379, 0.50178496, 0.53134163, 0.53396178,
       0.46131966, 0.48702598, 0.5096936 , 0.51221992, 0.5399126 ,
       0.4920213 , 0.50874702, 0.46736628, 0.49210563, 0.49838187,
       0.46112851, 0.47915375, 0.54563226, 0.54544291, 0.52606777,
       0.41211768, 0.4752378 , 0.51087832, 0.48328556, 0.50654583,
       0.50390528, 0.48920701, 0.44955202, 0.43197856, 0.47320124,
       0.49231139, 0.49051807, 0.51766218, 0.47819627, 0.52052555,
       0.47463889, 0.48355805, 0.4745055 , 0.54368081, 0.49830865,
       0.58638041, 0.57921415, 0.46547003, 0.50252901, 0.49375058,
       0.46770131, 0.46249923, 0.49902069, 0.49376513, 0.4564016 ,
       0.46937966, 0.54744976, 0.48588527, 0.52519754, 0.49329547,
       0.43219831, 0.46007827, 0.48168246, 0.5015834 , 0.56394273,
       0.4660264 , 0.44274297, 0.55486264, 0.41962767, 0.48494464,
       0.48177184, 0.47628799, 0.49965952, 0.4492017 , 0.46051622,
       0.5136858 , 0.47119956, 0.49932264, 0.49847365, 0.49045769,
       0.4954799 , 0.55901097, 0.5338241 , 0.50942842, 0.51265286,
       0.5215514 , 0.5114309 , 0.53009868, 0.52911219, 0.49063517,
       0.54208524, 0.59498124, 0.58302193, 0.46669977, 0.51445139,
       0.58497187, 0.53692632, 0.52993515, 0.47112071, 0.46513285,
       0.44404457, 0.52182176, 0.47439786, 0.51818553, 0.52359716,
       0.45350637, 0.49166021, 0.53899037, 0.53283536, 0.49096294,
       0.56128542, 0.48502936, 0.534278  , 0.46634757, 0.47014774,
       0.43700793, 0.48934156, 0.5089776 , 0.46320132, 0.49590813,
       0.45013912, 0.51596588, 0.51839677, 0.40075413, 0.55197178,
       0.56038129, 0.5073652 , 0.5094395 , 0.47782518, 0.4722309 ,
       0.4875048 , 0.45981688, 0.559207  , 0.54629116, 0.45652576,
       0.48042769, 0.4618387 , 0.49025513, 0.50951672, 0.47446985,
       0.55462295, 0.54595204, 0.50507879, 0.55453419, 0.59446616,
       0.44472909, 0.50748483, 0.53099083, 0.49752707, 0.49950575,
       0.47938909, 0.54701201, 0.53147757, 0.54437524, 0.48917598,
       0.60871446, 0.50939755, 0.52138752, 0.517491  , 0.4451647 ,
       0.51839956, 0.55914975, 0.50907188, 0.48116543, 0.49048845,
       0.44592176, 0.49604741, 0.50630246, 0.55785208, 0.48083138,
       0.44570172, 0.51869377, 0.46348714, 0.50907202, 0.50486456,
       0.50445327, 0.55486228, 0.52615323, 0.49786801, 0.45525951,
       0.52324547, 0.52909007, 0.53292554, 0.49923645, 0.4942549 ,
       0.45717027, 0.53174162, 0.54360032, 0.52696304, 0.51487403,
       0.46399784, 0.50177257, 0.44885954, 0.52497121, 0.52241612,
       0.49228536, 0.46859233, 0.4640316 , 0.50937934, 0.52000342,
       0.47808064, 0.44271016, 0.47188592, 0.49343114, 0.46327683,
       0.48131365, 0.49387617, 0.48968343, 0.49133034, 0.49639451,
       0.5354638 , 0.48309363, 0.49150803, 0.49267633, 0.55114767,
       0.55290673, 0.5148576 , 0.49517609, 0.49494964, 0.47419855,
       0.4801749 , 0.50737129, 0.52809685, 0.51330824, 0.49397788,
       0.48928851, 0.51077604, 0.5114039 , 0.46933668, 0.3990139 ,
       0.50411534, 0.53035008, 0.51796695, 0.47850465, 0.47355432,
       0.54112507, 0.47514785, 0.49429416, 0.53844806, 0.50725823,
       0.46058908, 0.50372864, 0.50372864, 0.50005155, 0.45810013,
       0.48979094, 0.47708561, 0.50387183, 0.46048283, 0.5217693 ,
       0.52838478, 0.53912396, 0.52395294, 0.49126677, 0.48113506,
       0.47749357, 0.46523742, 0.50916435, 0.48490332, 0.51445481,
       0.48735787, 0.49335341, 0.50574554, 0.52688233, 0.44590952,
       0.40840575, 0.47271556, 0.49742194, 0.43220895, 0.51012506,
       0.49376815, 0.52457317, 0.45491171, 0.49978243, 0.5191575 ,
       0.49132046, 0.53108255, 0.50395378, 0.4969161 , 0.51650736,
       0.49031697, 0.44921835, 0.47264033, 0.45436351, 0.49056711,
       0.42693205, 0.45885464, 0.52693058, 0.50102006, 0.50164249,
       0.51064888, 0.53555042, 0.51209479, 0.48998432, 0.49125324,
       0.45109145, 0.50823571, 0.45866839, 0.5601431 , 0.47134838,
       0.50591843, 0.47610441, 0.5304595 , 0.49091397, 0.49600156,
       0.5386623 , 0.51690279, 0.53900861, 0.48632565, 0.52483274,
       0.4966677 , 0.45629265, 0.46376117, 0.55892305, 0.55033236,
       0.5477537 , 0.51920054, 0.5318197 , 0.57979904, 0.47268979,
       0.49284987, 0.49218699, 0.48180239, 0.48170613, 0.48681393,
       0.48846778, 0.5007963 , 0.52891536, 0.52460198, 0.47290287,
       0.46495717, 0.40791303, 0.44404427, 0.47554941, 0.46925486,
       0.49897748, 0.5193425 , 0.50612524, 0.43870817, 0.48963868,
       0.49133371, 0.48802263, 0.57177488, 0.52257345, 0.48760942,
       0.45145931, 0.50710304, 0.59180456, 0.5266276 , 0.5312728 ])

In [66]:
df3['predicttest']=pd.DataFrame(predicttest)

In [67]:
df3=df3.drop(['score','features'],axis=1)

In [68]:
df3

,Id,tweet,emotion,predicttest
0,21257,"[#matthew, ncould, somebody, shoot, #video, it...",fear,0.561639
1,21258,"[really, sucks, typing, mobile, device, always...",fear,0.513063
2,21259,"[#afraid, #quiet, ones, ones, actually, #think]",fear,0.491158
3,21260,"[hes, horrible, person, gag, see, people, quote]",fear,0.482655
4,21261,"[fear, usually, need, tim, ferriss, #inspiring...",fear,0.507996
...,...,...,...,...
990,22247,"[vs, atlanta, yr, vs, rockies, dbacks, yr, tha...",fear,0.451459
991,22248,"[im, shaking]",fear,0.507103
992,22249,"[guys, dating, yet, #trans, #nervous, #blowjob...",fear,0.591805
993,22250,"[listening, eurythmicsnme, polish, gothic, met...",fear,0.526628
994,22251,"[claimed, things, could, scare, usnbut, tough,...",fear,0.531273