In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv(r"C:\Users\i\Downloads\sadness-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

        Id                                              tweet  emotion  score
0    40000                      Depression sucks! #depression  sadness  0.958
1    40001            Feeling worthless as always #depression  sadness  0.958
2    40002                       Feeling worthless as always   sadness  0.958
3    40003  My #Fibromyalgia has been really bad lately wh...  sadness  0.946
4    40004  Im think ima lay in bed all day and sulk. Life...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  @VivienLloyd Thank you so much! Just home - st...  sadness  0.104
782  40782              Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è   sadness  0.104
783  40783  @SilkInSide @TommyJoeRatliff that's so pretty!...  sadness  0.088
784  40784  @BluesfestByron second artist announcement loo...  sadness  0.083
785  40785  I can literally eat creamy pesto pasta topped ...  sadness  0.083

[786 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text) 
    text = re.sub(r'\d+', '', text)  
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

        Id                                              tweet  emotion  score
0    40000                       depression sucks #depression  sadness  0.958
1    40001            feeling worthless as always #depression  sadness  0.958
2    40002                        feeling worthless as always  sadness  0.958
3    40003  my #fibromyalgia has been really bad lately wh...  sadness  0.946
4    40004  im think ima lay in bed all day and sulk life ...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  thank you so much just home stunned but so hap...  sadness  0.104
782  40782                       just put the winter duvet on  sadness  0.104
783  40783  thats so pretty i love the sky in the backgrou...  sadness  0.088
784  40784  second artist announcement looking good #blues...  sadness  0.083
785  40785  i can literally eat creamy pesto pasta topped ...  sadness  0.083

[786 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

        Id                                              tweet  emotion  score
0    40000                   [depression, sucks, #depression]  sadness  0.958
1    40001      [feeling, worthless, as, always, #depression]  sadness  0.958
2    40002                   [feeling, worthless, as, always]  sadness  0.958
3    40003  [my, #fibromyalgia, has, been, really, bad, la...  sadness  0.946
4    40004  [im, think, ima, lay, in, bed, all, day, and, ...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  [thank, you, so, much, just, home, stunned, bu...  sadness  0.104
782  40782                [just, put, the, winter, duvet, on]  sadness  0.104
783  40783  [thats, so, pretty, i, love, the, sky, in, the...  sadness  0.088
784  40784  [second, artist, announcement, looking, good, ...  sadness  0.083
785  40785  [i, can, literally, eat, creamy, pesto, pasta,...  sadness  0.083

[786 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']
def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

        Id                                              tweet  emotion  score
0    40000                   [depression, sucks, #depression]  sadness  0.958
1    40001          [feeling, worthless, always, #depression]  sadness  0.958
2    40002                       [feeling, worthless, always]  sadness  0.958
3    40003  [#fibromyalgia, really, bad, lately, good, men...  sadness  0.946
4    40004  [im, think, ima, lay, bed, day, sulk, life, hi...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  [thank, much, home, stunned, happy, dont, thin...  sadness  0.104
782  40782                               [put, winter, duvet]  sadness  0.104
783  40783  [thats, pretty, love, sky, background, purple,...  sadness  0.088
784  40784  [second, artist, announcement, looking, good, ...  sadness  0.083
785  40785  [literally, eat, creamy, pesto, pasta, topped,...  sadness  0.083

[786 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features

df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
from sklearn.utils import shuffle
df1 = shuffle(df1)
df1

,Id,tweet,emotion,score,features
250,40250,"[blame, manager, watching, players, play, abys...",sadness,0.604,"[[-0.18551016, 0.14533976, 0.095107906, -0.145..."
275,40275,"[dont, let, behavior, others, destroy, ur, inn...",sadness,0.583,"[[-0.3205233, 0.28793436, -0.044567768, -0.051..."
130,40130,"[weeks, full, mondays, end, #disheartened]",sadness,0.688,"[[0.016893499, 0.10395066, 0.3136695, -0.03307..."
644,40644,"[bows, moment, rather, sulk, im, going, opinio...",sadness,0.312,"[[-0.28913236, 0.28231645, -0.009142242, -0.26..."
79,40079,"[god, full, shilling, seriously, need, major, ...",sadness,0.750,"[[-0.11578786, 0.16990525, 0.34702885, -0.2188..."
...,...,...,...,...,...
684,40684,"[#pessimist, complains, wind, #optimist, expec...",sadness,0.271,"[[-0.57726145, 0.15732256, -0.009420659, -0.09..."
542,40542,"[hard, tell, pic, mistake, either, way, nothin...",sadness,0.375,"[[-0.48719376, -0.17063761, 0.1746943, -0.0378..."
530,40530,"[sulky, pants]",sadness,0.396,"[[-0.28299236, 0.0910921, -0.27471957, 0.04074..."
523,40523,"[theres, sitcom, better, cant, laugh, sheldon,...",sadness,0.396,"[[-0.41907048, -0.24152792, 0.14949818, -0.070..."
392,40392,"[solution, punish, criminals, thats, way, disc...",sadness,0.479,"[[-0.3647489, -0.27338892, 0.043791763, -0.351..."

In [17]:
df1.features[0].shape

(6, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
250,40250,"[blame, manager, watching, players, play, abys...",sadness,0.604,"[[-0.18551016, 0.14533976, 0.095107906, -0.145..."
275,40275,"[dont, let, behavior, others, destroy, ur, inn...",sadness,0.583,"[[-0.3205233, 0.28793436, -0.044567768, -0.051..."
130,40130,"[weeks, full, mondays, end, #disheartened]",sadness,0.688,"[[0.016893499, 0.10395066, 0.3136695, -0.03307..."
644,40644,"[bows, moment, rather, sulk, im, going, opinio...",sadness,0.312,"[[-0.28913236, 0.28231645, -0.009142242, -0.26..."
79,40079,"[god, full, shilling, seriously, need, major, ...",sadness,0.750,"[[-0.11578786, 0.16990525, 0.34702885, -0.2188..."
174,40174,"[dont, see, difference, courting, appealing, w...",sadness,0.667,"[[-0.70383626, 0.20942569, -0.16147777, -0.057..."
514,40514,"[pessimist, someone, opportunity, knocks, comp...",sadness,0.396,"[[-0.028500024, 0.4877816, -0.030809958, -0.59..."
529,40529,"[episode, today, whilst, editing, power, outag...",sadness,0.396,"[[-0.3621486, -0.09056032, 0.17661268, -0.1874..."
423,40423,"[history, repeating, itselfgaa, culture, dare,...",sadness,0.458,"[[-0.40033904, -0.03608309, 0.027729334, -0.31..."
592,40592,"[rich, fumes, sullen, sences, cheerd]",sadness,0.342,"[[0.006814859, 0.261758, -0.032302003, -0.0964..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = df1['features'].tolist()
padded_features = pad_sequences(features, padding='post')
padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
x = np.stack(padded_df['features'])

In [21]:
y = np.array(padded_df['score'])    
print("Input shape:", x.shape)
print("Output shape:", y.shape)

Input shape: (786, 41, 768)
Output shape: (786,)

In [22]:
x = np.reshape(x, (786, 41* 768))  
y = np.reshape(y, (786,))

In [23]:
y

array([0.604, 0.583, 0.688, 0.312, 0.75 , 0.667, 0.396, 0.396, 0.458,
       0.342, 0.354, 0.461, 0.458, 0.667, 0.458, 0.812, 0.833, 0.417,
       0.188, 0.771, 0.667, 0.458, 0.417, 0.333, 0.438, 0.438, 0.583,
       0.333, 0.354, 0.583, 0.125, 0.562, 0.438, 0.708, 0.562, 0.375,
       0.479, 0.438, 0.312, 0.604, 0.458, 0.417, 0.278, 0.417, 0.521,
       0.46 , 0.214, 0.208, 0.321, 0.667, 0.854, 0.146, 0.458, 0.271,
       0.646, 0.438, 0.24 , 0.333, 0.625, 0.542, 0.369, 0.729, 0.688,
       0.312, 0.604, 0.25 , 0.375, 0.375, 0.604, 0.646, 0.375, 0.646,
       0.375, 0.146, 0.44 , 0.5  , 0.188, 0.613, 0.771, 0.271, 0.375,
       0.729, 0.167, 0.396, 0.583, 0.479, 0.25 , 0.354, 0.771, 0.604,
       0.833, 0.75 , 0.87 , 0.583, 0.438, 0.479, 0.521, 0.542, 0.417,
       0.52 , 0.625, 0.438, 0.812, 0.604, 0.669, 0.792, 0.132, 0.396,
       0.396, 0.271, 0.958, 0.625, 0.417, 0.688, 0.458, 0.562, 0.375,
       0.541, 0.604, 0.708, 0.271, 0.354, 0.667, 0.271, 0.312, 0.792,
       0.688, 0.188, 0.438, 0.562, 0.417, 0.812, 0.934, 0.604, 0.667,
       0.479, 0.583, 0.495, 0.604, 0.438, 0.271, 0.833, 0.521, 0.646,
       0.729, 0.5  , 0.667, 0.604, 0.661, 0.36 , 0.333, 0.771, 0.896,
       0.521, 0.438, 0.625, 0.188, 0.292, 0.25 , 0.229, 0.75 , 0.479,
       0.729, 0.896, 0.415, 0.583, 0.562, 0.275, 0.475, 0.375, 0.667,
       0.654, 0.396, 0.833, 0.812, 0.688, 0.625, 0.521, 0.375, 0.583,
       0.271, 0.75 , 0.458, 0.458, 0.375, 0.206, 0.806, 0.271, 0.188,
       0.729, 0.917, 0.445, 0.667, 0.458, 0.42 , 0.312, 0.667, 0.375,
       0.208, 0.292, 0.542, 0.542, 0.167, 0.263, 0.688, 0.396, 0.729,
       0.604, 0.521, 0.354, 0.088, 0.667, 0.625, 0.417, 0.729, 0.347,
       0.542, 0.583, 0.25 , 0.358, 0.271, 0.521, 0.542, 0.333, 0.771,
       0.667, 0.146, 0.833, 0.229, 0.604, 0.896, 0.417, 0.812, 0.604,
       0.438, 0.729, 0.417, 0.5  , 0.75 , 0.396, 0.729, 0.479, 0.375,
       0.417, 0.354, 0.229, 0.312, 0.5  , 0.5  , 0.688, 0.583, 0.583,
       0.292, 0.354, 0.325, 0.562, 0.312, 0.396, 0.5  , 0.625, 0.208,
       0.729, 0.292, 0.521, 0.333, 0.604, 0.64 , 0.458, 0.375, 0.74 ,
       0.375, 0.312, 0.5  , 0.25 , 0.509, 0.417, 0.333, 0.271, 0.375,
       0.479, 0.754, 0.542, 0.542, 0.771, 0.354, 0.625, 0.438, 0.208,
       0.271, 0.312, 0.208, 0.729, 0.771, 0.646, 0.646, 0.479, 0.458,
       0.426, 0.479, 0.417, 0.271, 0.625, 0.477, 0.708, 0.397, 0.729,
       0.729, 0.208, 0.25 , 0.812, 0.438, 0.396, 0.208, 0.521, 0.688,
       0.354, 0.375, 0.68 , 0.812, 0.521, 0.146, 0.271, 0.479, 0.417,
       0.271, 0.542, 0.708, 0.542, 0.254, 0.729, 0.667, 0.604, 0.625,
       0.854, 0.455, 0.263, 0.5  , 0.333, 0.271, 0.604, 0.303, 0.375,
       0.521, 0.354, 0.604, 0.458, 0.208, 0.625, 0.729, 0.479, 0.5  ,
       0.333, 0.604, 0.514, 0.854, 0.562, 0.653, 0.104, 0.354, 0.542,
       0.68 , 0.646, 0.814, 0.083, 0.542, 0.583, 0.396, 0.271, 0.438,
       0.312, 0.333, 0.188, 0.25 , 0.562, 0.312, 0.312, 0.167, 0.479,
       0.2  , 0.354, 0.583, 0.479, 0.375, 0.333, 0.458, 0.229, 0.767,
       0.5  , 0.167, 0.708, 0.292, 0.271, 0.438, 0.892, 0.318, 0.312,
       0.708, 0.104, 0.766, 0.271, 0.457, 0.667, 0.274, 0.396, 0.5  ,
       0.562, 0.792, 0.167, 0.312, 0.42 , 0.667, 0.354, 0.375, 0.729,
       0.417, 0.438, 0.604, 0.208, 0.438, 0.396, 0.667, 0.896, 0.542,
       0.417, 0.896, 0.708, 0.625, 0.542, 0.542, 0.646, 0.354, 0.5  ,
       0.521, 0.396, 0.771, 0.25 , 0.604, 0.312, 0.875, 0.216, 0.667,
       0.333, 0.458, 0.354, 0.667, 0.146, 0.583, 0.625, 0.833, 0.355,
       0.417, 0.292, 0.646, 0.542, 0.27 , 0.396, 0.271, 0.708, 0.375,
       0.25 , 0.625, 0.292, 0.542, 0.604, 0.458, 0.427, 0.292, 0.438,
       0.235, 0.583, 0.438, 0.397, 0.354, 0.146, 0.208, 0.542, 0.333,
       0.396, 0.229, 0.354, 0.5  , 0.238, 0.888, 0.618, 0.292, 0.521,
       0.292, 0.375, 0.229, 0.542, 0.688, 0.562, 0.81 , 0.34 , 0.917,
       0.75 , 0.688, 0.396, 0.485, 0.229, 0.604, 0.208, 0.542, 0.375,
       0.754, 0.521, 0.708, 0.729, 0.542, 0.625, 0.562, 0.562, 0.729,
       0.479, 0.562, 0.479, 0.667, 0.779, 0.354, 0.667, 0.5  , 0.229,
       0.688, 0.646, 0.333, 0.542, 0.479, 0.75 , 0.167, 0.455, 0.479,
       0.312, 0.306, 0.271, 0.083, 0.521, 0.438, 0.604, 0.708, 0.729,
       0.479, 0.312, 0.675, 0.354, 0.188, 0.333, 0.811, 0.667, 0.542,
       0.583, 0.5  , 0.396, 0.792, 0.312, 0.292, 0.562, 0.333, 0.571,
       0.333, 0.271, 0.271, 0.562, 0.575, 0.25 , 0.312, 0.583, 0.312,
       0.229, 0.299, 0.64 , 0.896, 0.396, 0.917, 0.396, 0.417, 0.271,
       0.667, 0.812, 0.688, 0.479, 0.958, 0.354, 0.688, 0.333, 0.604,
       0.436, 0.583, 0.875, 0.343, 0.548, 0.624, 0.354, 0.208, 0.604,
       0.521, 0.438, 0.562, 0.146, 0.271, 0.521, 0.469, 0.311, 0.292,
       0.688, 0.188, 0.604, 0.833, 0.542, 0.583, 0.417, 0.32 , 0.354,
       0.667, 0.625, 0.75 , 0.521, 0.708, 0.333, 0.312, 0.583, 0.917,
       0.167, 0.354, 0.839, 0.636, 0.292, 0.771, 0.66 , 0.583, 0.188,
       0.521, 0.542, 0.479, 0.381, 0.396, 0.75 , 0.235, 0.688, 0.229,
       0.708, 0.542, 0.771, 0.542, 0.417, 0.875, 0.667, 0.729, 0.688,
       0.521, 0.562, 0.521, 0.67 , 0.458, 0.604, 0.771, 0.438, 0.396,
       0.322, 0.458, 0.438, 0.604, 0.312, 0.312, 0.946, 0.312, 0.583,
       0.688, 0.417, 0.896, 0.792, 0.396, 0.3  , 0.312, 0.958, 0.417,
       0.214, 0.25 , 0.771, 0.5  , 0.414, 0.417, 0.604, 0.375, 0.196,
       0.438, 0.396, 0.312, 0.458, 0.583, 0.125, 0.689, 0.729, 0.266,
       0.351, 0.521, 0.36 , 0.729, 0.458, 0.542, 0.333, 0.333, 0.188,
       0.75 , 0.771, 0.604, 0.521, 0.25 , 0.688, 0.833, 0.458, 0.688,
       0.646, 0.479, 0.667, 0.438, 0.521, 0.688, 0.625, 0.646, 0.561,
       0.854, 0.354, 0.458, 0.125, 0.792, 0.667, 0.75 , 0.333, 0.312,
       0.646, 0.521, 0.208, 0.354, 0.542, 0.271, 0.45 , 0.729, 0.3  ,
       0.354, 0.574, 0.583, 0.625, 0.396, 0.312, 0.417, 0.417, 0.521,
       0.833, 0.583, 0.333, 0.75 , 0.174, 0.604, 0.542, 0.542, 0.861,
       0.75 , 0.667, 0.688, 0.333, 0.479, 0.271, 0.875, 0.563, 0.646,
       0.562, 0.854, 0.708, 0.404, 0.729, 0.229, 0.438, 0.464, 0.5  ,
       0.625, 0.458, 0.354, 0.271, 0.542, 0.833, 0.562, 0.271, 0.375,
       0.396, 0.396, 0.479])

In [24]:
X=x.copy()  
Y=y.copy()

In [25]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

alpha = 2000
model = Ridge(alpha=alpha)
model.fit(X, Y)

Ridge(alpha=2000)

In [26]:
y_pred = model.predict(X)
mse = mean_squared_error(Y, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.02436696906053771

In [27]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.12935629765480813

In [28]:
import joblib
save_path = 'regression_model.pkl'
joblib.dump(model, save_path)

['regression_model.pkl']

In [29]:
df2= pd.read_csv(r"C:\Users\i\Downloads\sadness-ratings-0to1.dev.gold.txt", delimiter='\t', header=None)
df2.columns = ['Id', 'tweet', 'emotion', 'score']

In [30]:
df2

       Id                                              tweet  emotion  score
0   40786  @1johndes ball watching &amp; Rojo'd header wa...  sadness  0.583
1   40787  A pessimist is someone who, when opportunity k...  sadness  0.188
2   40788  A .500 season is all I'm looking for at this p...  sadness  0.688
3   40789  Stars, when you shine,\nYou know how I feel.\n...  sadness  0.292
4   40790  All I want to do is watch some netflix but I a...  sadness  0.667
..    ...                                                ...      ...    ...
69  40855  Common app just randomly logged me out as I wa...  sadness  0.833
70  40856  I'd rather laugh with the rarest genius, in be...  sadness  0.688
71  40857  If you #invest in my new #film I will stop ask...  sadness  0.458
72  40858  Just watched Django Unchained, Other people ma...  sadness  0.333
73  40859  @KeithOlbermann depressing how despicable Trum...  sadness  0.708

[74 rows x 4 columns]

In [31]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df2['tweet'] = df2['tweet'].apply(preprocess_tweet)

In [32]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df2['tweet'] = df2['tweet'].apply(remove_mentions)

In [33]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df2['tweet'] = df2['tweet'].apply(clean_text)

In [34]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text
df2['tweet'] = df2['tweet'].apply(convert_emoji)

In [35]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df2['tweet'] = df2['tweet'].apply(tokenize_tweets)

In [36]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens
df2['tweet'] = df2['tweet'].apply(remove_stopwords)

In [37]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features
df2['features'] = df2['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [38]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features2 = df2['features'].tolist()
padded_features2 = pad_sequences(features2, padding='post')
padded_df2 = df2.copy()
padded_df2['features'] = padded_features2.tolist()

In [39]:
X = np.stack(padded_df2['features'])
print('Input feature shape:', X.shape)

Input feature shape: (74, 30, 768)

In [40]:
print('Input feature shape:', X.shape)

Input feature shape: (74, 30, 768)

In [44]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
max_sequence_length=41
X_=pad_sequences(X,maxlen=max_sequence_length,padding="post",truncating='post')

In [46]:
X_ = np.reshape(X_, (74, 41 * 768))

In [47]:
saved_model_path = 'regression_model.pkl'
loaded_model = joblib.load(saved_model_path)

In [48]:
predictions = loaded_model.predict(X_)
predictions

array([0.48784655, 0.4817829 , 0.51502776, 0.48867738, 0.51152269,
       0.47268669, 0.51427968, 0.54073416, 0.49474977, 0.45404355,
       0.47473635, 0.53372453, 0.5461583 , 0.51911273, 0.50145796,
       0.49031687, 0.46854585, 0.50248791, 0.46383519, 0.50515464,
       0.50919774, 0.5064765 , 0.5306432 , 0.47929434, 0.45840868,
       0.4404831 , 0.47490827, 0.52702248, 0.48262534, 0.45128623,
       0.5590954 , 0.56246497, 0.48169456, 0.50034924, 0.45543836,
       0.55754581, 0.55863748, 0.47730018, 0.51305815, 0.52449995,
       0.50874266, 0.50665062, 0.51627427, 0.44890362, 0.4688324 ,
       0.52229636, 0.56065039, 0.46657713, 0.4651449 , 0.46823075,
       0.51649416, 0.49475265, 0.44925808, 0.50765783, 0.48376244,
       0.49233456, 0.49040889, 0.51422773, 0.51234926, 0.48375273,
       0.55012716, 0.44118504, 0.47085625, 0.49575477, 0.46674028,
       0.5094721 , 0.44222625, 0.49247741, 0.46084586, 0.49587525,
       0.49701455, 0.44745434, 0.45570542, 0.52423579])

In [49]:
df2['predict']=pd.DataFrame(predictions)

In [50]:
mse=mean_squared_error(df2['score'],df2['predict'])
print("mean_square_error:",mse)

mean_square_error: 0.02818928876422047

In [51]:
mae = mean_absolute_error(df2['score'],df2['predict'])
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.14187912392873117

In [52]:
df2

,Id,tweet,emotion,score,features,predict
0,40786,"[ball, watching, amp, rojod, header, equally, ...",sadness,0.583,"[[-0.43671992, 0.057505384, -0.19090268, -0.25...",0.487847
1,40787,"[pessimist, someone, opportunity, knocks, comp...",sadness,0.188,"[[-0.04478655, 0.30576694, 0.06919098, -0.2915...",0.481783
2,40788,"[season, im, looking, point, #depressing, #roy...",sadness,0.688,"[[-0.3687506, 0.162658, -0.02078579, -0.126300...",0.515028
3,40789,"[stars, shinenyou, know, feelnscent, pine, nyo...",sadness,0.292,"[[-0.2151165, 0.2684997, -0.24530822, 0.244578...",0.488677
4,40790,"[want, watch, netflix, stuck, class, #depressing]",sadness,0.667,"[[0.16816223, -0.09243305, 0.078344375, 0.0814...",0.511523
...,...,...,...,...,...,...
69,40855,"[common, app, randomly, logged, writing, last,...",sadness,0.833,"[[-0.33207858, -0.17362213, -0.4620683, -0.113...",0.495875
70,40856,"[id, rather, laugh, rarest, genius, beautiful,...",sadness,0.688,"[[-0.18101707, 0.03217506, 0.012613542, -0.036...",0.497015
71,40857,"[#invest, new, #film, stop, asking, invest, ne...",sadness,0.458,"[[0.06594525, 0.13042212, 0.05061286, -0.07066...",0.447454
72,40858,"[watched, django, unchained, people, may, frow...",sadness,0.333,"[[0.15952902, 0.13285297, 0.2045169, 0.0801301...",0.455705
73,40859,"[depressing, despicable, trump, policies, camp...",sadness,0.708,"[[-0.19762044, 0.12002628, -0.21899879, -0.278...",0.524236

In [53]:
df3= pd.read_csv(r"C:\Users\i\Downloads\sadness-ratings-0to1.test.gold.txt", delimiter='\t', header=None)
df3.columns = ['Id', 'tweet', 'emotion', 'score']

In [54]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df3['tweet'] = df3['tweet'].apply(preprocess_tweet)

In [55]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df3['tweet'] = df3['tweet'].apply(remove_mentions)

In [56]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df3['tweet'] = df3['tweet'].apply(clean_text)

In [57]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text
df3['tweet'] = df3['tweet'].apply(convert_emoji)

In [58]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df3['tweet'] = df3['tweet'].apply(tokenize_tweets)

In [59]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'all',
    'about', 'above', 'after', 'again', 'against', 'ain', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't",
    'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can',
    'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't",
    'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't",
    'have', 'haven', "haven't", 'having', 'he', 'her', 'here', 'hers', 'herself', 'him', 'himself', 'his', 'how',
    'i', 'if', 'in', 'into', 'is', 'isn', "isn't", 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
    'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no',
    'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
    'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she's", 'should', "should've", 'shouldn',
    "shouldn't", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them',
    'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 'through', 'to', 'too', 'under', 'until',
    'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', 'were', 'weren', "weren't", 'what', 'when', 'where',
    'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you',
    "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves']


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens
df3['tweet'] = df3['tweet'].apply(remove_stopwords)

In [60]:
import torch
from transformers import BertModel, BertTokenizer

model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features
df3['features'] = df3['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [62]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features3 = df3['features'].tolist()
padded_features3 = pad_sequences(features3, padding='post')
padded_df3 = df3.copy()
padded_df3['features'] = padded_features3.tolist()

In [63]:
X = np.stack(padded_df3['features'])
print('Input feature shape:', X.shape)

Input feature shape: (673, 37, 768)

In [64]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
max_sequence_length=41
X_=pad_sequences(X,maxlen=max_sequence_length,padding="post",truncating='post')

In [66]:
X_ = np.reshape(X_, (673, 41 * 768))

In [67]:
saved_model_path = 'regression_model.pkl'
loaded_model = joblib.load(saved_model_path)

In [68]:
predicttest = loaded_model.predict(X_)
predicttest

array([0.46550617, 0.48496906, 0.4413564 , 0.51697883, 0.53039954,
       0.50574699, 0.4649814 , 0.4939384 , 0.47088382, 0.51133294,
       0.55577054, 0.48435694, 0.49318285, 0.46069021, 0.53101276,
       0.4482887 , 0.46273076, 0.49654763, 0.44395651, 0.55308603,
       0.49224111, 0.49849717, 0.48515881, 0.53256576, 0.47714708,
       0.47669385, 0.47740875, 0.47837025, 0.47489953, 0.48593391,
       0.57561818, 0.46628537, 0.47929332, 0.46262995, 0.467198  ,
       0.48732086, 0.49067047, 0.50705313, 0.48771711, 0.49097021,
       0.45419565, 0.4538678 , 0.51537679, 0.51195464, 0.45544081,
       0.53256127, 0.51689947, 0.49481387, 0.46616372, 0.5317275 ,
       0.48900705, 0.48223959, 0.47944081, 0.53620596, 0.49536154,
       0.49845128, 0.49308951, 0.48557988, 0.47463475, 0.50573635,
       0.48139452, 0.44471647, 0.55929044, 0.5142178 , 0.47361906,
       0.55544939, 0.56867547, 0.48858857, 0.4981999 , 0.50127756,
       0.43687922, 0.5166149 , 0.49274696, 0.4222919 , 0.50296436,
       0.45835211, 0.49044723, 0.48773896, 0.4951833 , 0.51753187,
       0.4966618 , 0.46926123, 0.4759427 , 0.49345049, 0.48447439,
       0.51916439, 0.54996146, 0.47023267, 0.46791095, 0.51574044,
       0.56570877, 0.56115183, 0.4486799 , 0.50808054, 0.50166661,
       0.59415068, 0.54680589, 0.56525617, 0.491225  , 0.45682635,
       0.47225312, 0.49551495, 0.50011061, 0.55501861, 0.43954505,
       0.44577688, 0.40222361, 0.49506204, 0.52761685, 0.49765512,
       0.49149879, 0.46605663, 0.41886879, 0.4994034 , 0.54818954,
       0.43213279, 0.45128814, 0.53002258, 0.48656598, 0.48246605,
       0.49722306, 0.49139078, 0.53331757, 0.45853403, 0.52553923,
       0.47820263, 0.51721814, 0.54157965, 0.54669802, 0.49434495,
       0.50520331, 0.50612982, 0.46069621, 0.48096746, 0.55099879,
       0.47407557, 0.50101926, 0.47406622, 0.56302006, 0.4828246 ,
       0.58552424, 0.48978695, 0.45425723, 0.53780571, 0.56582486,
       0.477401  , 0.45297004, 0.48571754, 0.4429739 , 0.48266734,
       0.48212545, 0.46987562, 0.44208281, 0.49759755, 0.46994502,
       0.49083745, 0.41905618, 0.42795409, 0.43070766, 0.50135962,
       0.48319504, 0.48708581, 0.49912564, 0.49323473, 0.54221522,
       0.49796911, 0.45667246, 0.47435675, 0.45316787, 0.45478748,
       0.46771789, 0.50685951, 0.51962859, 0.55716336, 0.57393486,
       0.53727085, 0.46219856, 0.53663082, 0.45856213, 0.554423  ,
       0.55728419, 0.56682308, 0.51340238, 0.4953647 , 0.47678396,
       0.50450437, 0.40977551, 0.49896551, 0.54026234, 0.50388882,
       0.51606803, 0.48854637, 0.52365394, 0.49185016, 0.42016717,
       0.48143751, 0.57509871, 0.49574529, 0.51185051, 0.50436377,
       0.45545153, 0.50968813, 0.52631076, 0.49400043, 0.51379254,
       0.47569473, 0.52510836, 0.48901723, 0.47083762, 0.46266113,
       0.47918362, 0.54077827, 0.47413236, 0.49561115, 0.50655175,
       0.50370586, 0.5191204 , 0.51944289, 0.49272499, 0.41803314,
       0.46127336, 0.53402816, 0.54299007, 0.45477918, 0.47096959,
       0.52699634, 0.46611014, 0.47160808, 0.5020982 , 0.4745064 ,
       0.52367636, 0.4790124 , 0.5800275 , 0.40743669, 0.47426807,
       0.48315735, 0.47426578, 0.45760415, 0.46701284, 0.45456733,
       0.55800913, 0.48009519, 0.54177337, 0.51579258, 0.42042705,
       0.53120018, 0.48132114, 0.54448709, 0.53486121, 0.48888407,
       0.47726578, 0.51068894, 0.50825628, 0.44555437, 0.39544427,
       0.44582455, 0.46795726, 0.53995574, 0.49660755, 0.50127952,
       0.51927272, 0.50129033, 0.40522496, 0.5060866 , 0.57629399,
       0.46971913, 0.48830972, 0.46322514, 0.51534345, 0.4908826 ,
       0.52228877, 0.49849601, 0.48153117, 0.50827337, 0.44429183,
       0.52602479, 0.48553235, 0.4871044 , 0.57282864, 0.54707363,
       0.51287616, 0.48887421, 0.48100872, 0.4411446 , 0.52661168,
       0.49047748, 0.55136866, 0.5502749 , 0.40908921, 0.50612349,
       0.51409086, 0.45161093, 0.52458952, 0.46297782, 0.41072605,
       0.51753539, 0.51244188, 0.49832342, 0.49005893, 0.48899046,
       0.46197371, 0.51234647, 0.49730484, 0.53166561, 0.5299607 ,
       0.5114417 , 0.54874808, 0.50973398, 0.47383848, 0.55147549,
       0.48390607, 0.47888024, 0.51595257, 0.45907734, 0.4958292 ,
       0.46305028, 0.50614927, 0.51861499, 0.53604132, 0.45599579,
       0.48322203, 0.50218864, 0.47698156, 0.51675647, 0.46757723,
       0.5427066 , 0.44702264, 0.53070666, 0.55139671, 0.5149739 ,
       0.45907596, 0.46413588, 0.50689981, 0.49047661, 0.43193161,
       0.47994797, 0.51106448, 0.50722678, 0.50952031, 0.50712379,
       0.48730584, 0.46936439, 0.50147688, 0.54362022, 0.42841815,
       0.49791542, 0.48804661, 0.41259563, 0.51967542, 0.5155964 ,
       0.58443765, 0.55793582, 0.47636341, 0.55989406, 0.53677608,
       0.5548992 , 0.47158932, 0.45638611, 0.50177158, 0.51748435,
       0.51366959, 0.48523748, 0.50166456, 0.46501925, 0.49407166,
       0.47733243, 0.46300088, 0.52170274, 0.5008146 , 0.49919699,
       0.48399811, 0.45908731, 0.58765579, 0.5753224 , 0.39960027,
       0.56502949, 0.44605578, 0.49624223, 0.47000048, 0.52968107,
       0.42632596, 0.53192592, 0.51693503, 0.48601189, 0.47810484,
       0.46537905, 0.52729462, 0.52751965, 0.49256952, 0.4955406 ,
       0.4823787 , 0.49158201, 0.52901807, 0.50010501, 0.48191655,
       0.4881953 , 0.51294452, 0.49793919, 0.48848777, 0.5757614 ,
       0.50846421, 0.51951845, 0.48291359, 0.57340336, 0.5106729 ,
       0.5150485 , 0.49962848, 0.5671381 , 0.4938218 , 0.48512966,
       0.53325413, 0.47979727, 0.50045906, 0.50519072, 0.54894386,
       0.48307518, 0.53145067, 0.46199404, 0.47679337, 0.48753554,
       0.54084562, 0.48703664, 0.49227588, 0.46546281, 0.54719407,
       0.48080891, 0.51523355, 0.45611392, 0.50539494, 0.4547707 ,
       0.42478874, 0.49280585, 0.51189849, 0.52207925, 0.50698004,
       0.5246115 , 0.54077326, 0.50036451, 0.50285932, 0.48928991,
       0.47236067, 0.47534249, 0.50336418, 0.46470643, 0.46782095,
       0.48562038, 0.5317012 , 0.47169561, 0.44295728, 0.48725089,
       0.51031476, 0.55981834, 0.53046056, 0.44713727, 0.45476956,
       0.44666877, 0.51707463, 0.47661947, 0.48557895, 0.57150448,
       0.51376211, 0.4625577 , 0.47005373, 0.57136114, 0.60830876,
       0.44202211, 0.56476122, 0.50869939, 0.55552466, 0.47415638,
       0.56405487, 0.49518225, 0.48645891, 0.4342614 , 0.50506345,
       0.55440087, 0.45949276, 0.54225737, 0.51514794, 0.47648284,
       0.52667304, 0.49944747, 0.49815508, 0.41616781, 0.47949054,
       0.52002092, 0.46762163, 0.52358015, 0.47480406, 0.53150545,
       0.46643877, 0.45735282, 0.48566825, 0.49598347, 0.49337937,
       0.4889345 , 0.45401664, 0.55293114, 0.47004527, 0.60919863,
       0.52850739, 0.5631108 , 0.47387397, 0.45616294, 0.47944402,
       0.48222191, 0.47080816, 0.50120154, 0.53787033, 0.56056443,
       0.4714677 , 0.47421208, 0.46112169, 0.44689513, 0.51610313,
       0.48408265, 0.50860326, 0.57078082, 0.5126917 , 0.54707078,
       0.55842233, 0.43961228, 0.46110484, 0.51488514, 0.48522545,
       0.45111926, 0.55252999, 0.46252726, 0.51658174, 0.52037914,
       0.48948611, 0.48109099, 0.53224052, 0.48941901, 0.55273234,
       0.52082958, 0.5090826 , 0.50856964, 0.48310996, 0.45227884,
       0.47127725, 0.49663118, 0.51812873, 0.54036399, 0.55104737,
       0.56143826, 0.60470016, 0.4810809 , 0.58410812, 0.52715313,
       0.52661982, 0.47513553, 0.49470043, 0.4528264 , 0.42677714,
       0.4839322 , 0.45078552, 0.43057036, 0.49046392, 0.51834484,
       0.48444884, 0.48123687, 0.53021913, 0.55117678, 0.49870042,
       0.42728649, 0.47714035, 0.4931392 , 0.52547328, 0.49027016,
       0.51813571, 0.50802928, 0.5329757 , 0.52225626, 0.48809751,
       0.45559968, 0.47241168, 0.52598309, 0.47784182, 0.53367383,
       0.51380878, 0.46102995, 0.56888806, 0.47492554, 0.56693835,
       0.49928982, 0.47364759, 0.50488926, 0.45686058, 0.50220827,
       0.49854329, 0.48579502, 0.4952431 , 0.51752064, 0.50479246,
       0.57350831, 0.48753341, 0.50193161, 0.54987917, 0.53486852,
       0.48941084, 0.49800071, 0.47933874, 0.51479363, 0.55157352,
       0.53313693, 0.50027584, 0.49208593, 0.50092732, 0.48339113,
       0.55333452, 0.51102295, 0.49669565, 0.45308609, 0.47305357,
       0.48695117, 0.45504117, 0.50435611, 0.47174232, 0.39309439,
       0.4842797 , 0.53689442, 0.47272546, 0.50139473, 0.49117266,
       0.49058594, 0.48791189, 0.45288081, 0.50976362, 0.44485761,
       0.55133986, 0.48579248, 0.49711977, 0.46840526, 0.47665039,
       0.50559029, 0.53625775, 0.57808677, 0.54710222, 0.54956448,
       0.510473  , 0.45286421, 0.48508655, 0.48806585, 0.57458206,
       0.46665363, 0.4593145 , 0.47228446, 0.53880023, 0.51852952,
       0.50315672, 0.47651575, 0.47661245, 0.55223617, 0.43438399,
       0.43973103, 0.47795929, 0.52187765, 0.48076471, 0.50402666,
       0.50189418, 0.51570975, 0.43935743, 0.49074324, 0.47705331,
       0.47827556, 0.49506533, 0.47724624, 0.51682223, 0.48678459,
       0.43764852, 0.53485436, 0.45558424])

In [69]:
df3['predicttest']=pd.DataFrame(predicttest)

In [70]:
df3=df3.drop(['score','features'],axis=1)

In [71]:
df3

,Id,tweet,emotion,predicttest
0,40860,"[teens, sons, left, car, get, haircuts, im, pr...",sadness,0.465506
1,40861,"[teens, sons, left, car, get, haircuts, im, pr...",sadness,0.484969
2,40862,"[hartramseysuplift, youre, still, discouraged,...",sadness,0.441356
3,40863,"[nearly, dropped, phone, sink, hahahaha]",sadness,0.516979
4,40864,"[whenever, im, feeling, sad, listen, monsta, h...",sadness,0.530400
...,...,...,...,...
668,41528,"[candice, constantly, pout, #gbbo]",sadness,0.516822
669,41529,"[#unhappy, #redbus, cc, talked, week, still, d...",sadness,0.486785
670,41530,"[pull, afew, weeks, ago, sadly, theres, game, ...",sadness,0.437649
671,41531,"[im, buying, art, supplies, im, debating, seri...",sadness,0.534854
672,41532,"[could, ask, chafford, hundred, store, turn, c...",sadness,0.455584