In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv("Desktop/emoint tweet/anger-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

        Id                                              tweet emotion  score
0    10000  How the fu*k! Who the heck! moved my fridge!.....   anger  0.938
1    10001  So my Indian Uber driver just called someone t...   anger  0.896
2    10002  @DPD_UK I asked for my parcel to be delivered ...   anger  0.896
3    10003  so ef whichever butt wipe pulled the fire alar...   anger  0.896
4    10004  Don't join @BTCare they put the phone down on ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852   rose incense are the best thing I've ever bought   anger  0.125
853  10853         @jaaames1993 Literally burst out laughing.   anger  0.067
854  10854           Follow up. Follow through. Be . #success   anger  0.125
855  10855  Wrinkles should merely hide where frown have b...   anger  0.125
856  10856  Love the new song I can't stop thinking about ...   anger  0.083

[857 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)  
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

        Id                                              tweet emotion  score
0    10000  how the fuk who the heck moved my fridge shoul...   anger  0.938
1    10001  so my indian uber driver just called someone t...   anger  0.896
2    10002  i asked for my parcel to be delivered to a pic...   anger  0.896
3    10003  so ef whichever butt wipe pulled the fire alar...   anger  0.896
4    10004  dont join they put the phone down on you talk ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852    rose incense are the best thing ive ever bought   anger  0.125
853  10853                       literally burst out laughing   anger  0.067
854  10854               follow up follow through be #success   anger  0.125
855  10855  wrinkles should merely hide where frown have b...   anger  0.125
856  10856  love the new song i cant stop thinking about y...   anger  0.083

[857 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

        Id                                              tweet emotion  score
0    10000  [how, the, fuk, who, the, heck, moved, my, fri...   anger  0.938
1    10001  [so, my, indian, uber, driver, just, called, s...   anger  0.896
2    10002  [i, asked, for, my, parcel, to, be, delivered,...   anger  0.896
3    10003  [so, ef, whichever, butt, wipe, pulled, the, f...   anger  0.896
4    10004  [dont, join, they, put, the, phone, down, on, ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852  [rose, incense, are, the, best, thing, ive, ev...   anger  0.125
853  10853                  [literally, burst, out, laughing]   anger  0.067
854  10854        [follow, up, follow, through, be, #success]   anger  0.125
855  10855  [wrinkles, should, merely, hide, where, frown,...   anger  0.125
856  10856  [love, the, new, song, i, cant, stop, thinking...   anger  0.083

[857 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

        Id                                              tweet emotion  score
0    10000  [fuk, who, heck, moved, fridge, knock, landlor...   anger  0.938
1    10001  [indian, uber, driver, called, someone, word, ...   anger  0.896
2    10002  [asked, parcel, delivered, pick, store, addres...   anger  0.896
3    10003  [ef, whichever, butt, wipe, pulled, fire, alar...   anger  0.896
4    10004  [dont, join, they, put, phone, talk, over, rud...   anger  0.896
..     ...                                                ...     ...    ...
852  10852    [rose, incense, best, thing, ive, ever, bought]   anger  0.125
853  10853                       [literally, burst, laughing]   anger  0.067
854  10854                [follow, follow, through, #success]   anger  0.125
855  10855  [wrinkles, merely, hide, frown, have, been, ma...   anger  0.125
856  10856            [love, new, song, cant, stop, thinking]   anger  0.083

[857 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer

model_name='bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features

df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
df1

,Id,tweet,emotion,score,features
0,10000,"[fuk, who, heck, moved, fridge, knock, landlor...",anger,0.938,"[[-0.048211165, 0.55411077, 0.17288177, -0.387..."
1,10001,"[indian, uber, driver, called, someone, word, ...",anger,0.896,"[[-0.114754006, 0.2242083, 0.09101931, -0.1088..."
2,10002,"[asked, parcel, delivered, pick, store, addres...",anger,0.896,"[[-0.3445066, -0.026175018, 0.0032749637, -0.1..."
3,10003,"[ef, whichever, butt, wipe, pulled, fire, alar...",anger,0.896,"[[-0.08527253, 0.29024652, 0.19312719, -0.0649..."
4,10004,"[dont, join, they, put, phone, talk, over, rud...",anger,0.896,"[[-0.19458191, 0.13260978, 0.12249434, -0.2312..."
...,...,...,...,...,...
852,10852,"[rose, incense, best, thing, ive, ever, bought]",anger,0.125,"[[-0.5573598, 0.37391967, -0.46787184, 0.10334..."
853,10853,"[literally, burst, laughing]",anger,0.067,"[[-0.14927039, 0.18389827, 0.047589768, -0.044..."
854,10854,"[follow, follow, through, #success]",anger,0.125,"[[-0.21155725, 0.059810657, 0.18363638, 0.0126..."
855,10855,"[wrinkles, merely, hide, frown, have, been, ma...",anger,0.125,"[[0.040475816, 0.2076654, 0.0045883185, -0.075..."
856,10856,"[love, new, song, cant, stop, thinking]",anger,0.083,"[[-0.052609857, -0.124588385, -0.080250956, 0...."

In [17]:
df1.features[0].shape

(15, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
0,10000,"[fuk, who, heck, moved, fridge, knock, landlor...",anger,0.938,"[[-0.048211165, 0.55411077, 0.17288177, -0.387..."
1,10001,"[indian, uber, driver, called, someone, word, ...",anger,0.896,"[[-0.114754006, 0.2242083, 0.09101931, -0.1088..."
2,10002,"[asked, parcel, delivered, pick, store, addres...",anger,0.896,"[[-0.3445066, -0.026175018, 0.0032749637, -0.1..."
3,10003,"[ef, whichever, butt, wipe, pulled, fire, alar...",anger,0.896,"[[-0.08527253, 0.29024652, 0.19312719, -0.0649..."
4,10004,"[dont, join, they, put, phone, talk, over, rud...",anger,0.896,"[[-0.19458191, 0.13260978, 0.12249434, -0.2312..."
5,10005,"[blood, boiling]",anger,0.875,"[[-0.33847663, 0.43582797, -0.3691528, -0.0296..."
6,10006,"[youve, still, got, whole, season, wentworth, ...",anger,0.875,"[[-0.2145357, 0.041926354, 0.31682923, -0.3384..."
7,10007,"[does, tracking, show, equipment, delivered, w...",anger,0.875,"[[-0.17867346, 0.54314536, 0.12850264, -0.2737..."
8,10008,"[legit, furious, him, people, fucking, idiots]",anger,0.875,"[[0.12987164, 0.45778227, 0.020973768, -0.0331..."
9,10009,"[suppose, work, do, wtf, dude, thanks, pissing...",anger,0.875,"[[0.11742496, 0.36254063, 0.1227451, -0.129079..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = df1['features'].tolist()
padded_features = pad_sequences(features, padding='post')
padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
X = np.stack(padded_df['features'])
print('Input feature shape:', X.shape)

Input feature shape: (857, 40, 768)

In [21]:
y = np.array(padded_df['score']) 
print("Input shape:", X.shape)
print("Output shape:", y.shape)

Input shape: (857, 40, 768)
Output shape: (857,)

In [22]:
X = np.reshape(X, (857, 40 * 768)) 
y = np.reshape(y, (857,))

In [23]:
X.shape

(857, 30720)

In [24]:
Y=df1['score'].copy()

In [25]:
X.shape

(857, 30720)

In [26]:
max_sequence_length = len(max(X, key=len))

In [27]:
import tensorflow as tf

In [28]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import regularizers
from keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(8096, input_shape=(30720,), activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dropout(0.1))
model.add(Dense(4048, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(2024, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(1012, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(506, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(128, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(1, activation='linear'))

early_stopping = EarlyStopping(monitor='mean_squared_error', patience=1, mode='min')
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8096)              248717216

 dropout (Dropout)           (None, 8096)              0

 dense_1 (Dense)             (None, 4048)              32776656

 dropout_1 (Dropout)         (None, 4048)              0

 dense_2 (Dense)             (None, 2024)              8195176

 dropout_2 (Dropout)         (None, 2024)              0

 dense_3 (Dense)             (None, 1012)              2049300

 dropout_3 (Dropout)         (None, 1012)              0

 dense_4 (Dense)             (None, 506)               512578

 dropout_4 (Dropout)         (None, 506)               0

 dense_5 (Dense)             (None, 128)               64896

 dense_6 (Dense)             (None, 32)                4128

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 292,319,983
Trainable params: 292,319,983
Non-trainable params: 0
_________________________________________________________________

In [29]:
X.shape

(857, 30720)

In [30]:
df1['tweet'] = df1['tweet'].apply(lambda tokens: ' '.join(tokens))
array = df1['tweet'].values
tensor = tf.convert_to_tensor(array)

In [31]:
X.shape

(857, 30720)

In [32]:
y.shape

(857,)

In [33]:
history = model.fit(X, Y, batch_size=27, epochs=10, shuffle=True, verbose=1, callbacks=[early_stopping])

Epoch 1/10
32/32 [==============================] - 137s 4s/step - loss: 55.2204 - mean_squared_error: 1.2691
Epoch 2/10
32/32 [==============================] - 120s 4s/step - loss: 20.0903 - mean_squared_error: 0.0463
Epoch 3/10
32/32 [==============================] - 123s 4s/step - loss: 12.6189 - mean_squared_error: 0.0285
Epoch 4/10
32/32 [==============================] - 127s 4s/step - loss: 9.0873 - mean_squared_error: 0.0252
Epoch 5/10
32/32 [==============================] - 128s 4s/step - loss: 6.9675 - mean_squared_error: 0.0252
Epoch 6/10
32/32 [==============================] - 125s 4s/step - loss: 5.5417 - mean_squared_error: 0.0214
Epoch 7/10
32/32 [==============================] - 129s 4s/step - loss: 4.5301 - mean_squared_error: 0.0223

In [34]:
model.save('emointjoy.h5','/Home')

In [35]:
from keras.models import load_model

loaded_model = load_model('emointjoy.h5')

In [62]:
gold= pd.read_csv("Desktop/emoint tweet/anger-ratings-0to1.dev.gold.txt", delimiter='\t', header=None)
gold.columns = ['Id', 'tweet', 'emotion', 'score']

In [63]:
gold

       Id                                              tweet emotion  score
0   10857  @ZubairSabirPTI  pls dont insult the word 'Molna'   anger  0.479
1   10858  @ArcticFantasy I would have almost took offens...   anger  0.458
2   10859  @IllinoisLoyalty that Rutgers game was an abom...   anger  0.562
3   10860  @CozanGaming that's what lisa asked before she...   anger  0.500
4   10861  Sometimes I get mad over something so minuscul...   anger  0.708
..    ...                                                ...     ...    ...
79  10936  @Jen_ny69 People will always get offended ever...   anger  0.562
80  10937  @gayla_weeks1 I try not to let my anger seep i...   anger  0.625
81  10938               I hope my hustle don't offend nobody   anger  0.292
82  10939  Just watched Django Unchained, Other people ma...   anger  0.229
83  10940     Lol little things like that make me so angry x   anger  0.604

[84 rows x 4 columns]

In [64]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
gold['tweet'] = gold['tweet'].apply(preprocess_tweet)

In [65]:
gold

       Id                                              tweet emotion  score
0   10857  @zubairsabirpti  pls dont insult the word 'molna'   anger  0.479
1   10858  @arcticfantasy i would have almost took offens...   anger  0.458
2   10859  @illinoisloyalty that rutgers game was an abom...   anger  0.562
3   10860  @cozangaming that's what lisa asked before she...   anger  0.500
4   10861  sometimes i get mad over something so minuscul...   anger  0.708
..    ...                                                ...     ...    ...
79  10936  @jen_ny69 people will always get offended ever...   anger  0.562
80  10937  @gayla_weeks1 i try not to let my anger seep i...   anger  0.625
81  10938               i hope my hustle don't offend nobody   anger  0.292
82  10939  just watched django unchained, other people ma...   anger  0.229
83  10940     lol little things like that make me so angry x   anger  0.604

[84 rows x 4 columns]

In [66]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

gold['tweet'] = gold['tweet'].apply(remove_mentions)
gold

       Id                                              tweet emotion  score
0   10857                   pls dont insult the word 'molna'   anger  0.479
1   10858   i would have almost took offense to this if i...   anger  0.458
2   10859   that rutgers game was an abomination. an affr...   anger  0.562
3   10860   that's what lisa asked before she started rag...   anger  0.500
4   10861  sometimes i get mad over something so minuscul...   anger  0.708
..    ...                                                ...     ...    ...
79  10936   people will always get offended everyone's si...   anger  0.562
80  10937   i try not to let my anger seep into reviews, ...   anger  0.625
81  10938               i hope my hustle don't offend nobody   anger  0.292
82  10939  just watched django unchained, other people ma...   anger  0.229
83  10940     lol little things like that make me so angry x   anger  0.604

[84 rows x 4 columns]

In [67]:
def clean_gold(gold):
    gold  = re.sub(r'[^\w\s#@]', '', gold ) 
    gold  = re.sub(r'\d+', '', gold)  
    gold  = re.sub(r'\s+', ' ', gold).strip()
    return gold

gold['tweet'] = gold['tweet'].apply(clean_gold)

In [68]:
gold

       Id                                              tweet emotion  score
0   10857                     pls dont insult the word molna   anger  0.479
1   10858  i would have almost took offense to this if i ...   anger  0.458
2   10859  that rutgers game was an abomination an affron...   anger  0.562
3   10860  thats what lisa asked before she started ragin...   anger  0.500
4   10861  sometimes i get mad over something so minuscul...   anger  0.708
..    ...                                                ...     ...    ...
79  10936  people will always get offended everyones situ...   anger  0.562
80  10937  i try not to let my anger seep into reviews bu...   anger  0.625
81  10938                i hope my hustle dont offend nobody   anger  0.292
82  10939  just watched django unchained other people may...   anger  0.229
83  10940     lol little things like that make me so angry x   anger  0.604

[84 rows x 4 columns]

In [69]:
def convert_emoji(tweet):
    gold = emoji.demojize(tweet)
    return gold

gold['tweet'] = gold['tweet'].apply(convert_emoji)

In [70]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

gold['tweet'] = gold['tweet'].apply(tokenize_tweets)

In [71]:
gold

       Id                                              tweet emotion  score
0   10857              [pls, dont, insult, the, word, molna]   anger  0.479
1   10858  [i, would, have, almost, took, offense, to, th...   anger  0.458
2   10859  [that, rutgers, game, was, an, abomination, an...   anger  0.562
3   10860  [thats, what, lisa, asked, before, she, starte...   anger  0.500
4   10861  [sometimes, i, get, mad, over, something, so, ...   anger  0.708
..    ...                                                ...     ...    ...
79  10936  [people, will, always, get, offended, everyone...   anger  0.562
80  10937  [i, try, not, to, let, my, anger, seep, into, ...   anger  0.625
81  10938        [i, hope, my, hustle, dont, offend, nobody]   anger  0.292
82  10939  [just, watched, django, unchained, other, peop...   anger  0.229
83  10940  [lol, little, things, like, that, make, me, so...   anger  0.604

[84 rows x 4 columns]

In [72]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

gold['tweet'] = gold['tweet'].apply(remove_stopwords)

In [73]:
gold

       Id                                              tweet emotion  score
0   10857                   [pls, dont, insult, word, molna]   anger  0.479
1   10858   [have, almost, took, offense, actually, snapped]   anger  0.458
2   10859  [rutgers, game, abomination, affront, god, man...   anger  0.562
3   10860  [thats, what, lisa, asked, before, she, starte...   anger  0.500
4   10861  [sometimes, get, mad, over, something, minuscu...   anger  0.708
..    ...                                                ...     ...    ...
79  10936  [people, always, get, offended, everyones, sit...   anger  0.562
80  10937  [try, let, anger, seep, into, reviews, resent,...   anger  0.625
81  10938               [hope, hustle, dont, offend, nobody]   anger  0.292
82  10939  [watched, django, unchained, people, may, frow...   anger  0.229
83  10940           [lol, little, things, like, make, angry]   anger  0.604

[84 rows x 4 columns]

In [74]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


gold['features'] = gold['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [75]:
gold["features"][0].shape

(11, 768)

In [76]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =gold['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = gold.copy()
padded_df['features'] = padded_features.tolist()

In [77]:
X_gold= np.stack(padded_df['features'])
print('Input feature shape:', X_gold.shape)

Input feature shape: (84, 43, 768)

In [78]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 40

padded_gold_data = pad_sequences(X_gold, maxlen=max_sequence_length, padding='post', truncating='post')

In [79]:
X = np.reshape(padded_gold_data, (84, 40 * 768))

In [80]:
gold_features = np.array(X)

In [81]:
print(gold_features.shape)

(84, 30720)

In [82]:

predictions = loaded_model.predict(gold_features)

3/3 [==============================] - 0s 121ms/step

In [83]:
print(predictions)

[[0.42983025]
 [0.39067608]
 [0.4761458 ]
 [0.41589832]
 [0.45870632]
 [0.4723348 ]
 [0.47835708]
 [0.5010797 ]
 [0.49646306]
 [0.45078397]
 [0.47035313]
 [0.4992628 ]
 [0.48040706]
 [0.5068386 ]
 [0.4588393 ]
 [0.44625086]
 [0.47188455]
 [0.4091395 ]
 [0.37288994]
 [0.41724902]
 [0.42723107]
 [0.4294554 ]
 [0.3768196 ]
 [0.44328767]
 [0.42854536]
 [0.48328167]
 [0.43076688]
 [0.40173358]
 [0.45567417]
 [0.4664476 ]
 [0.3817675 ]
 [0.39712238]
 [0.41243452]
 [0.3542381 ]
 [0.43463552]
 [0.4955246 ]
 [0.45220208]
 [0.42163926]
 [0.40661412]
 [0.39225864]
 [0.39914083]
 [0.4055798 ]
 [0.4092601 ]
 [0.4164049 ]
 [0.457775  ]
 [0.45655042]
 [0.40969992]
 [0.40172863]
 [0.47126442]
 [0.42962474]
 [0.42130685]
 [0.42085493]
 [0.38543588]
 [0.48216414]
 [0.44782507]
 [0.46181726]
 [0.37941873]
 [0.42436415]
 [0.41671836]
 [0.48221815]
 [0.41491187]
 [0.4152171 ]
 [0.40396369]
 [0.40331036]
 [0.3783309 ]
 [0.43287504]
 [0.43131328]
 [0.38366055]
 [0.38366055]
 [0.43132257]
 [0.3792795 ]
 [0.3913362 ]
 [0.41876227]
 [0.4180056 ]
 [0.37319607]
 [0.30444986]
 [0.44442767]
 [0.41896302]
 [0.4435563 ]
 [0.45634675]
 [0.4392377 ]
 [0.39077467]
 [0.42418593]
 [0.40567714]]

In [84]:
gold['prediction']=pd.DataFrame(predictions)

In [85]:
gold

,Id,tweet,emotion,score,features,prediction
0,10857,"[pls, dont, insult, word, molna]",anger,0.479,"[[-0.16410866, 0.59082836, -0.29882964, -0.219...",0.429830
1,10858,"[have, almost, took, offense, actually, snapped]",anger,0.458,"[[0.0656415, 0.116881676, 0.07354636, 0.036941...",0.390676
2,10859,"[rutgers, game, abomination, affront, god, man...",anger,0.562,"[[-0.053360425, 0.269789, 0.00304747, -0.07536...",0.476146
3,10860,"[thats, what, lisa, asked, before, she, starte...",anger,0.500,"[[-0.1695536, 0.36146763, 0.1704143, -0.027060...",0.415898
4,10861,"[sometimes, get, mad, over, something, minuscu...",anger,0.708,"[[0.32172096, -0.21224442, -0.00801837, -0.002...",0.458706
...,...,...,...,...,...,...
79,10936,"[people, always, get, offended, everyones, sit...",anger,0.562,"[[0.20103475, 0.36392444, -0.038629428, 0.0799...",0.456347
80,10937,"[try, let, anger, seep, into, reviews, resent,...",anger,0.625,"[[0.15884677, -0.2910138, -0.052284643, 0.0484...",0.439238
81,10938,"[hope, hustle, dont, offend, nobody]",anger,0.292,"[[-0.023534462, 0.50190735, -0.4802528, -0.017...",0.390775
82,10939,"[watched, django, unchained, people, may, frow...",anger,0.229,"[[0.15952887, 0.13285294, 0.20451696, 0.080129...",0.424186
83,10940,"[lol, little, things, like, make, angry]",anger,0.604,"[[-0.13832283, 0.4406555, -0.28989294, 0.06961...",0.405677

In [86]:
from sklearn.metrics import mean_squared_error

In [87]:
mse = mean_squared_error(gold['score'], gold['prediction'])
print("Mean square Error:", mse)

Mean square Error: 0.027248999115929234

In [88]:
test= pd.read_csv("Desktop/emoint tweet/anger-ratings-0to1.test.target.txt", delimiter='\t', header=None)
test.columns = ['Id', 'tweet', 'emotion', 'score']

In [89]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
test['tweet'] = test['tweet'].apply(preprocess_tweet)

In [90]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

test['tweet'] = test['tweet'].apply(remove_mentions)
test

        Id                                              tweet emotion score
0    10941  at the point today where if someone says somet...   anger  NONE
1    10942    it's game day!!!!      t minus 14:30  #relen...   anger  NONE
2    10943  this game has pissed me off more than any othe...   anger  NONE
3    10944   i've just found out it's candice and not cand...   anger  NONE
4    10945      if he can't come to my mum'a 60th after 25...   anger  NONE
..     ...                                                ...     ...   ...
755  11696   what if the supposed animosity is all bullshi...   anger  NONE
756  11697               will byu's offense score 24+ vs wvu?   anger  NONE
757  11698  id love 2 c gyimah in action but his coach is ...   anger  NONE
758  11699  forgiving means operating with god's spirit &a...   anger  NONE
759  11700  i've got a lot of tokens saved up and i wanna ...   anger  NONE

[760 rows x 4 columns]

In [91]:
def clean_test(test):
    test  = re.sub(r'[^\w\s#@]', '', test ) 
    test  = re.sub(r'\d+', '', test)  
    test  = re.sub(r'\s+', ' ', test).strip()
    return test

test['tweet'] = test['tweet'].apply(clean_test)

In [92]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

test['tweet'] = test['tweet'].apply(tokenize_tweets)

In [93]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens


test['tweet'] = test['tweet'].apply(remove_stopwords)

In [94]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


test['features'] = test['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [95]:
test["features"][0].shape

(12, 768)

In [96]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =test['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = test.copy()
padded_df['features'] = padded_features.tolist()

In [97]:
X_test= np.stack(padded_df['features'])
print('Input feature shape:', X_test.shape)

Input feature shape: (760, 43, 768)

In [101]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 40
truncated_test_data = pad_sequences(X_test, maxlen=max_sequence_length, padding='post', truncating='post')

print(truncated_test_data.shape)

(760, 40, 768)

In [102]:
X = np.reshape(truncated_test_data, (760, 40 * 768))

In [103]:
test_features = np.array(X)

In [104]:
print(test_features.shape)

(760, 30720)

In [105]:

predictions = loaded_model.predict(test_features)

24/24 [==============================] - 4s 145ms/step

In [106]:
print(predictions)

[[0.45113027]
 [0.37854362]
 [0.51050544]
 [0.37354475]
 [0.4745111 ]
 [0.4684605 ]
 [0.3836341 ]
 [0.52161586]
 [0.43736106]
 [0.35865605]
 [0.4083417 ]
 [0.4222024 ]
 [0.45327616]
 [0.50875306]
 [0.46213943]
 [0.33236104]
 [0.36837047]
 [0.41316688]
 [0.42072517]
 [0.44420278]
 [0.46509486]
 [0.44261724]
 [0.49337047]
 [0.47385502]
 [0.42259175]
 [0.39641058]
 [0.40106475]
 [0.48621994]
 [0.44472313]
 [0.437231  ]
 [0.36148798]
 [0.4926566 ]
 [0.49737036]
 [0.5074878 ]
 [0.44984353]
 [0.40119946]
 [0.44292665]
 [0.4810394 ]
 [0.35033333]
 [0.536826  ]
 [0.5349749 ]
 [0.45201528]
 [0.49917078]
 [0.50610703]
 [0.44630247]
 [0.46070343]
 [0.45595294]
 [0.46042192]
 [0.423343  ]
 [0.40308785]
 [0.4361472 ]
 [0.4090435 ]
 [0.42636746]
 [0.47573394]
 [0.44350028]
 [0.29299647]
 [0.29796726]
 [0.5008431 ]
 [0.48456275]
 [0.41731203]
 [0.40754902]
 [0.42641103]
 [0.37447172]
 [0.48588938]
 [0.45226282]
 [0.45597625]
 [0.4142797 ]
 [0.38528705]
 [0.43058962]
 [0.42641282]
 [0.44534016]
 [0.40480375]
 [0.3902805 ]
 [0.40176135]
 [0.50538754]
 [0.44565642]
 [0.45992458]
 [0.47335613]
 [0.39102787]
 [0.38999563]
 [0.4680376 ]
 [0.46171975]
 [0.37845343]
 [0.40957087]
 [0.41657084]
 [0.41716164]
 [0.4265458 ]
 [0.4501384 ]
 [0.4135552 ]
 [0.39253527]
 [0.41966087]
 [0.4377414 ]
 [0.439694  ]
 [0.40639436]
 [0.5308287 ]
 [0.53202945]
 [0.5251705 ]
 [0.5249263 ]
 [0.46327066]
 [0.45955288]
 [0.37727672]
 [0.43504173]
 [0.45021826]
 [0.4148212 ]
 [0.40123767]
 [0.39434403]
 [0.39545804]
 [0.39631242]
 [0.4186499 ]
 [0.3764767 ]
 [0.3877372 ]
 [0.4561507 ]
 [0.40413827]
 [0.38519263]
 [0.4596569 ]
 [0.43653345]
 [0.44118804]
 [0.42943537]
 [0.46040273]
 [0.36437094]
 [0.35924953]
 [0.3554833 ]
 [0.47534525]
 [0.3953951 ]
 [0.38306278]
 [0.4728123 ]
 [0.40104914]
 [0.3173874 ]
 [0.40677297]
 [0.4176756 ]
 [0.4819582 ]
 [0.48218203]
 [0.48239493]
 [0.38861483]
 [0.53497314]
 [0.5198414 ]
 [0.52796626]
 [0.3976758 ]
 [0.38206202]
 [0.40128195]
 [0.39554507]
 [0.43879414]
 [0.42114466]
 [0.39057088]
 [0.47536653]
 [0.4655339 ]
 [0.4531077 ]
 [0.4201253 ]
 [0.3035928 ]
 [0.49768162]
 [0.44450122]
 [0.47574854]
 [0.40156   ]
 [0.50136685]
 [0.48399663]
 [0.42918885]
 [0.5078863 ]
 [0.48674303]
 [0.44305474]
 [0.40631694]
 [0.49236715]
 [0.48220736]
 [0.38703233]
 [0.3669781 ]
 [0.49739635]
 [0.43641722]
 [0.42305917]
 [0.40377456]
 [0.5040435 ]
 [0.5138819 ]
 [0.4617589 ]
 [0.4099971 ]
 [0.44478714]
 [0.3974067 ]
 [0.4685967 ]
 [0.3505394 ]
 [0.35286295]
 [0.39657485]
 [0.4160245 ]
 [0.4602785 ]
 [0.38273972]
 [0.35356706]
 [0.4839539 ]
 [0.49218112]
 [0.44423324]
 [0.4393524 ]
 [0.41764843]
 [0.44208437]
 [0.41270417]
 [0.37842333]
 [0.39058572]
 [0.38744187]
 [0.43918198]
 [0.4061076 ]
 [0.4666742 ]
 [0.4756264 ]
 [0.34726524]
 [0.4727922 ]
 [0.45437324]
 [0.45346612]
 [0.457263  ]
 [0.41014755]
 [0.47111237]
 [0.4521408 ]
 [0.44336063]
 [0.48698074]
 [0.42355168]
 [0.3923089 ]
 [0.48743647]
 [0.3662004 ]
 [0.38422477]
 [0.43399608]
 [0.44287765]
 [0.38501465]
 [0.5294722 ]
 [0.40911365]
 [0.4625153 ]
 [0.43553364]
 [0.39810485]
 [0.41682428]
 [0.41009277]
 [0.33178896]
 [0.42970508]
 [0.46430475]
 [0.45978415]
 [0.4444309 ]
 [0.40159017]
 [0.3383959 ]
 [0.42462248]
 [0.41146755]
 [0.47490257]
 [0.4031273 ]
 [0.46857518]
 [0.4227823 ]
 [0.42051315]
 [0.38900572]
 [0.3929054 ]
 [0.40095842]
 [0.33848286]
 [0.29759502]
 [0.5043937 ]
 [0.42115438]
 [0.45376587]
 [0.39421284]
 [0.48513955]
 [0.4567775 ]
 [0.4394796 ]
 [0.40523243]
 [0.4139505 ]
 [0.49111152]
 [0.4414839 ]
 [0.45293158]
 [0.44255745]
 [0.40150148]
 [0.40592653]
 [0.44705528]
 [0.41990185]
 [0.43452108]
 [0.39066136]
 [0.42868936]
 [0.41435808]
 [0.42958874]
 [0.48837596]
 [0.4706264 ]
 [0.5049054 ]
 [0.49513733]
 [0.46388894]
 [0.39466792]
 [0.45202982]
 [0.4497679 ]
 [0.40267724]
 [0.4753241 ]
 [0.45498753]
 [0.4305817 ]
 [0.37730038]
 [0.39429682]
 [0.4350931 ]
 [0.50366956]
 [0.38975394]
 [0.44940543]
 [0.46760243]
 [0.4451654 ]
 [0.3753804 ]
 [0.43106467]
 [0.33940303]
 [0.37558532]
 [0.45364553]
 [0.41530687]
 [0.44793922]
 [0.4152034 ]
 [0.45801997]
 [0.35772216]
 [0.4068849 ]
 [0.4438485 ]
 [0.4386409 ]
 [0.45377457]
 [0.45743263]
 [0.46535164]
 [0.48295236]
 [0.4142496 ]
 [0.4908566 ]
 [0.44573897]
 [0.4592421 ]
 [0.3437323 ]
 [0.4933402 ]
 [0.50430673]
 [0.42223394]
 [0.40819955]
 [0.37452447]
 [0.43174654]
 [0.4150843 ]
 [0.33158463]
 [0.42216873]
 [0.44489062]
 [0.41727924]
 [0.42459977]
 [0.41680187]
 [0.481889  ]
 [0.4683392 ]
 [0.35940236]
 [0.4202304 ]
 [0.47579777]
 [0.42454797]
 [0.38629186]
 [0.3966174 ]
 [0.50599396]
 [0.4326346 ]
 [0.42083007]
 [0.37500817]
 [0.44727027]
 [0.42759407]
 [0.40784168]
 [0.38961464]
 [0.45652515]
 [0.48902476]
 [0.44540846]
 [0.42767322]
 [0.38461554]
 [0.43730348]
 [0.40103352]
 [0.42986667]
 [0.44596636]
 [0.46964723]
 [0.42988735]
 [0.4360531 ]
 [0.4680373 ]
 [0.39523757]
 [0.3812759 ]
 [0.4172501 ]
 [0.48937726]
 [0.38776088]
 [0.41445416]
 [0.389417  ]
 [0.45343268]
 [0.4778505 ]
 [0.45522797]
 [0.43312842]
 [0.40720838]
 [0.41826922]
 [0.35525566]
 [0.4834323 ]
 [0.39313513]
 [0.42955834]
 [0.5188946 ]
 [0.4858426 ]
 [0.48267674]
 [0.380073  ]
 [0.39059603]
 [0.3879503 ]
 [0.5180756 ]
 [0.47851032]
 [0.44494605]
 [0.41840816]
 [0.35912597]
 [0.44263977]
 [0.38893038]
 [0.43299943]
 [0.38057435]
 [0.3993709 ]
 [0.4755633 ]
 [0.4839192 ]
 [0.40703297]
 [0.40228724]
 [0.43123704]
 [0.36113423]
 [0.4631287 ]
 [0.47311455]
 [0.37743402]
 [0.48298305]
 [0.44560218]
 [0.41756195]
 [0.4127121 ]
 [0.39733827]
 [0.47215962]
 [0.50324905]
 [0.4319753 ]
 [0.4105404 ]
 [0.32019055]
 [0.4115026 ]
 [0.4453649 ]
 [0.41666842]
 [0.39774692]
 [0.38094002]
 [0.37300456]
 [0.3991773 ]
 [0.47263432]
 [0.5092052 ]
 [0.47755265]
 [0.4012714 ]
 [0.45891583]
 [0.5270039 ]
 [0.43560815]
 [0.3323965 ]
 [0.40263778]
 [0.42297143]
 [0.43447435]
 [0.46149158]
 [0.3584383 ]
 [0.45407832]
 [0.4185331 ]
 [0.40095854]
 [0.44105226]
 [0.4599133 ]
 [0.43843204]
 [0.49986804]
 [0.45305645]
 [0.4307726 ]
 [0.47502112]
 [0.45457256]
 [0.3735972 ]
 [0.500763  ]
 [0.42451036]
 [0.35641664]
 [0.47371912]
 [0.46373236]
 [0.39568907]
 [0.4562356 ]
 [0.43449503]
 [0.4296435 ]
 [0.4602487 ]
 [0.50113255]
 [0.40539896]
 [0.43573332]
 [0.4321757 ]
 [0.34864455]
 [0.43596447]
 [0.45634717]
 [0.38908136]
 [0.43369812]
 [0.44477493]
 [0.48787296]
 [0.4801935 ]
 [0.47126496]
 [0.43618405]
 [0.4032572 ]
 [0.34888119]
 [0.42468405]
 [0.39563042]
 [0.46704805]
 [0.43315893]
 [0.45063055]
 [0.43312132]
 [0.4222579 ]
 [0.40999156]
 [0.39146936]
 [0.428271  ]
 [0.41330022]
 [0.3845085 ]
 [0.46383017]
 [0.4638757 ]
 [0.5004305 ]
 [0.4722739 ]
 [0.45903325]
 [0.36081958]
 [0.4222024 ]
 [0.43339336]
 [0.47453606]
 [0.4108318 ]
 [0.40308517]
 [0.4135667 ]
 [0.46919107]
 [0.43401074]
 [0.5227277 ]
 [0.4275825 ]
 [0.45062482]
 [0.45851052]
 [0.42023176]
 [0.40015227]
 [0.4944402 ]
 [0.44110864]
 [0.43778688]
 [0.48431402]
 [0.45905697]
 [0.4480545 ]
 [0.41224074]
 [0.45356876]
 [0.46650267]
 [0.37121868]
 [0.5025816 ]
 [0.47977322]
 [0.41078758]
 [0.39802557]
 [0.44530022]
 [0.33989066]
 [0.4185331 ]
 [0.44181746]
 [0.34589177]
 [0.40693307]
 [0.4824245 ]
 [0.4646517 ]
 [0.51472026]
 [0.34975934]
 [0.44472557]
 [0.42735076]
 [0.43399382]
 [0.35762513]
 [0.44804335]
 [0.45796525]
 [0.4570765 ]
 [0.44373316]
 [0.3790043 ]
 [0.38038188]
 [0.47210526]
 [0.40772682]
 [0.42185944]
 [0.40993977]
 [0.40547657]
 [0.33448708]
 [0.40750313]
 [0.40465552]
 [0.40509653]
 [0.46130806]
 [0.4581362 ]
 [0.4114285 ]
 [0.3970185 ]
 [0.41010052]
 [0.4512986 ]
 [0.44747674]
 [0.3946836 ]
 [0.39349627]
 [0.45473653]
 [0.43652946]
 [0.4226094 ]
 [0.47433293]
 [0.4963628 ]
 [0.3796633 ]
 [0.4077015 ]
 [0.37541628]
 [0.34037942]
 [0.42907548]
 [0.3959455 ]
 [0.3663177 ]
 [0.442217  ]
 [0.5599472 ]
 [0.50791144]
 [0.45578873]
 [0.503637  ]
 [0.5246477 ]
 [0.49866164]
 [0.41332358]
 [0.47774553]
 [0.5102485 ]
 [0.46562672]
 [0.3644554 ]
 [0.33013046]
 [0.45516402]
 [0.46712583]
 [0.47849196]
 [0.37968302]
 [0.4321828 ]
 [0.5530892 ]
 [0.54559004]
 [0.4158355 ]
 [0.4223256 ]
 [0.47001815]
 [0.47175825]
 [0.4422531 ]
 [0.5256953 ]
 [0.4724391 ]
 [0.45264107]
 [0.45199054]
 [0.43106377]
 [0.43086708]
 [0.38831824]
 [0.34580386]
 [0.39547414]
 [0.4613672 ]
 [0.45547545]
 [0.44743663]
 [0.3226614 ]
 [0.4645331 ]
 [0.41476732]
 [0.44755638]
 [0.3661402 ]
 [0.47872812]
 [0.46347976]
 [0.34639102]
 [0.36445767]
 [0.40483338]
 [0.45690966]
 [0.40158665]
 [0.4444732 ]
 [0.4838388 ]
 [0.3823676 ]
 [0.5034203 ]
 [0.4708854 ]
 [0.48590434]
 [0.4443887 ]
 [0.410313  ]
 [0.37507194]
 [0.46337342]
 [0.46136582]
 [0.43586773]
 [0.3441589 ]
 [0.35666168]
 [0.43181866]
 [0.4004255 ]
 [0.45157737]
 [0.43627053]
 [0.39497155]
 [0.39502424]
 [0.35140318]
 [0.4609959 ]
 [0.38953084]
 [0.42844856]
 [0.44426185]
 [0.45572102]
 [0.442028  ]
 [0.50454193]
 [0.4054759 ]
 [0.4258604 ]
 [0.47238058]
 [0.36855882]
 [0.41130447]
 [0.41298217]
 [0.51395327]
 [0.5434225 ]
 [0.41172725]
 [0.43965703]
 [0.30924946]
 [0.43352228]
 [0.44515347]
 [0.3962553 ]
 [0.4696421 ]
 [0.45292318]
 [0.4339918 ]
 [0.42090338]
 [0.4123736 ]
 [0.42161387]
 [0.42887014]
 [0.4982984 ]
 [0.4787051 ]
 [0.4760064 ]
 [0.48681575]
 [0.43137336]
 [0.4303879 ]
 [0.4302988 ]
 [0.5427765 ]
 [0.48791003]
 [0.48762167]
 [0.43968487]
 [0.39716196]
 [0.40858215]
 [0.47201306]
 [0.42440462]
 [0.388151  ]
 [0.38509727]
 [0.34960735]
 [0.42548543]
 [0.42230988]
 [0.5456891 ]
 [0.44461238]
 [0.40827435]
 [0.48079652]
 [0.38829923]
 [0.3662448 ]
 [0.42397004]
 [0.4639287 ]
 [0.43185312]
 [0.4243275 ]
 [0.4422714 ]
 [0.42671174]
 [0.43382645]
 [0.44234282]
 [0.49330336]
 [0.43618357]
 [0.41347927]
 [0.42465335]
 [0.41815645]
 [0.39351755]
 [0.31738925]
 [0.47513628]
 [0.42967796]
 [0.37416267]
 [0.4279834 ]
 [0.3675887 ]
 [0.36657912]
 [0.41329175]
 [0.4300295 ]
 [0.42776555]
 [0.39155203]
 [0.40954345]
 [0.45072573]
 [0.4480477 ]
 [0.3747608 ]
 [0.4747752 ]
 [0.35743797]
 [0.42756695]
 [0.39971572]
 [0.42169446]
 [0.43687707]
 [0.46086472]
 [0.52969253]
 [0.508149  ]
 [0.45990312]
 [0.44965023]
 [0.55322933]
 [0.4946732 ]
 [0.49918264]
 [0.45594466]
 [0.38915366]
 [0.43886065]
 [0.38400847]
 [0.37852973]
 [0.45088595]
 [0.47329324]
 [0.3406675 ]
 [0.39272594]
 [0.5004063 ]
 [0.47087556]
 [0.45046932]
 [0.46283352]
 [0.4703461 ]
 [0.48368895]
 [0.36607438]
 [0.38598782]
 [0.3625208 ]
 [0.38516235]
 [0.5023075 ]
 [0.48590904]
 [0.42889124]
 [0.41300106]
 [0.39553988]
 [0.39968783]
 [0.47216278]
 [0.4198298 ]
 [0.42300594]
 [0.3711148 ]
 [0.42589307]
 [0.38915366]
 [0.42824107]
 [0.38764006]
 [0.4838857 ]
 [0.4893371 ]
 [0.4734158 ]
 [0.4443286 ]
 [0.37540495]
 [0.39036924]
 [0.44267237]
 [0.46056813]]

In [107]:
test['score']=pd.DataFrame(predictions)

In [108]:
test

,Id,tweet,emotion,score,features
0,10941,"[point, today, someone, says, something, remot...",anger,0.451130,"[[0.27355012, 0.030854275, 0.0725501, 0.058589..."
1,10942,"[game, day, minus, #relentless]",anger,0.378544,"[[-0.062490027, -0.046009917, 0.018530663, 0.1..."
2,10943,"[game, pissed, off, than, game, year, blood, b...",anger,0.510505,"[[-0.21455964, 0.009541917, 0.15138617, -0.157..."
3,10944,"[ive, found, candice, candace, she, pout, she,...",anger,0.373545,"[[-0.18939371, 0.05794645, -0.04610769, 0.0864..."
4,10945,"[cant, come, muma, th, after, tweets, then, #s...",anger,0.474511,"[[0.055749744, 0.199722, 0.5565932, -0.1949415..."
...,...,...,...,...,...
755,11696,"[what, supposed, animosity, bullshit, con, ira...",anger,0.444329,"[[-0.073396154, 0.24903403, -0.1305108, 0.0700..."
756,11697,"[byus, offense, score, vs, wvu]",anger,0.375405,"[[-0.72507215, -0.6317022, -0.17955363, 0.0976..."
757,11698,"[id, love, gyimah, action, his, coach, holding...",anger,0.390369,"[[-0.917267, 0.029235095, -0.12552397, -0.4948..."
758,11699,"[forgiving, means, operating, gods, spirit, am...",anger,0.442672,"[[0.026432868, 0.3324353, -0.22418864, -0.1191..."
759,11700,"[ive, got, lot, tokens, saved, wanna, spam, ev...",anger,0.460568,"[[-0.0750121, 0.17871594, -0.030560482, -0.190..."

In [109]:
test=test.drop('features',axis=1)

In [110]:
test

,Id,tweet,emotion,score
0,10941,"[point, today, someone, says, something, remot...",anger,0.451130
1,10942,"[game, day, minus, #relentless]",anger,0.378544
2,10943,"[game, pissed, off, than, game, year, blood, b...",anger,0.510505
3,10944,"[ive, found, candice, candace, she, pout, she,...",anger,0.373545
4,10945,"[cant, come, muma, th, after, tweets, then, #s...",anger,0.474511
...,...,...,...,...
755,11696,"[what, supposed, animosity, bullshit, con, ira...",anger,0.444329
756,11697,"[byus, offense, score, vs, wvu]",anger,0.375405
757,11698,"[id, love, gyimah, action, his, coach, holding...",anger,0.390369
758,11699,"[forgiving, means, operating, gods, spirit, am...",anger,0.442672
759,11700,"[ive, got, lot, tokens, saved, wanna, spam, ev...",anger,0.460568