In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv("Desktop/emoint tweet/joy-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

        Id                                              tweet emotion  score
0    30000  Just got back from seeing @GaryDelaney in Burs...     joy  0.980
1    30001  Oh dear an evening of absolute hilarity I don'...     joy  0.958
2    30002  Been waiting all week for this game ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #ch...     joy  0.940
3    30003  @gardiner_love : Thank you so much, Gloria! Yo...     joy  0.938
4    30004  I feel so blessed to work with the family that...     joy  0.938
..     ...                                                ...     ...    ...
818  30818  It's just the lack of company and liveliness o...     joy  0.058
819  30819             Quinn's short hair makes me sad. #glee     joy  0.040
820  30820  hate overthinking e v e r y t h i n g like i j...     joy  0.040
821  30821  People who cheer for sports teams completely o...     joy  0.020
822  30822  @DamnPatriot You're a POS for rejoicing in som...     joy  0.019

[823 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)  
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

        Id                                              tweet emotion  score
0    30000  just got back from seeing in burslem amazing f...     joy  0.980
1    30001  oh dear an evening of absolute hilarity i dont...     joy  0.958
2    30002  been waiting all week for this game #cheer #fr...     joy  0.940
3    30003  thank you so much gloria youre so sweet and th...     joy  0.938
4    30004  i feel so blessed to work with the family that...     joy  0.938
..     ...                                                ...     ...    ...
818  30818  its just the lack of company and liveliness ou...     joy  0.058
819  30819               quinns short hair makes me sad #glee     joy  0.040
820  30820  hate overthinking e v e r y t h i n g like i j...     joy  0.040
821  30821  people who cheer for sports teams completely o...     joy  0.020
822  30822        youre a pos for rejoicing in someones death     joy  0.019

[823 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

        Id                                              tweet emotion  score
0    30000  [just, got, back, from, seeing, in, burslem, a...     joy  0.980
1    30001  [oh, dear, an, evening, of, absolute, hilarity...     joy  0.958
2    30002  [been, waiting, all, week, for, this, game, #c...     joy  0.940
3    30003  [thank, you, so, much, gloria, youre, so, swee...     joy  0.938
4    30004  [i, feel, so, blessed, to, work, with, the, fa...     joy  0.938
..     ...                                                ...     ...    ...
818  30818  [its, just, the, lack, of, company, and, livel...     joy  0.058
819  30819       [quinns, short, hair, makes, me, sad, #glee]     joy  0.040
820  30820  [hate, overthinking, e, v, e, r, y, t, h, i, n...     joy  0.040
821  30821  [people, who, cheer, for, sports, teams, compl...     joy  0.020
822  30822  [youre, a, pos, for, rejoicing, in, someones, ...     joy  0.019

[823 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

        Id                                              tweet emotion  score
0    30000  [got, back, seeing, burslem, amazing, face, st...     joy  0.980
1    30001  [oh, dear, evening, absolute, hilarity, dont, ...     joy  0.958
2    30002       [been, waiting, week, game, #cheer, #friday]     joy  0.940
3    30003  [thank, gloria, youre, sweet, thoughtful, made...     joy  0.938
4    30004  [feel, blessed, work, family, nanny, nothing, ...     joy  0.938
..     ...                                                ...     ...    ...
818  30818          [lack, company, liveliness, makes, bored]     joy  0.058
819  30819           [quinns, short, hair, makes, sad, #glee]     joy  0.040
820  30820  [hate, overthinking, like, jus, wanna, happy, ...     joy  0.040
821  30821  [people, who, cheer, sports, teams, completely...     joy  0.020
822  30822           [youre, pos, rejoicing, someones, death]     joy  0.019

[823 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer

model_name='bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features

df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
df1

,Id,tweet,emotion,score,features
0,30000,"[got, back, seeing, burslem, amazing, face, st...",joy,0.980,"[[-0.30311838, 0.07581233, 0.5529415, -0.48722..."
1,30001,"[oh, dear, evening, absolute, hilarity, dont, ...",joy,0.958,"[[0.07647736, 0.09434516, -0.023025593, -0.175..."
2,30002,"[been, waiting, week, game, #cheer, #friday]",joy,0.940,"[[-0.14617108, -0.14809571, -0.03178546, 0.225..."
3,30003,"[thank, gloria, youre, sweet, thoughtful, made...",joy,0.938,"[[-0.19459502, 0.07583713, -0.14486797, 0.0292..."
4,30004,"[feel, blessed, work, family, nanny, nothing, ...",joy,0.938,"[[-0.40701014, 0.22444889, 0.32654092, -0.4076..."
...,...,...,...,...,...
818,30818,"[lack, company, liveliness, makes, bored]",joy,0.058,"[[-0.31410608, 0.5868328, -0.071265765, -0.115..."
819,30819,"[quinns, short, hair, makes, sad, #glee]",joy,0.040,"[[-0.32033375, -0.24209923, 0.10508025, -0.109..."
820,30820,"[hate, overthinking, like, jus, wanna, happy, ...",joy,0.040,"[[-0.2011238, 0.43611714, -0.2035487, 0.024425..."
821,30821,"[people, who, cheer, sports, teams, completely...",joy,0.020,"[[-0.10141636, 0.20870517, -0.026847256, 0.103..."
822,30822,"[youre, pos, rejoicing, someones, death]",joy,0.019,"[[-0.14432703, 0.5028677, -0.2449497, 0.108671..."

In [17]:
df1.features[0].shape

(15, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
0,30000,"[got, back, seeing, burslem, amazing, face, st...",joy,0.980,"[[-0.30311838, 0.07581233, 0.5529415, -0.48722..."
1,30001,"[oh, dear, evening, absolute, hilarity, dont, ...",joy,0.958,"[[0.07647736, 0.09434516, -0.023025593, -0.175..."
2,30002,"[been, waiting, week, game, #cheer, #friday]",joy,0.940,"[[-0.14617108, -0.14809571, -0.03178546, 0.225..."
3,30003,"[thank, gloria, youre, sweet, thoughtful, made...",joy,0.938,"[[-0.19459502, 0.07583713, -0.14486797, 0.0292..."
4,30004,"[feel, blessed, work, family, nanny, nothing, ...",joy,0.938,"[[-0.40701014, 0.22444889, 0.32654092, -0.4076..."
5,30005,"[today, reached, subscribers, yt, #goodday, #t...",joy,0.926,"[[-0.05542418, -0.051494613, 0.16199583, -0.01..."
6,30006,"[good, morning, love, happy, first, day, fall,...",joy,0.924,"[[-0.14538582, -0.053934813, 0.12582867, -0.07..."
7,30007,"[#bridgetjonesbaby, best, thing, ive, seen, ag...",joy,0.922,"[[-0.34465936, 0.017047953, -0.1802155, -0.035..."
8,30008,"[got, back, seeing, burslem, amazing, face, st...",joy,0.920,"[[-0.085962094, 0.22028987, 0.35717702, -0.506..."
9,30009,"[thought, holidays, get, cheerful, then, met, ...",joy,0.917,"[[-0.06376603, 0.19012895, -0.005626023, 0.023..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = df1['features'].tolist()
padded_features = pad_sequences(features, padding='post')
padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
X = np.stack(padded_df['features'])
print('Input feature shape:', X.shape)

Input feature shape: (823, 41, 768)

In [21]:
y = np.array(padded_df['score']) 
print("Input shape:", X.shape)
print("Output shape:", y.shape)

Input shape: (823, 41, 768)
Output shape: (823,)

In [22]:
X = np.reshape(X, (823, 41 * 768)) 
y = np.reshape(y, (823,))

In [23]:
X.shape

(823, 31488)

In [24]:
Y=df1['score'].copy()

In [25]:
X.shape

(823, 31488)

In [26]:
max_sequence_length = len(max(X, key=len))

In [27]:
import tensorflow as tf

In [28]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import regularizers
from keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(8096, input_shape=(31488,), activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dropout(0.1))
model.add(Dense(4048, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(2024, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(1012, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(506, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(128, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(1, activation='linear'))

early_stopping = EarlyStopping(monitor='mean_squared_error', patience=1, mode='min')
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8096)              254934944

 dropout (Dropout)           (None, 8096)              0

 dense_1 (Dense)             (None, 4048)              32776656

 dropout_1 (Dropout)         (None, 4048)              0

 dense_2 (Dense)             (None, 2024)              8195176

 dropout_2 (Dropout)         (None, 2024)              0

 dense_3 (Dense)             (None, 1012)              2049300

 dropout_3 (Dropout)         (None, 1012)              0

 dense_4 (Dense)             (None, 506)               512578

 dropout_4 (Dropout)         (None, 506)               0

 dense_5 (Dense)             (None, 128)               64896

 dense_6 (Dense)             (None, 32)                4128

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 298,537,711
Trainable params: 298,537,711
Non-trainable params: 0
_________________________________________________________________

In [29]:
X.shape

(823, 31488)

In [30]:
df1['tweet'] = df1['tweet'].apply(lambda tokens: ' '.join(tokens))
array = df1['tweet'].values
tensor = tf.convert_to_tensor(array)

In [31]:
X.shape

(823, 31488)

In [32]:
y.shape

(823,)

In [33]:
history = model.fit(X, Y, batch_size=27, epochs=10, shuffle=True, verbose=1, callbacks=[early_stopping])

Epoch 1/10
31/31 [==============================] - 133s 4s/step - loss: 56.1454 - mean_squared_error: 1.0570
Epoch 2/10
31/31 [==============================] - 121s 4s/step - loss: 19.8748 - mean_squared_error: 0.0666
Epoch 3/10
31/31 [==============================] - 121s 4s/step - loss: 12.1473 - mean_squared_error: 0.0362
Epoch 4/10
31/31 [==============================] - 121s 4s/step - loss: 8.6119 - mean_squared_error: 0.0289
Epoch 5/10
31/31 [==============================] - 121s 4s/step - loss: 6.5336 - mean_squared_error: 0.0280
Epoch 6/10
31/31 [==============================] - 118s 4s/step - loss: 5.1640 - mean_squared_error: 0.0256
Epoch 7/10
31/31 [==============================] - 121s 4s/step - loss: 4.1951 - mean_squared_error: 0.0243
Epoch 8/10
31/31 [==============================] - 117s 4s/step - loss: 3.4787 - mean_squared_error: 0.0210
Epoch 9/10
31/31 [==============================] - 123s 4s/step - loss: 2.9367 - mean_squared_error: 0.0199
Epoch 10/10
31/31 [==============================] - 118s 4s/step - loss: 2.5142 - mean_squared_error: 0.0192

In [34]:
model.save('emointjoy.h5','/Home')

In [35]:
from keras.models import load_model

loaded_model = load_model('emointjoy.h5')

In [36]:
gold= pd.read_csv("Desktop/emoint tweet/joy-ratings-0to1.dev.gold.txt", delimiter='\t', header=None)
gold.columns = ['Id', 'tweet', 'emotion', 'score']

In [37]:
gold

       Id                                              tweet emotion  score
0   30823  @theclobra lol I thought maybe, couldn't decid...     joy  0.312
1   30824  Nawaz Sharif is getting more funnier than @kap...     joy  0.700
2   30825  Nawaz Sharif is getting more funnier than @kap...     joy  0.580
3   30826  @tomderivan73 üòÅ...I'll just people watch and e...     joy  0.438
4   30827  I love my family so much #lucky #grateful #sma...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  It feels good to get outside for a minute and ...     joy  0.580
75  30898  @r0Ils ppl get triggered over u smiling they'r...     joy  0.170
76  30899  @GigaFag @pipertownsend_ snapchat new would be...     joy  0.396
77  30900  @GigaFag @pipertownsend_ snapchat new would be...     joy  0.156
78  30901    A hearty Jonza! to all my friends and follower.     joy  0.704

[79 rows x 4 columns]

In [38]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
gold['tweet'] = gold['tweet'].apply(preprocess_tweet)

In [39]:
gold

       Id                                              tweet emotion  score
0   30823  @theclobra lol i thought maybe, couldn't decid...     joy  0.312
1   30824  nawaz sharif is getting more funnier than @kap...     joy  0.700
2   30825  nawaz sharif is getting more funnier than @kap...     joy  0.580
3   30826  @tomderivan73 üòÅ...i'll just people watch and e...     joy  0.438
4   30827  i love my family so much #lucky #grateful #sma...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  it feels good to get outside for a minute and ...     joy  0.580
75  30898  @r0ils ppl get triggered over u smiling they'r...     joy  0.170
76  30899  @gigafag @pipertownsend_ snapchat new would be...     joy  0.396
77  30900  @gigafag @pipertownsend_ snapchat new would be...     joy  0.156
78  30901    a hearty jonza! to all my friends and follower.     joy  0.704

[79 rows x 4 columns]

In [40]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

gold['tweet'] = gold['tweet'].apply(remove_mentions)
gold

       Id                                              tweet emotion  score
0   30823   lol i thought maybe, couldn't decide if there...     joy  0.312
1   30824  nawaz sharif is getting more funnier than  day...     joy  0.700
2   30825  nawaz sharif is getting more funnier than  day...     joy  0.580
3   30826   üòÅ...i'll just people watch and enjoy a rare s...     joy  0.438
4   30827  i love my family so much #lucky #grateful #sma...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  it feels good to get outside for a minute and ...     joy  0.580
75  30898   ppl get triggered over u smiling they're irre...     joy  0.170
76  30899         snapchat new would beg to differ #optimism     joy  0.396
77  30900                  snapchat new would beg to differ      joy  0.156
78  30901    a hearty jonza! to all my friends and follower.     joy  0.704

[79 rows x 4 columns]

In [41]:
def clean_gold(gold):
    gold  = re.sub(r'[^\w\s#@]', '', gold ) 
    gold  = re.sub(r'\d+', '', gold)  
    gold  = re.sub(r'\s+', ' ', gold).strip()
    return gold

gold['tweet'] = gold['tweet'].apply(clean_gold)

In [42]:
gold

       Id                                              tweet emotion  score
0   30823  lol i thought maybe couldnt decide if there wa...     joy  0.312
1   30824  nawaz sharif is getting more funnier than day ...     joy  0.700
2   30825  nawaz sharif is getting more funnier than day ...     joy  0.580
3   30826  ill just people watch and enjoy a rare show of...     joy  0.438
4   30827  i love my family so much #lucky #grateful #sma...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  it feels good to get outside for a minute and ...     joy  0.580
75  30898  ppl get triggered over u smiling theyre irrele...     joy  0.170
76  30899         snapchat new would beg to differ #optimism     joy  0.396
77  30900                   snapchat new would beg to differ     joy  0.156
78  30901      a hearty jonza to all my friends and follower     joy  0.704

[79 rows x 4 columns]

In [43]:
def convert_emoji(tweet):
    gold = emoji.demojize(tweet)
    return gold

gold['tweet'] = gold['tweet'].apply(convert_emoji)

In [44]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

gold['tweet'] = gold['tweet'].apply(tokenize_tweets)

In [45]:
gold

       Id                                              tweet emotion  score
0   30823  [lol, i, thought, maybe, couldnt, decide, if, ...     joy  0.312
1   30824  [nawaz, sharif, is, getting, more, funnier, th...     joy  0.700
2   30825  [nawaz, sharif, is, getting, more, funnier, th...     joy  0.580
3   30826  [ill, just, people, watch, and, enjoy, a, rare...     joy  0.438
4   30827  [i, love, my, family, so, much, #lucky, #grate...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  [it, feels, good, to, get, outside, for, a, mi...     joy  0.580
75  30898  [ppl, get, triggered, over, u, smiling, theyre...     joy  0.170
76  30899  [snapchat, new, would, beg, to, differ, #optim...     joy  0.396
77  30900            [snapchat, new, would, beg, to, differ]     joy  0.156
78  30901  [a, hearty, jonza, to, all, my, friends, and, ...     joy  0.704

[79 rows x 4 columns]

In [46]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

gold['tweet'] = gold['tweet'].apply(remove_stopwords)

In [47]:
gold

       Id                                              tweet emotion  score
0   30823     [lol, thought, maybe, couldnt, decide, levity]     joy  0.312
1   30824  [nawaz, sharif, getting, funnier, than, day, d...     joy  0.700
2   30825  [nawaz, sharif, getting, funnier, than, day, d...     joy  0.580
3   30826  [ill, people, watch, enjoy, rare, show, optimism]     joy  0.438
4   30827  [love, family, #lucky, #grateful, #smartassfam...     joy  0.936
..    ...                                                ...     ...    ...
74  30897  [feels, good, get, outside, minute, get, fresh...     joy  0.580
75  30898  [ppl, get, triggered, over, smiling, theyre, i...     joy  0.170
76  30899            [snapchat, new, beg, differ, #optimism]     joy  0.396
77  30900                       [snapchat, new, beg, differ]     joy  0.156
78  30901                 [hearty, jonza, friends, follower]     joy  0.704

[79 rows x 4 columns]

In [48]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


gold['features'] = gold['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [49]:
gold["features"][0].shape

(11, 768)

In [50]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =gold['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = gold.copy()
padded_df['features'] = padded_features.tolist()

In [51]:
X_gold= np.stack(padded_df['features'])
print('Input feature shape:', X_gold.shape)

Input feature shape: (79, 31, 768)

In [52]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 41

padded_gold_data = pad_sequences(X_gold, maxlen=max_sequence_length, padding='post', truncating='post')

In [53]:
X = np.reshape(padded_gold_data, (79, 41 * 768))

In [54]:
gold_features = np.array(X)

In [55]:
print(gold_features.shape)

(79, 31488)

In [56]:

predictions = loaded_model.predict(gold_features)

3/3 [==============================] - 2s 160ms/step

In [57]:
print(predictions)

[[0.4685372 ]
 [0.61145604]
 [0.5191612 ]
 [0.4675858 ]
 [0.6709027 ]
 [0.7274162 ]
 [0.43736863]
 [0.37775514]
 [0.39909938]
 [0.5066243 ]
 [0.37499645]
 [0.43481347]
 [0.48885235]
 [0.62734646]
 [0.59113586]
 [0.4598058 ]
 [0.67339915]
 [0.498628  ]
 [0.5715491 ]
 [0.6636152 ]
 [0.4299132 ]
 [0.538083  ]
 [0.56842226]
 [0.40880743]
 [0.38107437]
 [0.514882  ]
 [0.52154917]
 [0.426864  ]
 [0.52707624]
 [0.5514012 ]
 [0.6609685 ]
 [0.5425085 ]
 [0.79018694]
 [0.7825342 ]
 [0.5061928 ]
 [0.6223644 ]
 [0.39851847]
 [0.45391616]
 [0.38856572]
 [0.61677384]
 [0.5365201 ]
 [0.53053457]
 [0.60949296]
 [0.8791053 ]
 [0.60204005]
 [0.6763834 ]
 [0.50036764]
 [0.53793126]
 [0.51924235]
 [0.4454118 ]
 [0.574791  ]
 [0.45432708]
 [0.35014048]
 [0.4854249 ]
 [0.3843422 ]
 [0.44997802]
 [0.67829484]
 [0.4518516 ]
 [0.47378403]
 [0.54662806]
 [0.52348626]
 [0.38146752]
 [0.42971396]
 [0.47046363]
 [0.53409773]
 [0.48533362]
 [0.47526255]
 [0.45969468]
 [0.47071177]
 [0.3800769 ]
 [0.52397335]
 [0.6626472 ]
 [0.5237076 ]
 [0.56328654]
 [0.4877666 ]
 [0.42219448]
 [0.44576162]
 [0.37008363]
 [0.46853837]]

In [58]:
gold['prediction']=pd.DataFrame(predictions)

In [59]:
gold

,Id,tweet,emotion,score,features,prediction
0,30823,"[lol, thought, maybe, couldnt, decide, levity]",joy,0.312,"[[-0.26824242, 0.33785543, -0.06891726, 0.1938...",0.468537
1,30824,"[nawaz, sharif, getting, funnier, than, day, d...",joy,0.700,"[[-0.78701603, -0.18422477, 0.050351318, -0.26...",0.611456
2,30825,"[nawaz, sharif, getting, funnier, than, day, d...",joy,0.580,"[[-0.8860845, -0.23212545, 0.053397615, -0.089...",0.519161
3,30826,"[ill, people, watch, enjoy, rare, show, optimism]",joy,0.438,"[[0.06172238, 0.24399737, 0.23058358, 0.041538...",0.467586
4,30827,"[love, family, #lucky, #grateful, #smartassfam...",joy,0.936,"[[-0.050798904, 0.1252638, 0.031203147, 0.0878...",0.670903
...,...,...,...,...,...,...
74,30897,"[feels, good, get, outside, minute, get, fresh...",joy,0.580,"[[0.23290265, 0.111647464, 0.13098754, -0.2015...",0.487767
75,30898,"[ppl, get, triggered, over, smiling, theyre, i...",joy,0.170,"[[-0.38961452, 0.20775628, -0.038733605, 0.066...",0.422194
76,30899,"[snapchat, new, beg, differ, #optimism]",joy,0.396,"[[-0.33827773, -0.048740894, 0.14746279, 0.104...",0.445762
77,30900,"[snapchat, new, beg, differ]",joy,0.156,"[[-0.51852673, -0.14575958, -0.2489785, -0.145...",0.370084
78,30901,"[hearty, jonza, friends, follower]",joy,0.704,"[[-0.37420568, -0.02857445, 0.045795716, -0.14...",0.468538

In [60]:
from sklearn.metrics import mean_squared_error

In [61]:
mse = mean_squared_error(gold['score'], gold['prediction'])
print("Mean square Error:", mse)

Mean square Error: 0.03538888310600196

In [62]:
test= pd.read_csv("Desktop/emoint tweet/joy-ratings-0to1.test.target.txt", delimiter='\t', header=None)
test.columns = ['Id', 'tweet', 'emotion', 'score']

In [63]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
test['tweet'] = test['tweet'].apply(preprocess_tweet)

In [64]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

test['tweet'] = test['tweet'].apply(remove_mentions)
test

        Id                                              tweet emotion score
0    30902  you must be knowing #blithe means (adj.)  happ...     joy  NONE
1    30903  old saying 'a #smile shared is one gained for ...     joy  NONE
2    30904  bridget jones' baby was bloody hilarious üòÖ #br...     joy  NONE
3    30905            sparkling water makes your life sparkly     joy  NONE
4    30906  i'm tired of everybody telling me to chill out...     joy  NONE
..     ...                                                ...     ...   ...
709  31611  with a very tired body and mind and sparkling ...     joy  NONE
710  31612                  i refuse to be a chirp chirp girl     joy  NONE
711  31613  it was very hard to stifle my laughter after i...     joy  NONE
712  31614  while i was walking, a little boy in a red shi...     joy  NONE
713  31615  asked one thing from our guys tonight and got ...     joy  NONE

[714 rows x 4 columns]

In [65]:
def clean_test(test):
    test  = re.sub(r'[^\w\s#@]', '', test ) 
    test  = re.sub(r'\d+', '', test)  
    test  = re.sub(r'\s+', ' ', test).strip()
    return test

test['tweet'] = test['tweet'].apply(clean_test)

In [66]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

test['tweet'] = test['tweet'].apply(tokenize_tweets)

In [67]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens


test['tweet'] = test['tweet'].apply(remove_stopwords)

In [68]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


test['features'] = test['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [69]:
test["features"][0].shape

(12, 768)

In [70]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =test['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = test.copy()
padded_df['features'] = padded_features.tolist()

In [71]:
X_test= np.stack(padded_df['features'])
print('Input feature shape:', X_test.shape)

Input feature shape: (714, 50, 768)

In [72]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 41
truncated_test_data = pad_sequences(X_test, maxlen=max_sequence_length, padding='post', truncating='post')

print(truncated_test_data.shape)

(714, 41, 768)

In [73]:
X = np.reshape(truncated_test_data, (714, 41 * 768))

In [74]:
test_features = np.array(X)

In [75]:
print(test_features.shape)

(714, 31488)

In [76]:

predictions = loaded_model.predict(test_features)

23/23 [==============================] - 4s 154ms/step

In [77]:
print(predictions)

[[0.5982035 ]
 [0.49336487]
 [0.57207036]
 [0.43248385]
 [0.5398857 ]
 [0.42533195]
 [0.44496948]
 [0.6318033 ]
 [0.7397249 ]
 [0.51311886]
 [0.42802098]
 [0.54241884]
 [0.61189425]
 [0.45689744]
 [0.5412038 ]
 [0.53461796]
 [0.52317566]
 [0.6612517 ]
 [0.60472864]
 [0.5335077 ]
 [0.4317347 ]
 [0.53358185]
 [0.49101242]
 [0.67790484]
 [0.53069335]
 [0.4308138 ]
 [0.4315634 ]
 [0.41566002]
 [0.4543231 ]
 [0.39435515]
 [0.489212  ]
 [0.4279508 ]
 [0.57464474]
 [0.4917474 ]
 [0.47110412]
 [0.4527013 ]
 [0.4546577 ]
 [0.5227037 ]
 [0.5297692 ]
 [0.5480236 ]
 [0.61406857]
 [0.51795095]
 [0.44723684]
 [0.50561583]
 [0.50421673]
 [0.5559261 ]
 [0.54466367]
 [0.37568852]
 [0.4959059 ]
 [0.5337396 ]
 [0.5230463 ]
 [0.68582296]
 [0.68221635]
 [0.486689  ]
 [0.59920186]
 [0.45133424]
 [0.652332  ]
 [0.4078581 ]
 [0.5894756 ]
 [0.510418  ]
 [0.42955983]
 [0.83454674]
 [0.66864276]
 [0.45680818]
 [0.43869364]
 [0.48748443]
 [0.36442584]
 [0.55373204]
 [0.54096365]
 [0.473415  ]
 [0.48957694]
 [0.3894973 ]
 [0.5224105 ]
 [0.5069081 ]
 [0.46968135]
 [0.5042249 ]
 [0.48383906]
 [0.4225937 ]
 [0.52040714]
 [0.48191693]
 [0.5103995 ]
 [0.6418474 ]
 [0.39779326]
 [0.4455883 ]
 [0.7078657 ]
 [0.5327827 ]
 [0.43697208]
 [0.53471   ]
 [0.54105794]
 [0.37121108]
 [0.60895896]
 [0.5426534 ]
 [0.27988207]
 [0.50737697]
 [0.35837406]
 [0.5195072 ]
 [0.4512124 ]
 [0.3170701 ]
 [0.48455688]
 [0.45140612]
 [0.4245244 ]
 [0.53532314]
 [0.6119701 ]
 [0.50406754]
 [0.6932509 ]
 [0.448563  ]
 [0.43950632]
 [0.44048712]
 [0.5759773 ]
 [0.61500484]
 [0.5179557 ]
 [0.47005576]
 [0.5534918 ]
 [0.4991186 ]
 [0.5043522 ]
 [0.4068848 ]
 [0.5020266 ]
 [0.53996915]
 [0.49724546]
 [0.41901892]
 [0.41883352]
 [0.3898198 ]
 [0.5103301 ]
 [0.450117  ]
 [0.368866  ]
 [0.5192072 ]
 [0.531489  ]
 [0.4064758 ]
 [0.58558637]
 [0.52586466]
 [0.373232  ]
 [0.5577985 ]
 [0.5478745 ]
 [0.45957172]
 [0.52904016]
 [0.4044093 ]
 [0.6279142 ]
 [0.64314103]
 [0.59677887]
 [0.480535  ]
 [0.5182599 ]
 [0.5043618 ]
 [0.46089923]
 [0.5023914 ]
 [0.4545443 ]
 [0.43309453]
 [0.40569985]
 [0.39088187]
 [0.3645047 ]
 [0.45479992]
 [0.5333707 ]
 [0.57278425]
 [0.5747869 ]
 [0.64270353]
 [0.5990664 ]
 [0.47424558]
 [0.4562216 ]
 [0.46177202]
 [0.53354466]
 [0.47408563]
 [0.45491195]
 [0.42239216]
 [0.73977077]
 [0.42087117]
 [0.5035384 ]
 [0.43868744]
 [0.43321   ]
 [0.63779664]
 [0.47816777]
 [0.5037342 ]
 [0.42450872]
 [0.4518445 ]
 [0.5342205 ]
 [0.42970878]
 [0.5747213 ]
 [0.6097843 ]
 [0.60146224]
 [0.37624934]
 [0.6055502 ]
 [0.52257013]
 [0.22608414]
 [0.57148874]
 [0.4172703 ]
 [0.6707153 ]
 [0.5852626 ]
 [0.5576561 ]
 [0.39232704]
 [0.42449492]
 [0.5450104 ]
 [0.6090639 ]
 [0.5802158 ]
 [0.46707827]
 [0.42590263]
 [0.44548297]
 [0.5505385 ]
 [0.57067484]
 [0.5634733 ]
 [0.55052155]
 [0.636989  ]
 [0.58417785]
 [0.51475495]
 [0.48074976]
 [0.40564373]
 [0.45447168]
 [0.38950136]
 [0.6215947 ]
 [0.5355809 ]
 [0.87534964]
 [0.5825976 ]
 [0.39957285]
 [0.49615645]
 [0.50776994]
 [0.47808594]
 [0.64102507]
 [0.63329816]
 [0.5197591 ]
 [0.49891815]
 [0.41159242]
 [0.5856428 ]
 [0.56665754]
 [0.67960894]
 [0.73882633]
 [0.4731076 ]
 [0.55815256]
 [0.40114194]
 [0.5885714 ]
 [0.719156  ]
 [0.58723056]
 [0.67192   ]
 [0.56590825]
 [0.66306317]
 [0.55295616]
 [0.800546  ]
 [0.6013713 ]
 [0.5753    ]
 [0.5286893 ]
 [0.53734404]
 [0.7751375 ]
 [0.75631833]
 [0.49200293]
 [0.733018  ]
 [0.58485943]
 [0.47157577]
 [0.3810883 ]
 [0.5137909 ]
 [0.47834754]
 [0.54526776]
 [0.52347666]
 [0.38670456]
 [0.5975949 ]
 [0.4466078 ]
 [0.42708957]
 [0.52000177]
 [0.5609035 ]
 [0.5338688 ]
 [0.547033  ]
 [0.5658553 ]
 [0.4392324 ]
 [0.45470938]
 [0.41061553]
 [0.4894575 ]
 [0.6262065 ]
 [0.3850444 ]
 [0.5278837 ]
 [0.55320305]
 [0.3887285 ]
 [0.61548215]
 [0.6462384 ]
 [0.51966584]
 [0.81515735]
 [0.80533147]
 [0.78510165]
 [0.5040381 ]
 [0.43013275]
 [0.42723206]
 [0.42753503]
 [0.42140543]
 [0.5920035 ]
 [0.47173464]
 [0.41343096]
 [0.4989097 ]
 [0.5077083 ]
 [0.68787706]
 [0.49966478]
 [0.4879487 ]
 [0.4133832 ]
 [0.6075131 ]
 [0.42413768]
 [0.47480497]
 [0.6787591 ]
 [0.66064805]
 [0.598879  ]
 [0.51773983]
 [0.42116994]
 [0.6459312 ]
 [0.43956804]
 [0.56461847]
 [0.4751662 ]
 [0.5214847 ]
 [0.60917217]
 [0.5824997 ]
 [0.4934306 ]
 [0.556562  ]
 [0.5874181 ]
 [0.56200796]
 [0.4115829 ]
 [0.44213617]
 [0.42358094]
 [0.6779743 ]
 [0.41605225]
 [0.52216333]
 [0.58534086]
 [0.5916999 ]
 [0.5236124 ]
 [0.5098782 ]
 [0.49217033]
 [0.6534964 ]
 [0.46571037]
 [0.45997936]
 [0.55046445]
 [0.42110038]
 [0.519882  ]
 [0.5375517 ]
 [0.6321373 ]
 [0.55215794]
 [0.5080031 ]
 [0.47703704]
 [0.5901139 ]
 [0.51275295]
 [0.6884657 ]
 [0.61526734]
 [0.5576621 ]
 [0.46661922]
 [0.5266419 ]
 [0.6262489 ]
 [0.54827964]
 [0.51185894]
 [0.3635527 ]
 [0.59320384]
 [0.6060607 ]
 [0.45437068]
 [0.42993578]
 [0.49069804]
 [0.57550293]
 [0.4776507 ]
 [0.55576867]
 [0.4590594 ]
 [0.66888815]
 [0.6129558 ]
 [0.48779574]
 [0.5648309 ]
 [0.5920912 ]
 [0.4798398 ]
 [0.4275064 ]
 [0.5973933 ]
 [0.36973724]
 [0.52561396]
 [0.47604474]
 [0.45703563]
 [0.5732553 ]
 [0.49138063]
 [0.57615286]
 [0.52185386]
 [0.51275235]
 [0.3868225 ]
 [0.35760707]
 [0.4324084 ]
 [0.7081739 ]
 [0.5552388 ]
 [0.5310038 ]
 [0.45574358]
 [0.46623117]
 [0.5202338 ]
 [0.48527175]
 [0.66578907]
 [0.529751  ]
 [0.54843014]
 [0.5855619 ]
 [0.43253055]
 [0.41007328]
 [0.4251787 ]
 [0.5046114 ]
 [0.4102434 ]
 [0.6618344 ]
 [0.33472732]
 [0.5514859 ]
 [0.43216938]
 [0.43193352]
 [0.41987538]
 [0.41061068]
 [0.6213215 ]
 [0.40719837]
 [0.44284007]
 [0.38364652]
 [0.41629604]
 [0.47166896]
 [0.48060477]
 [0.65733963]
 [0.40346882]
 [0.5480927 ]
 [0.41690558]
 [0.38852122]
 [0.4217415 ]
 [0.38530973]
 [0.44970432]
 [0.49030212]
 [0.5273866 ]
 [0.46041414]
 [0.4429476 ]
 [0.3932677 ]
 [0.45547357]
 [0.4782893 ]
 [0.37673277]
 [0.48161593]
 [0.5708348 ]
 [0.7130584 ]
 [0.5448223 ]
 [0.7078673 ]
 [0.47059622]
 [0.49754927]
 [0.65261257]
 [0.40971187]
 [0.5098737 ]
 [0.48139223]
 [0.5978676 ]
 [0.4790001 ]
 [0.55122757]
 [0.5259503 ]
 [0.4647824 ]
 [0.44584855]
 [0.44387028]
 [0.4952204 ]
 [0.5158396 ]
 [0.649261  ]
 [0.38511845]
 [0.5352836 ]
 [0.4238717 ]
 [0.4127431 ]
 [0.37503892]
 [0.44278926]
 [0.7714018 ]
 [0.47224754]
 [0.63860214]
 [0.73258173]
 [0.64437884]
 [0.4360313 ]
 [0.41425985]
 [0.47769162]
 [0.6396095 ]
 [0.4184499 ]
 [0.5076257 ]
 [0.542965  ]
 [0.6178683 ]
 [0.38709906]
 [0.42895284]
 [0.41458833]
 [0.5226695 ]
 [0.5594334 ]
 [0.5694218 ]
 [0.5736791 ]
 [0.45875126]
 [0.4772877 ]
 [0.43877774]
 [0.6255139 ]
 [0.4790745 ]
 [0.43466017]
 [0.47736654]
 [0.537249  ]
 [0.52576953]
 [0.60846055]
 [0.5350917 ]
 [0.6303507 ]
 [0.60133255]
 [0.4881869 ]
 [0.5531612 ]
 [0.40336257]
 [0.4968536 ]
 [0.6063529 ]
 [0.5627247 ]
 [0.44154367]
 [0.44173798]
 [0.51318055]
 [0.49822113]
 [0.3807246 ]
 [0.91111493]
 [0.91362095]
 [0.5472742 ]
 [0.41259438]
 [0.6746105 ]
 [0.5625094 ]
 [0.5352975 ]
 [0.56001085]
 [0.6330154 ]
 [0.4045565 ]
 [0.56302315]
 [0.4236119 ]
 [0.5814004 ]
 [0.4949572 ]
 [0.41104093]
 [0.47798058]
 [0.4306115 ]
 [0.5887874 ]
 [0.5500915 ]
 [0.55422986]
 [0.43731907]
 [0.50375766]
 [0.42524493]
 [0.39726362]
 [0.5087442 ]
 [0.45603323]
 [0.4279479 ]
 [0.50892824]
 [0.43490103]
 [0.6692407 ]
 [0.5663815 ]
 [0.41699144]
 [0.38974878]
 [0.4598125 ]
 [0.4831175 ]
 [0.47356284]
 [0.44350228]
 [0.40570542]
 [0.5751318 ]
 [0.4446185 ]
 [0.42287987]
 [0.66941583]
 [0.5446697 ]
 [0.5841591 ]
 [0.39628848]
 [0.4775421 ]
 [0.55842996]
 [0.6674782 ]
 [0.4735458 ]
 [0.589857  ]
 [0.5053317 ]
 [0.50981957]
 [0.5637475 ]
 [0.5352683 ]
 [0.451587  ]
 [0.46630773]
 [0.5100058 ]
 [0.40823263]
 [0.6602436 ]
 [0.6344755 ]
 [0.5527183 ]
 [0.5527183 ]
 [0.6039367 ]
 [0.38462126]
 [0.31310073]
 [0.6001565 ]
 [0.42998964]
 [0.45340076]
 [0.5838804 ]
 [0.4588713 ]
 [0.40075848]
 [0.62758714]
 [0.33287716]
 [0.43455237]
 [0.3817824 ]
 [0.56272465]
 [0.5160883 ]
 [0.53814113]
 [0.42883235]
 [0.41034135]
 [0.49253792]
 [0.49227968]
 [0.36511016]
 [0.41127938]
 [0.3542581 ]
 [0.603263  ]
 [0.6635781 ]
 [0.44300658]
 [0.52803767]
 [0.52988297]
 [0.65452576]
 [0.42957056]
 [0.5600664 ]
 [0.4715109 ]
 [0.38788623]
 [0.4915261 ]
 [0.4790903 ]
 [0.54504126]
 [0.46397594]
 [0.64218634]
 [0.6142538 ]
 [0.59428036]
 [0.68598586]
 [0.8060888 ]
 [0.41777658]
 [0.3944354 ]
 [0.43537802]
 [0.42554143]
 [0.5386852 ]
 [0.44703603]
 [0.57477707]
 [0.5835927 ]
 [0.5088821 ]
 [0.4151347 ]
 [0.5143941 ]
 [0.49682832]
 [0.47899514]
 [0.48258737]
 [0.47085246]
 [0.48653936]
 [0.891387  ]
 [0.6419479 ]
 [0.6585505 ]
 [0.62987125]
 [0.51174265]
 [0.5132147 ]
 [0.53460944]
 [0.40155122]
 [0.46849972]
 [0.4970743 ]
 [0.40257585]
 [0.59336895]
 [0.55011606]
 [0.56700486]
 [0.5067121 ]
 [0.55732656]
 [0.56516415]
 [0.5842509 ]
 [0.39759666]
 [0.54994917]
 [0.5949825 ]
 [0.40620062]
 [0.5193817 ]
 [0.39646813]
 [0.46038362]
 [0.40302894]
 [0.45655984]
 [0.47284323]
 [0.48304322]
 [0.49029908]
 [0.40497392]
 [0.6300738 ]
 [0.4081918 ]
 [0.5998618 ]
 [0.5846831 ]
 [0.50093484]
 [0.54919523]
 [0.5020399 ]
 [0.45801726]
 [0.51543105]
 [0.38115475]
 [0.45187667]
 [0.42066497]
 [0.5165852 ]
 [0.532129  ]
 [0.3692848 ]
 [0.49397355]
 [0.6650954 ]
 [0.42610613]
 [0.56320894]
 [0.47396168]
 [0.5423126 ]
 [0.39141905]
 [0.40601313]
 [0.4228263 ]
 [0.42391422]
 [0.52532697]
 [0.38599923]
 [0.4895992 ]
 [0.47510764]
 [0.47313955]
 [0.45862702]
 [0.88606447]
 [0.89317524]
 [0.39645097]
 [0.48914412]
 [0.5178015 ]
 [0.4824401 ]
 [0.5088166 ]
 [0.46132672]
 [0.5546371 ]
 [0.5401657 ]
 [0.4487271 ]
 [0.39860144]
 [0.5207054 ]
 [0.5174618 ]
 [0.4451005 ]
 [0.40795565]
 [0.41763386]
 [0.5484487 ]
 [0.43384346]
 [0.46045953]
 [0.52176905]
 [0.4846453 ]
 [0.5503625 ]
 [0.38314503]
 [0.44512442]
 [0.3356718 ]
 [0.49779662]
 [0.6769186 ]
 [0.32377088]
 [0.4529413 ]
 [0.546124  ]
 [0.3897451 ]
 [0.6279119 ]
 [0.4000119 ]
 [0.50116426]
 [0.45443547]
 [0.42620465]
 [0.5030955 ]
 [0.47074404]
 [0.5671697 ]
 [0.48577303]
 [0.5320514 ]
 [0.6467313 ]
 [0.5346906 ]
 [0.4797089 ]
 [0.36617932]
 [0.48856848]
 [0.49477178]]

In [78]:
test['score']=pd.DataFrame(predictions)

In [79]:
test

,Id,tweet,emotion,score,features
0,30902,"[knowing, #blithe, means, adj, happy, cheerful]",joy,0.598203,"[[0.06667158, 0.123148575, 0.20162007, -0.0633..."
1,30903,"[old, saying, #smile, shared, one, gained, ano...",joy,0.493365,"[[0.05411899, 0.09224143, 0.1278078, 0.0228617..."
2,30904,"[bridget, jones, baby, bloody, hilarious, #bri...",joy,0.572070,"[[-0.2968768, 0.16157933, 0.04914654, -0.04029..."
3,30905,"[sparkling, water, makes, life, sparkly]",joy,0.432484,"[[-0.025124839, 0.22698666, 0.04356417, 0.1450..."
4,30906,"[im, tired, everybody, telling, chill, everyth...",joy,0.539886,"[[-0.05045792, 0.482266, 0.18940437, -0.572387..."
...,...,...,...,...,...
709,31611,"[tired, body, mind, sparkling, teeth, say, fol...",joy,0.534691,"[[-0.0030458397, 0.1917828, 0.29441363, -0.136..."
710,31612,"[refuse, chirp, chirp, girl]",joy,0.479709,"[[-0.3924269, -0.31344494, -0.31823176, 0.0956..."
711,31613,"[hard, stifle, laughter, after, overheard, com...",joy,0.366179,"[[-0.042962182, 0.29848492, 0.035863742, 0.020..."
712,31614,"[while, walking, little, boy, red, shirt, year...",joy,0.488568,"[[-0.4283314, 0.22758897, -0.2881539, -0.34742..."
713,31615,"[asked, one, thing, guys, tonight, got, #happy...",joy,0.494772,"[[-0.0717675, 0.27752542, 0.010510401, -0.0267..."

In [80]:
test=test.drop('features',axis=1)

In [81]:
test

,Id,tweet,emotion,score
0,30902,"[knowing, #blithe, means, adj, happy, cheerful]",joy,0.598203
1,30903,"[old, saying, #smile, shared, one, gained, ano...",joy,0.493365
2,30904,"[bridget, jones, baby, bloody, hilarious, #bri...",joy,0.572070
3,30905,"[sparkling, water, makes, life, sparkly]",joy,0.432484
4,30906,"[im, tired, everybody, telling, chill, everyth...",joy,0.539886
...,...,...,...,...
709,31611,"[tired, body, mind, sparkling, teeth, say, fol...",joy,0.534691
710,31612,"[refuse, chirp, chirp, girl]",joy,0.479709
711,31613,"[hard, stifle, laughter, after, overheard, com...",joy,0.366179
712,31614,"[while, walking, little, boy, red, shirt, year...",joy,0.488568
713,31615,"[asked, one, thing, guys, tonight, got, #happy...",joy,0.494772