In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv("Desktop/emoint tweet/fear-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

         Id                                              tweet emotion  score
0     20000  I feel like I am drowning. #depression #anxiet...    fear  0.979
1     20001  I get so nervous even thinking about talking t...    fear  0.979
2     20002                     I lost my blinders .... #panic    fear  0.975
3     20003  I feel like I am drowning. #depression  #falur...    fear  0.938
4     20004  This is the scariest American Horror Story out...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142     Pull over #tonight and make your car #shake ðŸ˜‹ðŸ’¦    fear  0.104
1143  21143  @Melanie_Pierce @HunterHayes awe ain't he a sw...    fear  0.083
1144  21144         @FraserKeegan just had a steak pie supper     fear  0.083
1145  21145      @annalisewrobel_ awe thank you so much love ðŸ’•    fear  0.062
1146  21146                             Omg he kissed herðŸ™ˆ  #w    fear  0.062

[1147 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  
    text = re.sub(r'\d+', '', text)  
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

         Id                                              tweet emotion  score
0     20000  i feel like i am drowning #depression #anxiety...    fear  0.979
1     20001  i get so nervous even thinking about talking t...    fear  0.979
2     20002                          i lost my blinders #panic    fear  0.975
3     20003  i feel like i am drowning #depression #falure ...    fear  0.938
4     20004  this is the scariest american horror story out...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142        pull over #tonight and make your car #shake    fear  0.104
1143  21143              awe aint he a sweetheart hes adorable    fear  0.083
1144  21144                        just had a steak pie supper    fear  0.083
1145  21145                         awe thank you so much love    fear  0.062
1146  21146                               omg he kissed her #w    fear  0.062

[1147 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

         Id                                              tweet emotion  score
0     20000  [i, feel, like, i, am, drowning, #depression, ...    fear  0.979
1     20001  [i, get, so, nervous, even, thinking, about, t...    fear  0.979
2     20002                    [i, lost, my, blinders, #panic]    fear  0.975
3     20003  [i, feel, like, i, am, drowning, #depression, ...    fear  0.938
4     20004  [this, is, the, scariest, american, horror, st...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142  [pull, over, #tonight, and, make, your, car, #...    fear  0.104
1143  21143      [awe, aint, he, a, sweetheart, hes, adorable]    fear  0.083
1144  21144                 [just, had, a, steak, pie, supper]    fear  0.083
1145  21145                  [awe, thank, you, so, much, love]    fear  0.062
1146  21146                       [omg, he, kissed, her, #, w]    fear  0.062

[1147 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

         Id                                              tweet emotion  score
0     20000  [feel, like, drowning, #depression, #anxiety, ...    fear  0.979
1     20001  [get, nervous, even, thinking, talking, wanna,...    fear  0.979
2     20002                           [lost, blinders, #panic]    fear  0.975
3     20003  [feel, like, drowning, #depression, #falure, #...    fear  0.938
4     20004  [scariest, american, horror, story, them, im, ...    fear  0.938
...     ...                                                ...     ...    ...
1142  21142          [pull, over, #tonight, make, car, #shake]    fear  0.104
1143  21143             [awe, aint, sweetheart, hes, adorable]    fear  0.083
1144  21144                          [had, steak, pie, supper]    fear  0.083
1145  21145                                 [awe, thank, love]    fear  0.062
1146  21146                                 [omg, kissed, her]    fear  0.062

[1147 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer

model_name='bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    
    return features

df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
df1

,Id,tweet,emotion,score,features
0,20000,"[feel, like, drowning, #depression, #anxiety, ...",fear,0.979,"[[0.037809342, 0.254312, -0.06298909, -0.16685..."
1,20001,"[get, nervous, even, thinking, talking, wanna,...",fear,0.979,"[[-0.11003713, 0.12191104, 0.17953236, -0.1630..."
2,20002,"[lost, blinders, #panic]",fear,0.975,"[[-0.168674, 0.12842081, -0.0014389177, -0.082..."
3,20003,"[feel, like, drowning, #depression, #falure, #...",fear,0.938,"[[0.06456666, 0.26413164, -0.106887944, -0.123..."
4,20004,"[scariest, american, horror, story, them, im, ...",fear,0.938,"[[-0.21259005, 0.08201837, 0.38263053, 0.04178..."
...,...,...,...,...,...
1142,21142,"[pull, over, #tonight, make, car, #shake]",fear,0.104,"[[-0.1298164, 0.16981113, 0.039434116, 0.13802..."
1143,21143,"[awe, aint, sweetheart, hes, adorable]",fear,0.083,"[[-0.15620765, 0.42569926, -0.16897485, 0.0595..."
1144,21144,"[had, steak, pie, supper]",fear,0.083,"[[-0.33264166, -0.13432035, -0.14950287, 0.282..."
1145,21145,"[awe, thank, love]",fear,0.062,"[[-0.10937966, 0.33537936, 0.05516939, -0.0624..."
1146,21146,"[omg, kissed, her]",fear,0.062,"[[-0.31615663, 0.40154505, 0.1087748, 0.316638..."

In [17]:
df1.features[0].shape

(15, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
0,20000,"[feel, like, drowning, #depression, #anxiety, ...",fear,0.979,"[[0.037809342, 0.254312, -0.06298909, -0.16685..."
1,20001,"[get, nervous, even, thinking, talking, wanna,...",fear,0.979,"[[-0.11003713, 0.12191104, 0.17953236, -0.1630..."
2,20002,"[lost, blinders, #panic]",fear,0.975,"[[-0.168674, 0.12842081, -0.0014389177, -0.082..."
3,20003,"[feel, like, drowning, #depression, #falure, #...",fear,0.938,"[[0.06456666, 0.26413164, -0.106887944, -0.123..."
4,20004,"[scariest, american, horror, story, them, im, ...",fear,0.938,"[[-0.21259005, 0.08201837, 0.38263053, 0.04178..."
5,20005,"[nearly, started, crying, having, full, panic,...",fear,0.938,"[[-0.6936238, -0.16869353, 0.12774356, -0.1491..."
6,20006,"[have, finally, tell, therapist, sexuality, la...",fear,0.938,"[[-0.2576109, 0.28046265, -0.046328988, -0.192..."
7,20007,"[dont, think, ive, ever, moved, fast, panic, l...",fear,0.938,"[[-0.27630442, 0.398449, -0.18360381, -0.18951..."
8,20008,"[bus, car, crash, im, still, shaking, bit, wee...",fear,0.938,"[[-0.30670476, 0.43248904, -0.079600625, -0.24..."
9,20009,"[bus, car, crash, im, still, shaking, bit, wee...",fear,0.920,"[[-0.23693994, 0.47858533, -0.1310488, -0.0193..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = df1['features'].tolist()
padded_features = pad_sequences(features, padding='post')
padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
X = np.stack(padded_df['features'])
print('Input feature shape:', X.shape)

Input feature shape: (1147, 41, 768)

In [21]:
y = np.array(padded_df['score']) 
print("Input shape:", X.shape)
print("Output shape:", y.shape)

Input shape: (1147, 41, 768)
Output shape: (1147,)

In [23]:
X = np.reshape(X, (1147, 41 * 768)) 
y = np.reshape(y, (1147,))

In [24]:
X.shape

(1147, 31488)

In [25]:
Y=df1['score'].copy()

In [26]:
X.shape

(1147, 31488)

In [27]:
max_sequence_length = len(max(X, key=len))

In [28]:
import tensorflow as tf

In [29]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import regularizers
from keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(8096, input_shape=(31488,), activation='relu', kernel_regularizer=regularizers.l2(0.001)))
model.add(Dropout(0.1))
model.add(Dense(4048, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(2024, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(1012, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(506, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dropout(0.1))
model.add(Dense(128, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(32, activation='relu', kernel_regularizer=regularizers.l2(0.01)))
model.add(Dense(1, activation='linear'))

early_stopping = EarlyStopping(monitor='mean_squared_error', patience=1, mode='min')
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8096)              254934944

 dropout (Dropout)           (None, 8096)              0

 dense_1 (Dense)             (None, 4048)              32776656

 dropout_1 (Dropout)         (None, 4048)              0

 dense_2 (Dense)             (None, 2024)              8195176

 dropout_2 (Dropout)         (None, 2024)              0

 dense_3 (Dense)             (None, 1012)              2049300

 dropout_3 (Dropout)         (None, 1012)              0

 dense_4 (Dense)             (None, 506)               512578

 dropout_4 (Dropout)         (None, 506)               0

 dense_5 (Dense)             (None, 128)               64896

 dense_6 (Dense)             (None, 32)                4128

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 298,537,711
Trainable params: 298,537,711
Non-trainable params: 0
_________________________________________________________________

In [30]:
X.shape

(1147, 31488)

In [31]:
df1['tweet'] = df1['tweet'].apply(lambda tokens: ' '.join(tokens))
array = df1['tweet'].values
tensor = tf.convert_to_tensor(array)

In [32]:
X.shape

(1147, 31488)

In [33]:
y.shape

(1147,)

In [34]:
history = model.fit(X, Y, batch_size=27, epochs=10, shuffle=True, verbose=1, callbacks=[early_stopping])

Epoch 1/10
43/43 [==============================] - 213s 4s/step - loss: 48.8578 - mean_squared_error: 1.0132
Epoch 2/10
43/43 [==============================] - 168s 4s/step - loss: 17.0370 - mean_squared_error: 0.0758
Epoch 3/10
43/43 [==============================] - 186s 4s/step - loss: 10.7044 - mean_squared_error: 0.0340
Epoch 4/10
43/43 [==============================] - 185s 4s/step - loss: 7.6491 - mean_squared_error: 0.0304
Epoch 5/10
43/43 [==============================] - 179s 4s/step - loss: 5.8212 - mean_squared_error: 0.0302
Epoch 6/10
43/43 [==============================] - 183s 4s/step - loss: 4.6097 - mean_squared_error: 0.0276
Epoch 7/10
43/43 [==============================] - 180s 4s/step - loss: 3.7615 - mean_squared_error: 0.0302

In [35]:
model.save('emointjoy.h5','/Home')

In [36]:
from keras.models import load_model

loaded_model = load_model('emointjoy.h5')

In [37]:
gold= pd.read_csv("Desktop/emoint tweet/fear-ratings-0to1.dev.gold.txt", delimiter='\t', header=None)
gold.columns = ['Id', 'tweet', 'emotion', 'score']

In [38]:
gold

        Id                                              tweet emotion  score
0    21147  I know this is going to be one of those nights...    fear  0.771
1    21148  This is #horrible: Lewis Dunk has begun networ...    fear  0.479
2    21149  @JeffersonLake speaking of ex cobblers, saw Ri...    fear  0.417
3    21150  @1johndes ball watching &amp; Rojo'd header wa...    fear  0.475
4    21151  Really.....#Jumanji 2....w/ The Rock, Jack Bla...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  Staff on @ryainair FR1005. Asked for info and ...    fear  0.312
106  21253  Staff on @ryainair FR1005. Asked for info and ...    fear  0.271
107  21254  An adviser to the #European #Unionâ€™s top #cour...    fear  0.500
108  21255  So about 18mths ago i signed up to @Lumo_Energ...    fear  0.479
109  21256  So about 18mths ago i signed up to @Lumo_Energ...    fear  0.271

[110 rows x 4 columns]

In [39]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
gold['tweet'] = gold['tweet'].apply(preprocess_tweet)

In [40]:
gold

        Id                                              tweet emotion  score
0    21147  i know this is going to be one of those nights...    fear  0.771
1    21148  this is #horrible: lewis dunk has begun networ...    fear  0.479
2    21149  @jeffersonlake speaking of ex cobblers, saw ri...    fear  0.417
3    21150  @1johndes ball watching &amp; rojo'd header wa...    fear  0.475
4    21151  really.....#jumanji 2....w/ the rock, jack bla...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  staff on @ryainair fr1005. asked for info and ...    fear  0.312
106  21253  staff on @ryainair fr1005. asked for info and ...    fear  0.271
107  21254  an adviser to the #european #unionâ€™s top #cour...    fear  0.500
108  21255  so about 18mths ago i signed up to @lumo_energ...    fear  0.479
109  21256  so about 18mths ago i signed up to @lumo_energ...    fear  0.271

[110 rows x 4 columns]

In [41]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

gold['tweet'] = gold['tweet'].apply(remove_mentions)
gold

        Id                                              tweet emotion  score
0    21147  i know this is going to be one of those nights...    fear  0.771
1    21148  this is #horrible: lewis dunk has begun networ...    fear  0.479
2    21149   speaking of ex cobblers, saw ricky holmes at ...    fear  0.417
3    21150   ball watching &amp; rojo'd header was equally...    fear  0.475
4    21151  really.....#jumanji 2....w/ the rock, jack bla...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  staff on  fr1005. asked for info and told to l...    fear  0.312
106  21253  staff on  fr1005. asked for info and told to l...    fear  0.271
107  21254  an adviser to the #european #unionâ€™s top #cour...    fear  0.500
108  21255  so about 18mths ago i signed up to  for their ...    fear  0.479
109  21256  so about 18mths ago i signed up to  for their ...    fear  0.271

[110 rows x 4 columns]

In [42]:
def clean_gold(gold):
    gold  = re.sub(r'[^\w\s#@]', '', gold ) 
    gold  = re.sub(r'\d+', '', gold)  
    gold  = re.sub(r'\s+', ' ', gold).strip()
    return gold

gold['tweet'] = gold['tweet'].apply(clean_gold)

In [43]:
gold

        Id                                              tweet emotion  score
0    21147  i know this is going to be one of those nights...    fear  0.771
1    21148  this is #horrible lewis dunk has begun network...    fear  0.479
2    21149  speaking of ex cobblers saw ricky holmes at ch...    fear  0.417
3    21150  ball watching amp rojod header was equally dre...    fear  0.475
4    21151  really#jumanji w the rock jack black and kevin...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  staff on fr asked for info and told to look on...    fear  0.312
106  21253  staff on fr asked for info and told to look on...    fear  0.271
107  21254  an adviser to the #european #unions top #court...    fear  0.500
108  21255  so about mths ago i signed up to for their vel...    fear  0.479
109  21256  so about mths ago i signed up to for their vel...    fear  0.271

[110 rows x 4 columns]

In [44]:
def convert_emoji(tweet):
    gold = emoji.demojize(tweet)
    return gold

gold['tweet'] = gold['tweet'].apply(convert_emoji)

In [45]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

gold['tweet'] = gold['tweet'].apply(tokenize_tweets)

In [46]:
gold

        Id                                              tweet emotion  score
0    21147  [i, know, this, is, going, to, be, one, of, th...    fear  0.771
1    21148  [this, is, #horrible, lewis, dunk, has, begun,...    fear  0.479
2    21149  [speaking, of, ex, cobblers, saw, ricky, holme...    fear  0.417
3    21150  [ball, watching, amp, rojod, header, was, equa...    fear  0.475
4    21151  [really, #jumanji, w, the, rock, jack, black, ...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  [staff, on, fr, asked, for, info, and, told, t...    fear  0.312
106  21253  [staff, on, fr, asked, for, info, and, told, t...    fear  0.271
107  21254  [an, adviser, to, the, #european, #unions, top...    fear  0.500
108  21255  [so, about, mths, ago, i, signed, up, to, for,...    fear  0.479
109  21256  [so, about, mths, ago, i, signed, up, to, for,...    fear  0.271

[110 rows x 4 columns]

In [47]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]


def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

gold['tweet'] = gold['tweet'].apply(remove_stopwords)

In [48]:
gold

        Id                                              tweet emotion  score
0    21147  [know, going, one, those, nights, takes, act, ...    fear  0.771
1    21148  [#horrible, lewis, dunk, begun, networking, ne...    fear  0.479
2    21149  [speaking, ex, cobblers, saw, ricky, holmes, c...    fear  0.417
3    21150  [ball, watching, amp, rojod, header, equally, ...    fear  0.475
4    21151  [really, #jumanji, rock, jack, black, kevin, h...    fear  0.542
..     ...                                                ...     ...    ...
105  21252  [staff, fr, asked, info, told, look, online, g...    fear  0.312
106  21253  [staff, fr, asked, info, told, look, online, g...    fear  0.271
107  21254  [adviser, #european, #unions, top, #court, sai...    fear  0.500
108  21255  [mths, ago, signed, their, velocity, ff, deal,...    fear  0.479
109  21256  [mths, ago, signed, their, velocity, ff, deal,...    fear  0.271

[110 rows x 4 columns]

In [49]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


gold['features'] = gold['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [50]:
gold["features"][0].shape

(12, 768)

In [51]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =gold['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = gold.copy()
padded_df['features'] = padded_features.tolist()

In [52]:
X_gold= np.stack(padded_df['features'])
print('Input feature shape:', X_gold.shape)

Input feature shape: (110, 40, 768)

In [53]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 41

padded_gold_data = pad_sequences(X_gold, maxlen=max_sequence_length, padding='post', truncating='post')

In [55]:
X = np.reshape(padded_gold_data, (110, 41 * 768))

In [56]:
gold_features = np.array(X)

In [57]:
print(gold_features.shape)

(110, 31488)

In [58]:

predictions = loaded_model.predict(gold_features)

4/4 [==============================] - 1s 173ms/step

In [59]:
print(predictions)

[[0.5156709 ]
 [0.46329266]
 [0.48386526]
 [0.48698324]
 [0.4597918 ]
 [0.5117012 ]
 [0.55958515]
 [0.49263036]
 [0.5181461 ]
 [0.5651391 ]
 [0.5719571 ]
 [0.5850078 ]
 [0.52914345]
 [0.46887633]
 [0.49627924]
 [0.51505166]
 [0.46910596]
 [0.61082125]
 [0.5784122 ]
 [0.562088  ]
 [0.42101935]
 [0.4267837 ]
 [0.49372813]
 [0.5099395 ]
 [0.4629725 ]
 [0.44091418]
 [0.61902326]
 [0.51560116]
 [0.4711641 ]
 [0.51210064]
 [0.47374916]
 [0.43829653]
 [0.45188868]
 [0.4966091 ]
 [0.47757944]
 [0.5735184 ]
 [0.5487175 ]
 [0.5747378 ]
 [0.5403084 ]
 [0.52733374]
 [0.50542456]
 [0.563625  ]
 [0.47232357]
 [0.5260281 ]
 [0.46255192]
 [0.5965444 ]
 [0.5484059 ]
 [0.6394912 ]
 [0.4945289 ]
 [0.51672506]
 [0.49168605]
 [0.49469286]
 [0.6925488 ]
 [0.4873956 ]
 [0.4502115 ]
 [0.44138297]
 [0.4800793 ]
 [0.5998421 ]
 [0.5758794 ]
 [0.47859108]
 [0.56929463]
 [0.40510198]
 [0.40537232]
 [0.4268184 ]
 [0.4473968 ]
 [0.47793162]
 [0.46722105]
 [0.5847932 ]
 [0.49396613]
 [0.50410324]
 [0.47221458]
 [0.51890415]
 [0.48590845]
 [0.5442083 ]
 [0.49477893]
 [0.47691122]
 [0.5404349 ]
 [0.49944755]
 [0.53355956]
 [0.4894894 ]
 [0.48108333]
 [0.3697067 ]
 [0.42718366]
 [0.49210048]
 [0.36114293]
 [0.53387856]
 [0.53648746]
 [0.5082978 ]
 [0.42616746]
 [0.5567318 ]
 [0.6163031 ]
 [0.34402713]
 [0.4573421 ]
 [0.48993474]
 [0.41869158]
 [0.4313248 ]
 [0.50587386]
 [0.4675902 ]
 [0.51182526]
 [0.48454627]
 [0.485465  ]
 [0.4145124 ]
 [0.4712085 ]
 [0.49608886]
 [0.49263173]
 [0.4433105 ]
 [0.4818247 ]
 [0.5790781 ]
 [0.47399122]
 [0.46507964]]

In [60]:
gold['prediction']=pd.DataFrame(predictions)

In [61]:
gold

,Id,tweet,emotion,score,features,prediction
0,21147,"[know, going, one, those, nights, takes, act, ...",fear,0.771,"[[-0.20082852, 0.23499466, 0.26666716, -0.2509...",0.515671
1,21148,"[#horrible, lewis, dunk, begun, networking, ne...",fear,0.479,"[[0.0052761673, 0.09974696, 0.24677433, 0.1428...",0.463293
2,21149,"[speaking, ex, cobblers, saw, ricky, holmes, c...",fear,0.417,"[[-0.1114298, 0.11400322, 0.12179627, -0.36932...",0.483865
3,21150,"[ball, watching, amp, rojod, header, equally, ...",fear,0.475,"[[-0.43671992, 0.057505418, -0.19090301, -0.25...",0.486983
4,21151,"[really, #jumanji, rock, jack, black, kevin, h...",fear,0.542,"[[-0.33436796, 0.09009981, -0.15924482, -0.018...",0.459792
...,...,...,...,...,...,...
105,21252,"[staff, fr, asked, info, told, look, online, g...",fear,0.312,"[[-0.1426141, 0.0785741, 0.31430638, -0.066660...",0.443310
106,21253,"[staff, fr, asked, info, told, look, online, g...",fear,0.271,"[[-0.16974156, 0.0924546, 0.22362891, -0.04701...",0.481825
107,21254,"[adviser, #european, #unions, top, #court, sai...",fear,0.500,"[[-0.6108634, 0.1406612, -0.09995471, -0.29053...",0.579078
108,21255,"[mths, ago, signed, their, velocity, ff, deal,...",fear,0.479,"[[-0.73062104, 0.021704849, 0.4836302, 0.01967...",0.473991
109,21256,"[mths, ago, signed, their, velocity, ff, deal,...",fear,0.271,"[[-0.65487427, 0.06511383, 0.3699499, -0.06512...",0.465080

In [62]:
from sklearn.metrics import mean_squared_error

In [63]:
mse = mean_squared_error(gold['score'], gold['prediction'])
print("Mean square Error:", mse)

Mean square Error: 0.033003402965125085

In [64]:
test= pd.read_csv("Desktop/emoint tweet/fear-ratings-0to1.test.target.txt", delimiter='\t', header=None)
test.columns = ['Id', 'tweet', 'emotion', 'score']

In [65]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
test['tweet'] = test['tweet'].apply(preprocess_tweet)

In [66]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

test['tweet'] = test['tweet'].apply(remove_mentions)
test

        Id                                              tweet emotion score
0    21257  #matthew 25; 1-13\ncould somebody shoot a #vid...    fear  NONE
1    21258    which really sucks because typing on a mobil...    fear  NONE
2    21259  be #afraid of the #quiet ones they are the one...    fear  NONE
3    21260   he's a horrible person and now i gag when i s...    fear  NONE
4    21261  what we fear doing most is usually what we mos...    fear  NONE
..     ...                                                ...     ...   ...
990  22247   9 -9 vs atlanta this yr, 2 - 11 vs rockies an...    fear  NONE
991  22248                                   i'm shaking now.    fear  NONE
992  22249  me: are you guys dating yet #trans #nervous #b...    fear  NONE
993  22250  she: why are you listening to the eurythmics?\...    fear  NONE
994  22251  and claimed that all of the same things could ...    fear  NONE

[995 rows x 4 columns]

In [67]:
def clean_test(test):
    test  = re.sub(r'[^\w\s#@]', '', test ) 
    test  = re.sub(r'\d+', '', test)  
    test  = re.sub(r'\s+', ' ', test).strip()
    return test

test['tweet'] = test['tweet'].apply(clean_test)

In [68]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

test['tweet'] = test['tweet'].apply(tokenize_tweets)

In [69]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens


test['tweet'] = test['tweet'].apply(remove_stopwords)

In [70]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    tokenized_text = ' '.join(tweet)
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    with torch.no_grad():
        outputs = model(input_ids)
    last_hidden_states = outputs.last_hidden_state
    features = last_hidden_states.squeeze(0).numpy()
    return features


test['features'] = test['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [71]:
test["features"][0].shape

(22, 768)

In [72]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
features =test['features'].tolist()

padded_features = pad_sequences(features, padding='post')

padded_df = test.copy()
padded_df['features'] = padded_features.tolist()

In [73]:
X_test= np.stack(padded_df['features'])
print('Input feature shape:', X_test.shape)

Input feature shape: (995, 38, 768)

In [74]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 41
truncated_test_data = pad_sequences(X_test, maxlen=max_sequence_length, padding='post', truncating='post')

print(truncated_test_data.shape)

(995, 41, 768)

In [76]:
X = np.reshape(truncated_test_data, (995, 41 * 768))

In [77]:
test_features = np.array(X)

In [78]:
print(test_features.shape)

(995, 31488)

In [79]:

predictions = loaded_model.predict(test_features)

32/32 [==============================] - 4s 134ms/step

In [80]:
print(predictions)

[[0.50026184]
 [0.5481893 ]
 [0.5215363 ]
 [0.4408408 ]
 [0.563223  ]
 [0.5123622 ]
 [0.5534655 ]
 [0.5848606 ]
 [0.5374498 ]
 [0.543158  ]
 [0.6040136 ]
 [0.55956805]
 [0.5181162 ]
 [0.5662841 ]
 [0.5511442 ]
 [0.53213876]
 [0.5410506 ]
 [0.4854576 ]
 [0.4529214 ]
 [0.4973553 ]
 [0.5497619 ]
 [0.4713636 ]
 [0.5279356 ]
 [0.54562026]
 [0.52188855]
 [0.537604  ]
 [0.4972305 ]
 [0.58875924]
 [0.5560321 ]
 [0.45461798]
 [0.45070103]
 [0.49043754]
 [0.4762447 ]
 [0.4232683 ]
 [0.47513476]
 [0.52878857]
 [0.5637623 ]
 [0.7293352 ]
 [0.5697651 ]
 [0.52456087]
 [0.4633235 ]
 [0.46756002]
 [0.51122046]
 [0.5574097 ]
 [0.42910868]
 [0.4861828 ]
 [0.419192  ]
 [0.50288814]
 [0.5670861 ]
 [0.4938065 ]
 [0.48123902]
 [0.5124925 ]
 [0.5535056 ]
 [0.51496863]
 [0.57860893]
 [0.5478402 ]
 [0.5001272 ]
 [0.5517594 ]
 [0.5204648 ]
 [0.45577502]
 [0.41979095]
 [0.489095  ]
 [0.5100465 ]
 [0.51027256]
 [0.6097312 ]
 [0.5569446 ]
 [0.46642476]
 [0.3641048 ]
 [0.42972398]
 [0.5477738 ]
 [0.53355587]
 [0.5021558 ]
 [0.61802256]
 [0.47571054]
 [0.47774816]
 [0.5022841 ]
 [0.55036896]
 [0.5599985 ]
 [0.5026285 ]
 [0.42272434]
 [0.50064874]
 [0.5486406 ]
 [0.5331601 ]
 [0.47923398]
 [0.4549035 ]
 [0.4349103 ]
 [0.5867812 ]
 [0.52699685]
 [0.4918208 ]
 [0.4954478 ]
 [0.5883531 ]
 [0.5401514 ]
 [0.5117196 ]
 [0.50200176]
 [0.56853825]
 [0.5179327 ]
 [0.46528572]
 [0.49675053]
 [0.4872259 ]
 [0.49567547]
 [0.3724922 ]
 [0.5283637 ]
 [0.57812774]
 [0.49253252]
 [0.56474525]
 [0.52483946]
 [0.476826  ]
 [0.45071086]
 [0.4956916 ]
 [0.48174948]
 [0.5625797 ]
 [0.43436345]
 [0.47514877]
 [0.51794654]
 [0.44213292]
 [0.50159   ]
 [0.49854594]
 [0.5466028 ]
 [0.59545094]
 [0.49988025]
 [0.50141656]
 [0.5489182 ]
 [0.5033735 ]
 [0.4274963 ]
 [0.46844858]
 [0.46691453]
 [0.50514215]
 [0.51704276]
 [0.50069284]
 [0.42628413]
 [0.48040178]
 [0.47072926]
 [0.41183525]
 [0.45078507]
 [0.5161894 ]
 [0.4876569 ]
 [0.56865364]
 [0.53902864]
 [0.48769107]
 [0.41628963]
 [0.44094795]
 [0.5106397 ]
 [0.5742982 ]
 [0.503072  ]
 [0.5509837 ]
 [0.5320665 ]
 [0.54576236]
 [0.45192325]
 [0.5106455 ]
 [0.50776476]
 [0.48764682]
 [0.45911023]
 [0.57307154]
 [0.59741604]
 [0.4641555 ]
 [0.4416586 ]
 [0.45950732]
 [0.4796654 ]
 [0.44270155]
 [0.5651895 ]
 [0.42633444]
 [0.455853  ]
 [0.47472307]
 [0.51112473]
 [0.54136175]
 [0.51738954]
 [0.4812612 ]
 [0.45426962]
 [0.4732379 ]
 [0.56419635]
 [0.56274897]
 [0.45512846]
 [0.5466873 ]
 [0.673538  ]
 [0.44354174]
 [0.45185757]
 [0.5782862 ]
 [0.5910087 ]
 [0.50249106]
 [0.46087146]
 [0.46913844]
 [0.46277404]
 [0.5278969 ]
 [0.58763814]
 [0.45389926]
 [0.4701299 ]
 [0.5653898 ]
 [0.4076238 ]
 [0.48116183]
 [0.42364794]
 [0.5227407 ]
 [0.5457049 ]
 [0.51223975]
 [0.4657649 ]
 [0.49780244]
 [0.5226033 ]
 [0.45740747]
 [0.48914653]
 [0.44389245]
 [0.5123764 ]
 [0.43002388]
 [0.59747535]
 [0.58582705]
 [0.56405866]
 [0.4378538 ]
 [0.46486288]
 [0.53377485]
 [0.541903  ]
 [0.5316347 ]
 [0.49935403]
 [0.4914847 ]
 [0.46083322]
 [0.49489826]
 [0.5787696 ]
 [0.61194533]
 [0.5022887 ]
 [0.5634336 ]
 [0.53963214]
 [0.46995935]
 [0.4624695 ]
 [0.5119373 ]
 [0.54588556]
 [0.48290476]
 [0.50372416]
 [0.52342916]
 [0.40938255]
 [0.4674983 ]
 [0.55283034]
 [0.54299575]
 [0.69052297]
 [0.6630801 ]
 [0.5705042 ]
 [0.59469235]
 [0.6172163 ]
 [0.5277131 ]
 [0.5137607 ]
 [0.5153793 ]
 [0.53218275]
 [0.46391883]
 [0.4648589 ]
 [0.4530242 ]
 [0.49140495]
 [0.4653653 ]
 [0.45252573]
 [0.55036205]
 [0.53253734]
 [0.47355387]
 [0.5779076 ]
 [0.4896572 ]
 [0.5620831 ]
 [0.5120449 ]
 [0.50814617]
 [0.46287632]
 [0.50455093]
 [0.4963053 ]
 [0.45849437]
 [0.57254785]
 [0.500117  ]
 [0.5834839 ]
 [0.5401445 ]
 [0.41876236]
 [0.5220429 ]
 [0.5006365 ]
 [0.5083401 ]
 [0.56599146]
 [0.525895  ]
 [0.4910476 ]
 [0.4627336 ]
 [0.35454708]
 [0.50789577]
 [0.4511299 ]
 [0.4027506 ]
 [0.4433071 ]
 [0.53555137]
 [0.46506336]
 [0.5802386 ]
 [0.5167266 ]
 [0.5251721 ]
 [0.58517   ]
 [0.5038504 ]
 [0.4693783 ]
 [0.45318636]
 [0.4873913 ]
 [0.5106098 ]
 [0.54884386]
 [0.55100906]
 [0.4964905 ]
 [0.50627106]
 [0.4793999 ]
 [0.5489132 ]
 [0.5190821 ]
 [0.5740716 ]
 [0.45081472]
 [0.3586993 ]
 [0.5149778 ]
 [0.47399187]
 [0.5245977 ]
 [0.642103  ]
 [0.4380769 ]
 [0.4670933 ]
 [0.49508986]
 [0.48756102]
 [0.5459768 ]
 [0.40938532]
 [0.44636425]
 [0.49854764]
 [0.5942275 ]
 [0.41905403]
 [0.5476081 ]
 [0.5652497 ]
 [0.4545451 ]
 [0.57515883]
 [0.4361389 ]
 [0.43601367]
 [0.49683163]
 [0.44986063]
 [0.5618891 ]
 [0.55232286]
 [0.5344693 ]
 [0.41379014]
 [0.41198012]
 [0.5264698 ]
 [0.47416225]
 [0.4377564 ]
 [0.46685624]
 [0.46882707]
 [0.45909342]
 [0.54101527]
 [0.43868384]
 [0.5430514 ]
 [0.51314527]
 [0.60594356]
 [0.49667025]
 [0.55124605]
 [0.57872015]
 [0.48655018]
 [0.52082795]
 [0.51839405]
 [0.45087352]
 [0.4116533 ]
 [0.47761983]
 [0.39859283]
 [0.36194167]
 [0.5678569 ]
 [0.5834533 ]
 [0.5867443 ]
 [0.5157492 ]
 [0.5168531 ]
 [0.49689358]
 [0.54456484]
 [0.5537644 ]
 [0.53156006]
 [0.3537773 ]
 [0.4414161 ]
 [0.43568093]
 [0.4607029 ]
 [0.6364602 ]
 [0.49682304]
 [0.46423024]
 [0.50982034]
 [0.47484845]
 [0.5771485 ]
 [0.5168007 ]
 [0.5293977 ]
 [0.5452691 ]
 [0.56619114]
 [0.5869367 ]
 [0.49430567]
 [0.501548  ]
 [0.5303549 ]
 [0.47237507]
 [0.49584693]
 [0.57592505]
 [0.5681657 ]
 [0.51212424]
 [0.5126617 ]
 [0.5211749 ]
 [0.48294967]
 [0.5117872 ]
 [0.45743832]
 [0.47001684]
 [0.44665235]
 [0.538588  ]
 [0.47988757]
 [0.40129876]
 [0.37457365]
 [0.54375386]
 [0.5739034 ]
 [0.5574311 ]
 [0.57071567]
 [0.4670717 ]
 [0.595793  ]
 [0.48046085]
 [0.46758032]
 [0.44360432]
 [0.5285928 ]
 [0.5659549 ]
 [0.5168611 ]
 [0.5039926 ]
 [0.4961884 ]
 [0.5807303 ]
 [0.6126673 ]
 [0.552498  ]
 [0.62053645]
 [0.4484194 ]
 [0.39921927]
 [0.47139615]
 [0.55505204]
 [0.5204979 ]
 [0.47341722]
 [0.5012386 ]
 [0.6382041 ]
 [0.58367074]
 [0.53049546]
 [0.47360843]
 [0.49939936]
 [0.4969065 ]
 [0.56336683]
 [0.4612742 ]
 [0.51828223]
 [0.4752891 ]
 [0.511835  ]
 [0.5106496 ]
 [0.45650294]
 [0.5246973 ]
 [0.5142196 ]
 [0.4929606 ]
 [0.5076916 ]
 [0.55231845]
 [0.60805345]
 [0.51526785]
 [0.6411249 ]
 [0.56123954]
 [0.4449589 ]
 [0.44587356]
 [0.4669543 ]
 [0.5067329 ]
 [0.4356481 ]
 [0.4145255 ]
 [0.41983494]
 [0.34247413]
 [0.63063204]
 [0.5736271 ]
 [0.5051724 ]
 [0.45561957]
 [0.512697  ]
 [0.52441543]
 [0.5847824 ]
 [0.46309993]
 [0.48031375]
 [0.5171257 ]
 [0.47438374]
 [0.4509171 ]
 [0.5180221 ]
 [0.4886695 ]
 [0.4428972 ]
 [0.44541278]
 [0.40670994]
 [0.5452756 ]
 [0.46582484]
 [0.4822314 ]
 [0.5382164 ]
 [0.54482424]
 [0.40177214]
 [0.3907609 ]
 [0.49592534]
 [0.51210415]
 [0.4756422 ]
 [0.6435751 ]
 [0.53259283]
 [0.54337096]
 [0.4486575 ]
 [0.5295556 ]
 [0.56733084]
 [0.51562023]
 [0.55200547]
 [0.49286085]
 [0.4728717 ]
 [0.3831781 ]
 [0.6063864 ]
 [0.55996853]
 [0.3994749 ]
 [0.40628216]
 [0.41166976]
 [0.5218052 ]
 [0.38640997]
 [0.4169157 ]
 [0.55456144]
 [0.5041282 ]
 [0.45757887]
 [0.5094597 ]
 [0.48555383]
 [0.43852675]
 [0.48503837]
 [0.44365937]
 [0.5791888 ]
 [0.4636385 ]
 [0.40752837]
 [0.5743654 ]
 [0.49733227]
 [0.5161943 ]
 [0.5176583 ]
 [0.60188234]
 [0.5043269 ]
 [0.5446621 ]
 [0.46865687]
 [0.4623289 ]
 [0.4390508 ]
 [0.5090606 ]
 [0.45347327]
 [0.4801102 ]
 [0.55110353]
 [0.4838913 ]
 [0.5622399 ]
 [0.5335312 ]
 [0.5476628 ]
 [0.46899727]
 [0.48406303]
 [0.47543576]
 [0.59846956]
 [0.52022517]
 [0.48890918]
 [0.4705209 ]
 [0.510978  ]
 [0.471596  ]
 [0.5201434 ]
 [0.53425694]
 [0.4594834 ]
 [0.45437983]
 [0.48468488]
 [0.5501828 ]
 [0.618129  ]
 [0.4543402 ]
 [0.5176671 ]
 [0.5501348 ]
 [0.55749   ]
 [0.42611808]
 [0.40786186]
 [0.503589  ]
 [0.52098703]
 [0.47803998]
 [0.48256865]
 [0.45953095]
 [0.4184075 ]
 [0.6256303 ]
 [0.4644686 ]
 [0.43553102]
 [0.52034277]
 [0.48794156]
 [0.49299315]
 [0.5521488 ]
 [0.5314267 ]
 [0.46107903]
 [0.41190228]
 [0.5093948 ]
 [0.44022575]
 [0.5346173 ]
 [0.43379757]
 [0.45323417]
 [0.5468273 ]
 [0.6342383 ]
 [0.44114614]
 [0.38659582]
 [0.50507814]
 [0.48759714]
 [0.50424   ]
 [0.5030244 ]
 [0.48314214]
 [0.4835988 ]
 [0.6065425 ]
 [0.5415166 ]
 [0.4242804 ]
 [0.56927013]
 [0.3804416 ]
 [0.5799376 ]
 [0.5363595 ]
 [0.5659795 ]
 [0.49985385]
 [0.39929667]
 [0.5054186 ]
 [0.51434594]
 [0.5244817 ]
 [0.44074833]
 [0.45082653]
 [0.52080894]
 [0.5761868 ]
 [0.58516926]
 [0.4161797 ]
 [0.46230078]
 [0.5089948 ]
 [0.5157695 ]
 [0.4053712 ]
 [0.5503721 ]
 [0.5756374 ]
 [0.44618666]
 [0.48269433]
 [0.6011254 ]
 [0.5195581 ]
 [0.54634917]
 [0.5630729 ]
 [0.55413747]
 [0.6266281 ]
 [0.54016954]
 [0.46218187]
 [0.4724866 ]
 [0.5665449 ]
 [0.5640318 ]
 [0.5413499 ]
 [0.5089859 ]
 [0.41670302]
 [0.5369207 ]
 [0.5329937 ]
 [0.48602867]
 [0.5391059 ]
 [0.5583733 ]
 [0.6591401 ]
 [0.62836826]
 [0.54374856]
 [0.6150094 ]
 [0.5365829 ]
 [0.48492172]
 [0.45190373]
 [0.51663077]
 [0.50738233]
 [0.44187182]
 [0.5526315 ]
 [0.5216835 ]
 [0.47169206]
 [0.5151139 ]
 [0.55623287]
 [0.5464969 ]
 [0.50999045]
 [0.5340941 ]
 [0.5161894 ]
 [0.51134354]
 [0.45288056]
 [0.51605743]
 [0.4488024 ]
 [0.4150918 ]
 [0.6262031 ]
 [0.51111877]
 [0.5209642 ]
 [0.49251765]
 [0.44804466]
 [0.568482  ]
 [0.51938015]
 [0.47992077]
 [0.45889944]
 [0.4041474 ]
 [0.46599796]
 [0.5240234 ]
 [0.43052188]
 [0.560653  ]
 [0.51947147]
 [0.5406109 ]
 [0.49699208]
 [0.4749622 ]
 [0.51285964]
 [0.522406  ]
 [0.66088796]
 [0.5301043 ]
 [0.45701522]
 [0.4673586 ]
 [0.5037244 ]
 [0.49143767]
 [0.48693547]
 [0.51324654]
 [0.6010603 ]
 [0.46770814]
 [0.61652595]
 [0.41636238]
 [0.42858288]
 [0.4999299 ]
 [0.44461405]
 [0.48781392]
 [0.6200363 ]
 [0.5707826 ]
 [0.49784184]
 [0.48155427]
 [0.5362402 ]
 [0.50426173]
 [0.50966   ]
 [0.48539636]
 [0.4755709 ]
 [0.51577735]
 [0.56814206]
 [0.60035753]
 [0.51375777]
 [0.5428671 ]
 [0.5034694 ]
 [0.6903074 ]
 [0.6281222 ]
 [0.39151344]
 [0.5022654 ]
 [0.4834546 ]
 [0.4371757 ]
 [0.387835  ]
 [0.46732584]
 [0.4998763 ]
 [0.44606313]
 [0.48751354]
 [0.6179299 ]
 [0.5671607 ]
 [0.54239327]
 [0.5403956 ]
 [0.46425328]
 [0.4520488 ]
 [0.45376486]
 [0.51419884]
 [0.5484633 ]
 [0.49432886]
 [0.48651916]
 [0.57605594]
 [0.4628991 ]
 [0.48261   ]
 [0.4618323 ]
 [0.47848532]
 [0.5271612 ]
 [0.49706072]
 [0.51474375]
 [0.45343247]
 [0.5676191 ]
 [0.48171923]
 [0.555535  ]
 [0.518296  ]
 [0.5073357 ]
 [0.54448324]
 [0.5777613 ]
 [0.5806547 ]
 [0.49734557]
 [0.49665532]
 [0.5651341 ]
 [0.47104153]
 [0.5025445 ]
 [0.62018704]
 [0.55021584]
 [0.63340354]
 [0.6254097 ]
 [0.39393485]
 [0.4613908 ]
 [0.70657015]
 [0.50904936]
 [0.52195233]
 [0.39127302]
 [0.4449612 ]
 [0.5351612 ]
 [0.50736797]
 [0.45214444]
 [0.51122564]
 [0.5120449 ]
 [0.46896774]
 [0.4904909 ]
 [0.55519754]
 [0.6221851 ]
 [0.55336326]
 [0.55804724]
 [0.49175075]
 [0.4812275 ]
 [0.5147372 ]
 [0.447344  ]
 [0.4811029 ]
 [0.47165576]
 [0.56997925]
 [0.38814425]
 [0.54596144]
 [0.36194167]
 [0.5307553 ]
 [0.5697544 ]
 [0.45444134]
 [0.57836354]
 [0.57581306]
 [0.46219945]
 [0.5143042 ]
 [0.52527964]
 [0.46578315]
 [0.53158396]
 [0.4954135 ]
 [0.5832716 ]
 [0.6006774 ]
 [0.4262698 ]
 [0.45598423]
 [0.5047438 ]
 [0.5511089 ]
 [0.4950966 ]
 [0.53070486]
 [0.63655436]
 [0.58623666]
 [0.49798572]
 [0.58612126]
 [0.60724074]
 [0.410552  ]
 [0.57392275]
 [0.5346899 ]
 [0.56719077]
 [0.511018  ]
 [0.49035737]
 [0.5048414 ]
 [0.51362646]
 [0.58262455]
 [0.40025365]
 [0.6146446 ]
 [0.5164205 ]
 [0.50270796]
 [0.6177838 ]
 [0.4027506 ]
 [0.47829145]
 [0.5109664 ]
 [0.4854925 ]
 [0.47671452]
 [0.45759544]
 [0.49961352]
 [0.55262023]
 [0.5402396 ]
 [0.532936  ]
 [0.53899884]
 [0.490416  ]
 [0.49012712]
 [0.43896094]
 [0.46559307]
 [0.43361178]
 [0.47151405]
 [0.61745614]
 [0.5063548 ]
 [0.5108592 ]
 [0.42167577]
 [0.5618315 ]
 [0.56133485]
 [0.5215688 ]
 [0.48777103]
 [0.4790974 ]
 [0.34992537]
 [0.57766753]
 [0.45430884]
 [0.5008087 ]
 [0.5603407 ]
 [0.46218696]
 [0.43402672]
 [0.42548746]
 [0.5378377 ]
 [0.48180836]
 [0.40326124]
 [0.45488808]
 [0.46142372]
 [0.5153961 ]
 [0.49736014]
 [0.50256246]
 [0.45884466]
 [0.4534834 ]
 [0.5356141 ]
 [0.48768628]
 [0.5019723 ]
 [0.5093273 ]
 [0.52406865]
 [0.5481008 ]
 [0.44877052]
 [0.59763   ]
 [0.47860393]
 [0.5413009 ]
 [0.4964972 ]
 [0.538336  ]
 [0.46501258]
 [0.47697824]
 [0.49217612]
 [0.55148154]
 [0.5106634 ]
 [0.4886401 ]
 [0.5180963 ]
 [0.4983583 ]
 [0.45769095]
 [0.46148306]
 [0.5457536 ]
 [0.5919181 ]
 [0.5346855 ]
 [0.5570311 ]
 [0.52994144]
 [0.56880194]
 [0.49424374]
 [0.5793725 ]
 [0.46372595]
 [0.40295258]
 [0.5464068 ]
 [0.4636242 ]
 [0.40925664]
 [0.4429949 ]
 [0.48194957]
 [0.43823394]
 [0.44503012]
 [0.44503012]
 [0.45072606]
 [0.45347345]
 [0.5007229 ]
 [0.43107983]
 [0.49937063]
 [0.41155985]
 [0.5390117 ]
 [0.5682833 ]
 [0.57882255]
 [0.5849631 ]
 [0.5181848 ]
 [0.52691704]
 [0.44351575]
 [0.4230491 ]
 [0.50618726]
 [0.5291437 ]
 [0.5075668 ]
 [0.49251544]
 [0.55388314]
 [0.5540767 ]
 [0.50577253]
 [0.35182056]
 [0.4363953 ]
 [0.49495193]
 [0.4398446 ]
 [0.39087072]
 [0.5452637 ]
 [0.56748223]
 [0.54637545]
 [0.56808764]
 [0.52119166]
 [0.646395  ]
 [0.52223027]
 [0.5450226 ]
 [0.5169831 ]
 [0.50088483]
 [0.5325474 ]
 [0.39200634]
 [0.45055553]
 [0.42359877]
 [0.40030327]
 [0.5394357 ]
 [0.49113393]
 [0.44189557]
 [0.57132274]
 [0.4794576 ]
 [0.4864633 ]
 [0.45836988]
 [0.54745656]
 [0.47592536]
 [0.47784355]
 [0.4545752 ]
 [0.5016063 ]
 [0.5329246 ]
 [0.5201297 ]
 [0.4827527 ]
 [0.40713367]
 [0.51394045]
 [0.5041568 ]
 [0.49922216]
 [0.59471095]
 [0.5240774 ]
 [0.4680794 ]
 [0.48512152]
 [0.5570598 ]
 [0.51054597]
 [0.52611846]
 [0.50870144]
 [0.583844  ]
 [0.48035505]
 [0.5639924 ]
 [0.5640878 ]
 [0.5229885 ]
 [0.54485625]
 [0.5151325 ]
 [0.6128186 ]
 [0.517902  ]
 [0.44676185]
 [0.5161307 ]
 [0.53191566]
 [0.51646066]
 [0.47495943]
 [0.4868216 ]
 [0.44066334]
 [0.4995368 ]
 [0.54669   ]
 [0.49879697]
 [0.49890545]
 [0.42526618]
 [0.43988526]
 [0.41692984]
 [0.45926344]
 [0.49201357]
 [0.495622  ]
 [0.50987756]
 [0.45997486]
 [0.47835323]
 [0.43155572]
 [0.5180019 ]
 [0.54663026]
 [0.53494227]
 [0.41867125]
 [0.36388952]
 [0.5159916 ]
 [0.618405  ]
 [0.5092782 ]
 [0.54928726]]

In [81]:
test['score']=pd.DataFrame(predictions)

In [82]:
test

,Id,tweet,emotion,score,features
0,21257,"[#matthew, ncould, somebody, shoot, #video, it...",fear,0.500262,"[[0.089441895, 0.4333227, 0.16138215, -0.14375..."
1,21258,"[which, really, sucks, because, typing, mobile...",fear,0.548189,"[[0.23424134, 0.25051132, 0.11579197, -0.18509..."
2,21259,"[#afraid, #quiet, ones, they, ones, who, actua...",fear,0.521536,"[[0.06307171, 0.042609587, 0.071758054, -0.120..."
3,21260,"[hes, horrible, person, now, gag, see, people,...",fear,0.440841,"[[0.12389825, 0.647158, 0.07964105, 0.02110767..."
4,21261,"[what, fear, doing, usually, what, need, do, t...",fear,0.563223,"[[-0.45358893, 0.08992868, 0.26345077, -0.0969..."
...,...,...,...,...,...
990,22247,"[vs, atlanta, yr, vs, rockies, dbacks, yr, tha...",fear,0.363890,"[[-1.0402302, -0.45375535, -0.13067436, -0.273..."
991,22248,"[im, shaking, now]",fear,0.515992,"[[-0.13404948, 0.59542483, 0.16308185, -0.3877..."
992,22249,"[guys, dating, yet, #trans, #nervous, #blowjob...",fear,0.618405,"[[-0.4921757, -0.14156745, 0.11549412, 0.06342..."
993,22250,"[she, listening, eurythmicsnme, polish, gothic...",fear,0.509278,"[[-0.24457596, 0.50185347, 0.3598852, -0.57467..."
994,22251,"[claimed, things, scare, usnbut, tough, becaus...",fear,0.549287,"[[-0.030488538, -0.027727623, 0.08749278, -0.0..."

In [83]:
test=test.drop('features',axis=1)

In [84]:
test

,Id,tweet,emotion,score
0,21257,"[#matthew, ncould, somebody, shoot, #video, it...",fear,0.500262
1,21258,"[which, really, sucks, because, typing, mobile...",fear,0.548189
2,21259,"[#afraid, #quiet, ones, they, ones, who, actua...",fear,0.521536
3,21260,"[hes, horrible, person, now, gag, see, people,...",fear,0.440841
4,21261,"[what, fear, doing, usually, what, need, do, t...",fear,0.563223
...,...,...,...,...
990,22247,"[vs, atlanta, yr, vs, rockies, dbacks, yr, tha...",fear,0.363890
991,22248,"[im, shaking, now]",fear,0.515992
992,22249,"[guys, dating, yet, #trans, #nervous, #blowjob...",fear,0.618405
993,22250,"[she, listening, eurythmicsnme, polish, gothic...",fear,0.509278
994,22251,"[claimed, things, scare, usnbut, tough, becaus...",fear,0.549287